[2020-02-21 23:56] alfredoh1234 opened #241 "RI5CY: User Manual v4.2-14.5.1 missing information for pv.shuffle2.* instruction"
The pv.shuffle.h and pv shuffle2.b instructions assign parts of rs1 to rD, but the instruction description doesn't indicate which part:
For example:
* pv.shuffle2.h:
  * rD[31:16] = ((rs2[17] == 1) ? rs1 **[missing information here]**
* pv.shuffle2.b:
  * rD[31:24] = ((rs2[26] == 1) ? rs1 **[missing information here]**

[2020-02-24 21:34] davideschiavone commented on #218
487c8ac627e6fc7ead14c998a9a2f613e2ac57fe

[2020-02-24 21:34] #218 closed

[2020-02-24 22:58] bluewww commented on #239
Let me add my thoughts on this topic:
I'm currently aware of several *manifest* formats that are going around:
* [fusesoc's core files](https://fusesoc.readthedocs.io/en/latest/user/overview.html) (by OlofK, used by lowrisc)
* `src_files.yml` and `ips_list.yml` by [IPapproX](https://github.com/pulp-platform/ipapprox) (ETH)
* `bender.yml` by [bender](https://github.com/fabianschuiki/bender) (ETH, k

[2020-02-24 23:21] jm4rtin commented on #239
We use an IP-XACT description of the block. We take the FPU, tech libraries, core and debugger and use Git sub modules to link them together. We then treat that combination as the IP. We could have described each individually in IP-XACT but chose not to.

We then add some groups to the file set and use an internal tool to generate the correct file lists/scripts needed (pulling only the files liste

[2020-02-25 04:11] MikeOpenHWGroup commented on #239
Hmmm.  This discussion is not converging on a solution, and its important that we find one quickly.  I would like to suggest a conference call instead.  I am not available tomorrow (February 25), but am otherwise available any time.  Would sometime in the early afternoon (CET) on Wednesday, February 26 work for everyone?

[2020-02-26 09:56] Silabs-ArjanB opened #243 "Why are only 5 bits of the IRQ id used for irq_id_o and exc_cause_o?"
I see in https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_controller.sv that only the least significant 5 bits of the IRQ identifier are used when assigning irq_id_o and exc_cause_o. Furthermore irq_ack_o is only asserted when irq_id_ctrl_i[5] and not for the other interrupts.

Could you explain why not all interrupt sources are being treated equally?

[2020-02-26 11:13] davideschiavone commented on #243
Because we though to use the custom id_o+ack protocol only for the CLINTx extensions to avoid confusion for those who want to use only the CLINT interrupts (the Ibex ones).
In this way, systems that use the old PULP-way to interact with interrupts do not have to change the interrupt controller (as this is still 5bits), but only to add a one-hot-encoder to connect the old irq + id to the 32 fastx i

[2020-02-27 15:03] shirley85159 opened #244 "interrupt_test.hex produce "illegal instruction handler entered" message"
Hi there,
I was trying to run tests for the core using vsim, firmware and custom work fine for me but I got following error when I try to run interrupt_test. I used make interrupt-vsim-run for it. Is there any reason this happens? Thanks a lot!
![image](https://user-images.githubusercontent.com/61219005/75456192-33cfdf80-5948-11ea-8b04-3347689c787d.png)

[2020-02-27 15:16] Silabs-ArjanB commented on #243
@davideschiavone Could you please point me to the intended interrupt controller for both CLINT and CLINTx interrupts? What if somebody wants to use all the interrupt inputs; will they need 2 interrupt controllers or will they somehow need to differentiate in their software on how they clear interrupts based on their id?

[2020-02-28 19:18] MikeOpenHWGroup commented on #239
During a conference call on 2020-02-27 with @davideschiavone, it was decided to start by creating a manually generated "flist" style manifest.  This has been done: see pull-request https://github.com/openhwgroup/cv32e40p/pull/245.

Having this in place will enable early synthesis trials.

As the trials progress I will investigate the use of [bender](https://github.com/fabianschuiki/bender) for man

[2020-03-02 20:36] davideschiavone opened #246 "Remove deprecated alu_basic file"
Remove alu_basic from rtl folder and manifest file

[2020-03-02 20:38] davideschiavone opened #247 "Cleanup manifest file"

[2020-03-02 20:42] davideschiavone opened #248 "Rename clock gating module"
The file is called *sim*, which is correct as it is meant to be a simulation-only file.
Not for synthesis.

The module though, should not have the sim name as it should be replace by a technology file where the real clock gating cell should be instantiated instead.

In that case, the tech file should be a SV file called cv32e40p_techname_clock_gating.sv which instantiate the CG cell. The module na

[2020-03-03 07:43] Silabs-ArjanB commented on #239
Our preference would be to use IP-XACT.

[2020-03-03 13:11] MikeOpenHWGroup commented on #239
Hi @Silabs-ArjanB, I have no preference one way or another.  However, if anyone wants to use a particular solution (IP_XACT, Bender, YAML, etc.), they must also contribute:
- configuration files to define the manifest;
- scriptware to process them into something that synthesis and simulation can use;
- documentation (a README.md will suffice) to allow others to use the above to create manifests fo

[2020-03-03 16:05] davideschiavone commented on #246
https://github.com/openhwgroup/cv32e40p/pull/249

[2020-03-03 16:05] #246 closed

[2020-03-05 14:49] davideschiavone opened #252 "Align the code to the lowRISC style-guide"
The code should be restructerd following the lowRISC style-guides defined at

https://github.com/lowRISC/style-guides

[2020-03-06 10:36] davideschiavone opened #253 "Move CLINTx CSR addresses to custom space"
Proposed addresses are

MIEX = 0x7d0
MTVECX = 0x7d1
MIPX = 0x7d2

[2020-03-09 16:43] jm4rtin opened #254 "mtvec is tied to boot_addr_i when PULP_SECURE=0"
When user mode is not added to the core (PULP_SECURE=0) the mtvec CSR has a fixed value (boot_addr_i) that can't be changed. We would like the ability to change this address even if user mode is not enabled in the core.

[2020-03-10 09:06] davideschiavone commented on #254
Dear all, @Silabs-ArjanB , @sjthales , @haugoug   what do you think about it?
Having the MTVEC read-only is ok by SPEC and it gives the possibility to save one 32b register.
I would like to ear your opinion to decide whether we want to have it READ-ONLY like today or writable like @jm4rtin  proposes.

[2020-03-10 09:14] #248 closed

[2020-03-10 15:52] Imperas opened #255 "Tracer does not log fence.i instruction"
@davideschiavone
As discussed earlier, when executing the fence.i instruction, this is not reported by the tracer.
This causes the step/compare to lose synchronization
could we please have a fix to this so that the step and compare is consistent
Thx
Lee

[2020-03-10 16:06] davideschiavone commented on #243
Hello @Silabs-ArjanB , there is none for the moment. It's a feature that has no interrupt controller designed for it. We simply disabled the ACK signal from the core for the CLINT to avoid confusion when people want to use it without (personally I don't like it though).
If we want to change it I am complety ok with it.
What do you think?

[2020-03-10 17:03] GTumbush opened #256 "Retire signal not correct for CSRs"
Opening this issue based on call March 10, 2020.

The tracer does not support printing CSR's to the tracer file.  I attempted to compare cv32e40p mstatus_q to mstatus predicted by the Imperas ISS and experienced inconsistent timing of mstatus_q update for the mret and ecall instructions.

The mret instruction updates mstatus_q to 8, 1 clock cycle after the retire signal (see below).
![image](https

[2020-03-10 17:09] GTumbush commented on #256
Adding the cycles signal to make the mret and ecall instructions easier to find:
![image](https://user-images.githubusercontent.com/54555114/76339217-66ba9180-62bf-11ea-8130-c6292615865b.png)

![image](https://user-images.githubusercontent.com/54555114/76339296-7fc34280-62bf-11ea-8739-f360a0d2df5d.png)

[2020-03-10 22:19] bluewww commented on #254
I think for `PULP_SECURE=1` the `mtvec` register is 24 bits (lower 8 bits zeroed). In my opinion it makes sense to also make `mtvec` dynamic for `PULP_SECURE=0`.

There is obviously always the last possibility of making this behavior (hardcoded mtvec vs dynamic mtvec) configurable with a parameter, though I'm not sure how happy the dv team is about another parameter.

[2020-03-12 11:24] davideschiavone opened #257 "Path from data_rvalid_i to instr_req_o on 128b prefetcher"
There is a path in the prefetcher 128b wide that goes from the data_rvalid_i to the instr_req_o.

Such path limits signifantly the frequency in the PULP cluster.

[2020-03-13 11:48] Imperas opened #258 "VCS fails to compile correctly"
Hi All
I am seeing an error from VCS, it does not appear to handle the generate statement correctly, but in particular the expression evaluation for when (i==)

Has anybody successfully run through VCS ?

[2020-03-13 15:58] Silabs-ArjanB commented on #257
Sounds similar to (or same as) https://github.com/openhwgroup/cv32e40p/issues/126

[2020-03-13 16:30] davideschiavone commented on #257
Hi @Silabs-ArjanB , not it's actually from **data**_valid to **instr**_req. So it's different.
Anyway, this is a specific PULP issue as the 128b won't be used by OHW for the moment

[2020-03-15 15:39] HazemFathy opened #259 "Gated clocks as generated clocks"
Dears,
In cluster_clock_gating wrapper , i manually instantiated custom clock gating cells from STD lib. do i have to define the outputs of each cell as a generated clock with latency value for it? or i'll just leave it unconstrained and synthesis tool will identify it.

[2020-03-16 10:42] davideschiavone commented on #259
Hello,
I have never dono it, it should not be necessary to do so.
I usually create a clock assigned to clk_i and then I synthesize the design.
It would be nice if you can tell use whether you can see differences in defining the clock as output port of the clock gate cell.

Best
Davide

[2020-03-17 18:49] MikeOpenHWGroup opened #260 "It is not obvious how to clone _all_ of the RTL"
Currently most, but not all, of the RTL for the CV32E40P core is in this repository under the `rtl` directory.  In order to compile, it is necessary for clone _one_ source file from https://github.com/pulp-platform/fpnew.  This is hinted at in the README and [manifest](https://github.com/openhwgroup/cv32e40p/blob/master/cv32e40p_manifest.flist), but the hint is not very strong.

**Suggestion:** ad

[2020-03-18 14:41] davideschiavone opened #264 "FDIV and FSQRT are not enabled by default when RVF is enabled"

[2020-03-18 14:41] davideschiavone commented on #264
f3e64d3ecd48fdb86c60f3ca3539fd93a10ded8f

[2020-03-18 14:41] #264 closed

[2020-03-18 16:03] GTumbush commented on #256
wait(retire_delay) in riscv_tracer.sv does not compile with Incisive 15.20.077 or Xcelium 19.09.007

xmvlog(64): 19.09-s007: (c) Copyright 1995-2019 Cadence Design Systems, Inc.
      wait(retire_delay);
                      |
xmvlog: *E,EVNOTR (/wrk/gtumbush/mcu/riscy/cv32e40p_fix256/riscv/rtl/riscv_tracer.sv,854|22): An event is not a legal rvalue in this context [9.7.3(IEEE)].

Change to @(ret

[2020-03-18 16:11] GTumbush commented on #256
This fixes the issue with mret but not ecall.

This is the new waveform for mret. Looks good!
![image](https://user-images.githubusercontent.com/54555114/76981667-888bc800-6900-11ea-9eca-19bb03344274.png)

Waveform for ecall is the same

[2020-03-18 16:37] GTumbush commented on #256
Note that the mepc register is still miscomparing for the ecall instruction in the same way as the mstatus.  It updates 1 cycle too early.
![image](https://user-images.githubusercontent.com/54555114/76984142-0ef5d900-6904-11ea-9ff8-9711bacbd583.png)

[2020-03-18 21:06] davideschiavone commented on #256
Dear @GTumbush , I force pushed another change that should solve both ecall and mret.
For what concern the changes you want to do on `retire_delay` for instance, they way to do it is to fork the cv32e40p repository https://github.com/openhwgroup/cv32e40p/

The fork will be on your GitHub page, you made the changes, push, and the create a Pull Request (as I am doing, I created the fork under my pag

[2020-03-19 09:36] davideschiavone opened #267 "Add example for FP application in tb/core"
- [x] Add a new folder custom_fp that contains an example of an application with that uses the RVF instructions.

- [x] Modify the Makefile accordingly to compile with modelsim and the other simulators the FPU.

- [x] Modify the Makefile to compile this application with the RVF extension enabled and to run the application passing to the RTL the parameter FPU=1 (usually 0 by default).

These tasks

[2020-03-19 17:45] GTumbush commented on #256
I did as you instructed above but was only able to add the addition of insn_regs_write because retire_delay is not in the cv32e40p master. The change is easy, replace wait(retire_delay); with @(retire_delay);  Pull request https://github.com/openhwgroup/cv32e40p/pull/269

[2020-03-19 23:36] MikeOpenHWGroup opened #270 "Testbench Makefiles should us the common manifest (cv32e40p_manifest.flist)"
This issue is related to the discussion for PR #266.

It would good to update the Makefiles below the `tb` directory to use the `cv32e40p_manifest.flist` manifest.   That will ensure Designers and Verifiers are compiling the same code.  For example, this is (similar to) what the simulation Makefiles in [core-v-verif](https://github.com/openhwgroup/core-v-verif) have:
[code]

[2020-03-20 14:50] #260 closed

[2020-03-22 02:04] HazemFathy commented on #259
I found that its not required to do that, however, large skew appears during CTS phase. it appears that ideal latency is not balance for both setup / hold violations.

[2020-03-22 13:11] davideschiavone commented on #259
Thanks for sharing this with us. Do you think it makes sense to create a clock as output of the clock gating cell? does it help with balance setup/hold violations?
Can you also tell us the tool you used please?

[2020-03-22 13:38] HazemFathy commented on #259
Thanks Davide,

I found some people that say it is known to define the output of clock gating cells as a generated clocks while others are saying that generated clocks are only for clock dividers , multipliers..etc. that generate a different clock domain. but defining them as generated clocks didn't adjust the latency for gated and ungated paths, i'm working on IC compiler with clock gating flow (

[2020-03-23 11:07] Silabs-ArjanB commented on #254
I would definitely prefer to make it possible that mtvec differs from boot_addr_i when PULP_SECURE=0. I would be fine with either adding a new input signal (mtvec_addr_i) or making mtvec(x) an actual register (same as PULP_SECURE=1. I have a preference for making this identical to the PULP_SECURE=1 behavior.

[2020-03-23 11:26] davideschiavone commented on #254
It makes sense to me that we do as PULP_SECURE=1.
@jm4rtin would you like to prepare a PULL REQUEST? @Silabs-ArjanB and I will review it gladly

[2020-03-23 17:50] HazemFathy commented on #259
Thanks all,

I performed a few skew optimizations and it passed correctly.

[2020-03-24 15:18] davideschiavone commented on #267
45d203823c85e569173b87ee72eb20e14c9816b9

[2020-03-24 15:18] #267 closed

[2020-03-25 12:59] MikeOpenHWGroup commented on #258
As far as I am aware, there are currently no VCS active users in the OpenHW Group community.  If you are interested in using VCS, we are certainly interested in seeing it supported.

Please add a comment to this issue detailing your cwd and the exact command line used.

Also, you should be aware that the testbenches in this repository are not "official".    The official testbenches for cv32e40p ar

[2020-03-25 13:52] Imperas commented on #258
We are trying to get VCS to work with the cv32e40p in ou step/compare
testbench and yes we are having issues - we are working with Synopsys on
this - and will be doing a shared screen with them shortly - we are close
to have things working - will keep you posted.

Simon
Imperas Software

On Wed, Mar 25, 2020 at 1:00 PM Mike Thompson <notifications@github.com>
wrote:

--
===========================

[2020-03-25 22:07] Smattacus commented on #252
Is this still open? I'd like to start getting involved, and refactoring code is a way I can learn what's going on internally.

[2020-03-26 10:18] #255 closed

[2020-03-27 07:23] Silabs-ArjanB commented on #253
Please see https://github.com/openhwgroup/cv32e40p/pull/275

[2020-03-27 07:41] Silabs-ArjanB opened #276 "Replace riscv_ prefix by cv32e40p_ prefix in all RTL module names and file names"
I believe we should rename the top level module and its file name to cv32e40p_core and cv32e40p_core.sv respectively. The same/similar remark holds for all RTL modules/files; they should all have their riscv_ prefix replaced by the cv32e40p_ prefix in both module name and file name.

This will require updates in manifest files, testbenches, etc.

The top level file/module renaming has already been

[2020-03-27 11:28] Silabs-ArjanB opened #277 "Clean up parameters and pinout"
Make non-supported parameters localparam and remove associated pins as agreed in https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/CV32E40P_and%20CV32E40_Features_Parameters.pdf

[2020-03-27 11:50] Silabs-ArjanB commented on #277
Two pull requests are associated with this:

https://github.com/openhwgroup/cv32e40p/pull/278
https://github.com/openhwgroup/core-v-verif/pull/85

[2020-03-27 16:23] Silabs-ArjanB commented on #253
Now also updated documentation, please see https://github.com/openhwgroup/cv32e40p/pull/279

[2020-03-30 09:17] davideschiavone commented on #252
Hello @Smattacus !

Yes that would be amazing! Would you like to set a call up with me and @rickoco ?

It would take less than 30 minutes.

Thanks
Davide

[2020-03-30 10:51] davideschiavone commented on #253
@vogelpi, the cv32e40p has been updated thanks to @Silabs-ArjanB 's effort! Thanks a lot @Silabs-ArjanB and thanks @vogelpi for pointing it out!

[2020-03-30 10:51] #253 closed

[2020-03-30 12:21] davideschiavone opened #280 "Remove parameters and code for the old FPU"
The core used to be interfaced with an FPU no longer supported.

https://github.com/pulp-platform/fpu/commits/master

in favor of fpnew , developed and maintained by @stmach , available at

https://github.com/pulp-platform/fpnew

The core has still parameters and code that have been designed for the older FPU, thus they should be cleaned up.

[2020-03-30 14:12] davideschiavone opened #283 "Adding random stall to the custom example"
in the tb/core/custom example of a simple application, random stalls to the memory interfaces can be emulated by the testbench.
These stalls are controlled by the perturbation module. The user can enable them with a GCC compiler flag.
The scope of this modification is to provide an example to use the perturbation module.

This task will be done by @mp-17

[2020-03-30 14:22] davideschiavone commented on #283
https://github.com/openhwgroup/cv32e40p/pull/282

[2020-03-30 14:22] #283 closed

[2020-03-30 18:48] Smattacus commented on #252
Great! What calling software do you use? Wednesday and on is best for me. I am in USA PST.

[2020-03-31 07:14] Silabs-ArjanB opened #284 "Hardware loop documentation unclear"
Chapter 7 PULP Hardware Loop Extensions of the RI5CY User Manual states:

and also

I assume that the following:

should be:

Could you please comment on the minimum loop size and alignment restriction?

[2020-04-01 09:42] accuminium opened #288 "Unused `mem_fp` registers/latches with Zfinx enabled"
With the `Zfinx` extension enabled, [the `mem_fp` registers are not read](https://github.com/openhwgroup/cv32e40p/blob/74262e8f1fde682c2db71e6ad7e7ed143b6409a0/rtl/riscv_register_file.sv#L95-L98), but [there currently is an `always_ff` process even if `Zfinx == 1`](https://github.com/openhwgroup/cv32e40p/blob/74262e8f1fde682c2db71e6ad7e7ed143b6409a0/rtl/riscv_register_file.sv#L164-L177).

Related

[2020-04-01 12:24] #288 closed

[2020-04-01 12:30] Silabs-ArjanB opened #289 "Limit CPU to not prefetch over 1KB boundaries?"
Currently the cv32e40p has a prefetcher that will always try to keep its prefetch buffer as full as possible, thereby potentially prefetching over certain address boundaries.

In a typical system slave modules are aligned to 1KB (or larger, e.g. 4KB, 16KB) boundaries. Suppose the cv32e40p is executing instructions from a RAM and a prefetch address goes over the actual RAM size into another periphe

[2020-04-01 13:12] jm4rtin commented on #289
Wouldn't it be better to leave a gap in your memory map for this purpose? Altering the performance of the core at some arbitrary boundary sounds less than ideal. It would impact performance of any code at those locations as well as complicate the logic in the prefetcher.

[2020-04-01 15:50] Silabs-ArjanB commented on #289
We would indeed normally have a gap in the memory map, but a regular bus interconnect will give you a bus error if you perform an access to such a gap. (As cv32e40p does not have a bus error input pin you could convert such a bus error into an interrupt, and the cv32e40p will have no way of knowing of whether the interrupt was caused by a 'speculated' fetch or an actual wrong fetch).

[2020-04-01 15:53] bluewww commented on #289
I think it makes sense to document this potential issue and forumulate some requirement such as "there needs to be a x byte size gap between executable code and peripheral address spaces" because the prefetcher can touch the next x bytes and cause side effects (depending on the read semantics of the peripheral reg that might be touched).

Also I think we need to add a bus error signal anyway, but

[2020-04-01 16:10] jm4rtin commented on #289
Another option would be to restrict access to the peripheral space so that the instruction bus has no access to the peripheral registers in the first place. This situation would normally flag a bus error - a feature I would also like to see.

[2020-04-01 16:18] davideschiavone commented on #289
I also think it's better to add a bus error signal to the core rather than hacking the prefetcher as a work around to solve another source of problems.
The PMP for instance does something similar, if the prefetcher fetch an area that is not allowed to fetch, it stops but an error is triggered only if that instruction is actually executed by the core (for instance, if an instruction after a taken b

[2020-04-01 16:21] bluewww commented on #289
@davideschiavone care to open issue to track the progress of adding a bus error signal?

[2020-04-01 16:22] davideschiavone commented on #289
@Silabs-ArjanB , is it a feature for the cv32e40p or not?
In my opinion, it can be done as a long term plan

[2020-04-02 06:02] Silabs-ArjanB commented on #289
I was also thinking about requesting a bus error on the interface (again) indeed. We would definitely benefit from it on the instruction interface side, but for orthogonality we should probably also add it on the data interface side.

My preference would actually be to re-add bus error pins (exactly as they used to exist on RI5CY before the PMP was introduced) and that we (for now) solve this topi

[2020-04-02 10:42] davideschiavone commented on #289
Yes let's add this feature. It's cleaner. We can think about the bus error as an extra bit (33th bit) of the RDATA.

[2020-04-02 12:10] davideschiavone commented on #254
https://github.com/openhwgroup/cv32e40p/pull/285

[2020-04-02 12:10] #254 closed

[2020-04-02 13:21] MikeOpenHWGroup commented on #289
@Silabs-ArjanB , @davideschiavone @bluewww @jm4rtin, I also like this idea.  _Please_ start by documenting it and updating the user_guide as appropriate _before_ updating the RTL.

Our documentation is already very thin and incomplete and this is a significant risk for the project.

[2020-04-05 03:54] HazemFathy opened #291 "VCD File for Power Analysis"
Hello ,

Can someone provide me with the vcd file generated from the core's testbench ? , to use it in power analysis in asic synthesis.

[2020-04-05 18:01] MikeOpenHWGroup opened #292 "Duplicate Case Item in riscv_tracer.sv"
DSIM is reporting a duplicate case item in riscv_tracer.sv.   I do not see this warning with xrun, but inspection shows it to be a real item.  Details below:
**URL**: https://github.com/openhwgroup/cv32e40p
**Branch**: master
**Hash**: de826243d633fab59e228f0dbcc692b61aeb3941
**Path**: rtl/riscv_tracer.sv, lines 645, 646.
[code]

### To Reproduce:
Run the `comp` rule (clones the RTL, compiles, and

[2020-04-05 18:37] MikeOpenHWGroup opened #293 "Possible inferred latches in riscv_pmp.sv"
DSIM is giving a warning about inferred latches in riscv_pmp.sv.   I do not see this warning with xrun, and I lack sufficient understanding of synthesis to determine if this warning is real or not.

I'm assigning this issue to @davideschiavone because he knows the code well, @aimeepsutton because she knows DSIM and @ludmila-bta because she is a synthesis expert.

Details below:

**URL**: https://g

[2020-04-05 18:46] MikeOpenHWGroup opened #294 "Use of blocking assignments in always_ff block"
DSIM is reporting the use of blocking assignments within an always_ff block in file `riscv_tracer.sv`.   I do not see this warning with xrun, but inspection shows it to be a real item.  Details below:

**URL**: https://github.com/openhwgroup/cv32e40p
**Branch**: master
**Hash**: de826243d633fab59e228f0dbcc692b61aeb3941
**Path**: rtl/riscv_tracer.sv, lines 744..750.

[code]
### To Reproduce:
Run th

[2020-04-06 14:18] ludmila-bta commented on #293
I have checked my synthesis trials and there are no warnings about `data_match_region` (as well as `instr_match_region`). It looks like the tool optimized them out as they are not in the netlist either.

Based on the Genus default settings, a latch whose output never changes is replaced by the corresponding constant value (optimize_constant_latches is true).

I've found only one warning about alwa

[2020-04-07 07:58] Silabs-ArjanB opened #296 "Document retirement strategy per instruction group"
To ease reviewing the cv32e40p RTL code it would be beneficial to clearly document the retirement policy for various instructions groups: Which instructions will retire in what pipeline stage and how is it guaranteed that instructions retire in program order.

The question came up in relationship with the handling of CSR instructions, see https://github.com/openhwgroup/cv32e40p/pull/262

[2020-04-07 08:15] Silabs-ArjanB commented on #229
I would prefer if at least the following are removed from the cv32e40p repos (to avoid the code duplication and related confusion on where to find the actual testbench):

Files:

cv32e40p/tb/dm/tb_top_verilator.sv
tb/core/tb_top_verilator.sv

Directories:

cv32e40p/tb/verilator-model
cv32e40p/tb/serDiv
cv32e40p/tb/tb_MPU
cv32e40p/tb/tb_riscv

Ideally also all of the compliance tests and debug (dm)

[2020-04-07 09:38] davideschiavone commented on #293
Looking at the code indeed it is not a Latch. Maybe writing them to `0` as in the `else` case before the `if` statement would remove the problem. What do you think @aimeepsutton ?

[2020-04-07 09:43] davideschiavone commented on #291
Hello,

you should generate the VCD file by yourself using your benchmarks to calculate power.
We won't commit in the repository a VCD file that describe the activity of an application as
"Hello world" as it is not representative of a typical workload in my opinion. Plus we don't want to push into repository generated files.

[2020-04-07 10:53] davideschiavone commented on #284
I will solve this after https://github.com/openhwgroup/cv32e40p/pull/287 as DOCX files are diffucult to merge. Until we have a text based documentation we have to solve issues related to documentation sequentially.

The minimum is **3 instructions**, and yes the start of the HWLoop (as well all the rest of the body due to the absence of RVC instructions) must be **WORD** aligned, i.e. multiple of

[2020-04-07 10:57] davideschiavone commented on #244
Hello, I cannot reproduce this error. Can you give us more insights? maybe the objdump of that portion of code? Did you look at the trace?

[2020-04-07 11:57] MikeOpenHWGroup commented on #296
Here here!  Thanks for opening this @Silabs-ArjanB.  The verification TG is working on the integration of an ISS, so we'll need this type of information soon.

[2020-04-07 12:12] GTumbush commented on #293
Agreed, I don't see a latch. I would recommend using:
for(j=0;j<N_PMP_ENTRIES;j++)
      begin
        data_match_region[j] = 1'b0;  // default

and removing all duplicate assignments to 0, unless you want them for clarity. This will simplify the code greatly and hopefully git rid of the bogus latch warning.

[2020-04-07 12:14] MikeOpenHWGroup commented on #244
Hi @shirley85159.  When reporting a bug, it is helpful to assign the issue to specific individual (I usually assign issues to @davideschiavone).  It is also import to include the following:

### Steps to Reproduce
1. URL to branch (and maybe the hash) that exhibits the issue.
2. Command line  (e.g. `make xrun-riscv-compliance`)
3. Logfile and/or wave-dump info (screen shots can be useful)

You hav

[2020-04-07 13:50] davideschiavone commented on #294
https://github.com/openhwgroup/cv32e40p/pull/298

[2020-04-07 13:50] #294 closed

[2020-04-07 13:50] davideschiavone commented on #292
#297

[2020-04-07 13:50] #292 closed

[2020-04-07 15:17] HazemFathy commented on #291
I see , thanks davide.

[2020-04-07 20:07] aimeepsutton commented on #293
I had a hunch that the for loop might be the problem. If N_PMP_ENTRIES is 0, none of the subsequent code is executed and data_match_region is not updated.

I added this:

    always_comb
    begin
      data_match_region = 'h0;  // Initial value is always assigned

      for(j=0;j<N_PMP_ENTRIES;j++)
      begin
	...
         `
Which I believe is standard practice for combinational logic. The warni

[2020-04-08 07:04] Silabs-ArjanB opened #300 "Compilation fails for rvc.S"
The following leads to an internal compiler error in my setup (in today's master repos):

cd cv32e40p/tb/core
make firmware-vsim-run

....

/tool/pulp_riscv_gnu_toolchain/2019.12/rhel6-64/bin/riscv32-unknown-elf-gcc -c -march=rv32imc -g -o riscv_tests/rv32uc/rvc.o
-Iriscv_tests/ -Iriscv_tests/macros/scalar
-DTEST_FUNC_NAME=rvc
-DTEST_FUNC_TXT='"rvc"'
-DTEST_FUNC_RET=rvc_ret riscv_tests/rv32uc/rvc.

[2020-04-08 13:35] ludmila-bta commented on #293
I was going through some Genus documentation and found that the tool may give an error in case `for` loop is used at the top of `always` block. They recommend having `if` statement at the top (before the `for` loop) to infer a latch or flip-flop.
In this case there was no error in the synthesis, but it may explain the warning you are seeing.

[2020-04-08 17:25] MikeOpenHWGroup commented on #300
Is there any value in pursing this?  This core is being verified under the [core-v-verif](https://github.com/openhwgroup/core-v-verif) repo and in that repo there are two project, [CV32E40P XPULP ISA Compliance](https://github.com/openhwgroup/core-v-verif/projects/5) and [CV32E40P RISC-V ISA Compliance](https://github.com/openhwgroup/core-v-verif/projects/4) which specifically target issues like t

[2020-04-08 17:37] davideschiavone commented on #300
I agree with @MikeOpenHWGroup , the modifications to the riscv_test suite should be done in the core-verif. Only hello world should work here.

[2020-04-08 18:41] MikeOpenHWGroup opened #301 "Use of SV compile macros in RTL"
The RTL code for cv32e40p contains a large number of compile-time macro checks.  For example, in [riscv_pmp.sv](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_pmp.sv), lines 233..242 we see:
[code]
There are three issues highlighted here:
1. Macros like `EN_NAPOT_RULE_8B` are defined in the file that uses them.  These should be moved to a central location for all such macros.
2. Mac

[2020-04-08 19:09] MikeOpenHWGroup commented on #293
Hi @ludmila-bta, do you mean something like this:

[code]

I _think_ this is a good suggestion.  It appears to be logically equivalent and should eliminate the inferred latch.  On the other hand, the suggestion from @aimeepsutton should also eliminate the latch and @GTumbush pointed out it allows for some code simplification.

Either way, I'm more convinced than before that this is something that

[2020-04-08 20:40] GTumbush opened #302 "Retire signal not correct for misaligned accesses"
The attached code does a misaligned access to memory.  The address accessed is 0x47F31. According to the RI5CY User Manual:

*The LSU is able to perform misaligned accesses, meaning accesses that are not aligned on natural word boundaries. However, it needs to perform two separate word-aligned accesses internally. This means that at least two cycles are needed for misaligned loads and stores.*

Ho

[2020-04-08 23:30] ludmila-bta commented on #293
Hi @MikeOpenHWGroup. Yes, this is exactly what Cadence recommends as a tool friendly coding.  Or another solution would be something like

[code]
I've found it in their description of how to resolve the VLOGPT-46 error : `An 'if' statement is required at the top of an always block to infer a latch or flip-flop. [VLOGPT-46] [read_hdl]`

I am still not sure why the tool didn't complain about this on

[2020-04-09 05:51] Silabs-ArjanB commented on #300
Also agreed with that. Does this test work in the core-v-verif repos. If so, then this issue can be closed; if not, the we can re-open it in the correct repos.

[2020-04-09 08:00] bluewww commented on #301
I agree with all the points you have brought up, especially the namespacing is useful. This is a common pitfall in the C language too.

One more point I'd like to add: The lowrisc style guide recommends macros that are only (file)locally used to be undefd after usage. A local macro could e.g. be some code generation thing that severly reduces repetitive code, say exploding dozens of AXI interfaces

[2020-04-09 09:21] mp-17 opened #303 "Cannot use PULP toolchain for interrupt_test"
The _interrupt_test_ does not work with the PULP toolchain, because:

1) The PULP toolchain cannot handle arguments to **\_\_attribute__((interrupt(**_ARG_**)))**. A possible solution is not to give _ARG_.
2) The PULP toolchain cannot handle function calls inside interrupt functions (e.g. **software_irq_handler** calls **printf**).

The official riscv-toolchain works as expected, though.

[2020-04-09 13:39] eroom1966 commented on #302
@davideschiavone
Hi Davide, could you please provide some feedback on this issue that Greg and myself have been investigating
Thx
Lee

[2020-04-09 14:03] mp-17 commented on #303
I cloned your repo with the fix and tried the interrupt_test with the PULP toolchain.
Now it works! Thank you very much.

[2020-04-09 14:06] davideschiavone commented on #303
https://github.com/openhwgroup/cv32e40p/pull/304

[2020-04-09 14:06] #303 closed

[2020-04-14 07:59] abettati opened #306 "Exception Controller in CSR loads wrong mpp on MRET"
I noticed that the [exception controller](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_cs_registers.sv#L821) inside the CSR, sets the `mstatus.mpp` to U, when returning from an ISR that was taken and executed in M mode.
From my understanding this should be left to M, as the core never switched to U mode.

Andrea

[2020-04-14 14:05] davideschiavone commented on #302
Working on it! Let you know asap!

[2020-04-17 15:54] mmatzev opened #308 "Code not running with fpnew in verilator"
This is not strictly related to CV32E40P as the problem seems to be in fpnew, but did anybody verify the operation of CV32E40P with fpnew in verilator?

There is a coding-style in fpnew, which prevents verilator to work. But even if this problem is solved, the simulation is not running due to a deadlog in the div_sqrt unit. The same code runs with Questa/Modelsim without problems!?

It is hard to

[2020-04-17 16:54] MikeOpenHWGroup commented on #308
Hi @mmatzev, thanks for the question.  I cannot answer the first part of it (do you plan to pull fpnew into an OpenHW repo), as that is currently still under discussion.  I am the verification lead on CV32E40P and can answer the second part of your question.

Although the `core` testbench inherited from Pulp does work with Verilator, OpenHW has made no commitment to supporting Verilator in the fut

[2020-04-17 17:30] bluewww commented on #308
@mmatzev fpnew does work with verilator. Fpnew for example is used in the ariane testbench, which supports verilator.
There was a branch in this repo that added the FPU to the hello world example, but never got merged https://github.com/openhwgroup/cv32e40p/commits/enable-fp-tb, I don't quite recall why.

The gist of making verilator work is the rather brutish approach of passing `-Wno-BLKANDNBLK

[2020-04-18 13:13] mmatzev commented on #308
I discovered actually three problems with verilator, CV32e40p and fpnew.
One, is self-made: I set reset to zero at the beginning of the simulation. As CV32e40p uses clock gating the clock is not passed to the registers inside of the fpu and the reset is not accepted. In verilator, the reset must be 1 at the start of simulation and than goes to 0 and back to one to work correctly. This is different

[2020-04-20 08:58] eroom1966 opened #309 "non-compliant MSTATUS UIE/UPIE, MISA[N]=0 ?"
Hi

It appears the the MISA[N] bit is hardwired to zero, but it is still possible to write the UIE and UPIE bits in the MSTATUS register

We are running the Compare testbench between riscvOVPsim and cv32e40p RTL, and we observe a difference here

This is telling us that the MSTATUS UPIE bit is set to '1' in the RTL, but set to '0' in the reference. The ISA spec says the following

So it seems thes

[2020-04-20 10:31] davideschiavone commented on #302
Hi there,
I simulated this scenario and indeed it was wrong, good catch thanks!
Here in my repository I have a fix

https://github.com/davideschiavone/riscv/commits/fix%23302

May you please try it? This branch contains also the fix about the csr updates mentioned here #256
as this is not yet merged in the master.

Let me know please,
Davide

[2020-04-20 10:40] davideschiavone commented on #309
Hello,
the core does not support the UMode, indeed we updated the core to prevent the users of the core to set PULP_SECURE to 1 as it may generate confusion as indeed happened here.

With PULP_SECURE hardwired to 0 as it is today it should not be possible to write to U registers.

Are you using the last version of the core?

Davide

[2020-04-21 10:46] OttG opened #311 "False read depency for apu instr. when fetch_valid signal is 0"
There are cases that, when a instruction valid is zero and the previous instruction was a fpu operation a false read dependency occured. In this case, the instruction being executed is the same as the one in the decoding stage which caused a read dependecy. I discussed this with @davideschiavone  and @stmach and decided to propagate the is_decoding signal from the controller to the apu_dispatcher.

[2020-04-22 17:14] davideschiavone opened #312 "Delete old doc after double checking that all the features are part of the new one"
The new doc has a text format, much more readable and it has been provided by the kindness of @MikeOpenHWGroup

https://github.com/openhwgroup/core-v-docs/pull/29

[2020-04-22 17:30] GTumbush commented on #302
Hi Davide,
  This branch does fix the misalign issue.

 Does this branch contain the fix regarding the fence instruction #255 ?

Thanks,
Greg

[2020-04-22 17:40] davideschiavone commented on #302
Hi,

yes!

It's probably safer if we merge these two fixes and then fix a posteriori in case the fix for #256 introduced bugs. Otherwise we risk to lose them.

What do you think @Silabs-ArjanB  and @MikeOpenHWGroup ?

[2020-04-22 17:53] MikeOpenHWGroup commented on #302
@davideschiavone, I agree that this is a reasonable path forward.   Keep in mind that this won't automatically break verification because I need to manually move the git hash used in our Makefiles to point to a specific version of cv32e40p.   Once this merge happens, I'll update and report back.

[2020-04-22 17:55] GTumbush commented on #302
Hi Davide,
Please confirm that fix#302 contains fix for #255.  I ran our testcase and do not see the fence instruction being logged in the tracer output.  Below is the sequence I used to get fix #302

git clone https://github.com/openhwgroup/cv32e40p.git
cd cv32e40p
git remote add davideschiavone https://github.com/davideschiavone/riscv.git
git fetch davideschiavone
git merge davideschiavone/fix\#

[2020-04-22 18:05] davideschiavone commented on #302
You are right, somehow it was not been merged (my mistake).

Now it's part of the master. I merge this PR as well so that you can use the latest master in the openhw repository that contains all the fixes.

As @MikeOpenHWGroup said, this won't break verification. In addition, it's a corner case that should anyway be tested in a special way.

Best
Davide

[2020-04-22 18:46] MikeOpenHWGroup commented on #312
Not kindness.  We have already discussed my fee @davideschiavone.   I've updated the README in core-v-docs to point to the readthedocs rendering and published the availability of the new format on MatterMost.

[2020-04-22 20:46] GTumbush commented on #302
OK, now if I merge fix302 with master the misalign (#302), Retire ( #256 ) and fence ( #255 ) are fixed.

[2020-04-22 22:06] GTumbush commented on #256
Hi Davide,
 With fix 302 I'm seeing the same issue with the mret instruction updating mstatus 1 cycle too late. The behavior is just like the original waveform in which there is 1 clock, retire, 1 clock, mstatus update.
https://user-images.githubusercontent.com/54555114/76337501-104c5380-62bd-11ea-8577-207e7e2b92ec.png

I'm not seeing the mret instruction causing two clocks, mstatus update,  and t

[2020-04-23 07:59] eroom1966 opened #314 "doc: user_manual"
A few comments on the user manual, I note the redline doc was committed, was this intentional ?
I see some issues in this doc, as follows

for cv32e40p PULP_SECURE - (as I understand it) PULP_SECURE is now hardwired to 0, in which case should all references to PULP_SECURE be removed, including any dependencies, such as all references to USER mode state

section 10.2 lists register USTATUS, this is

[2020-04-23 11:38] MikeOpenHWGroup commented on #314
Hi Lee, thanks for this.  We treat problems in the documentation just as seriously as if it was in the RTL, so creating this issue was the right thing to do.    A few points for future issues:
- Please assign all documentation issues to @davideschiavone.  He will re-assign as needed.
- Please also add a "Documentation" label.
- Lastly, and this is the most important, if there are multiple problems

[2020-04-24 09:40] davideschiavone commented on #256
Hi @GTumbush

is this message older than this one (https://github.com/openhwgroup/cv32e40p/issues/302#issuecomment-618030768) ?

[2020-04-24 10:15] davideschiavone commented on #314
Good point indeed, your question makes completly sense @eroom1966 and thanks @MikeOpenHWGroup for adding clarifications.

I would say "yes, let's remove them", but the idea of leaving the RTL there (instead of cleaning it up) was to let other uses to fork the core and have a starting point for what concerns the hardwired parameters. The same would be true for the documentation as well.
I propose t

[2020-04-24 11:06] Silabs-ArjanB commented on #314
I would be fine with removing the content (that would be clearest in my opinion). I don't know if our current documentation format would allow for 'conditional inclusion'; if that is possible, then we would at least have a way to add the content back in easily for a next CV32 core.

[2020-04-24 11:50] GTumbush commented on #256
Hi Davide,
  No, it is new. With the current code base I see this issue. Sorry for the confusion. Is there a better way for me to manage the issues?

[2020-04-24 13:07] MikeOpenHWGroup commented on #314
I have not try this, but the following should work:
[code]

[2020-04-24 17:14] davideschiavone commented on #256
No actually this issue is my fault. I should have merged back in the day :)
Now if you merge the branch fix302 with master it should solve all these issue as well.

I integrated back a lost commit :(

Let me know so that I can merge everything back to master
thanks for your contribution,
Davide

[2020-04-24 21:49] GTumbush commented on #256
I merged fix302 with the master and all issues are fixed. That would be great to get this all merged in with master so they are not lost.

[2020-04-25 07:09] davideschiavone commented on #256
OK cool! I create the PR and get the things merged.

thanks and sorry again for confusion

[2020-04-25 07:13] davideschiavone commented on #312
https://github.com/openhwgroup/cv32e40p/pull/316

[2020-04-25 07:13] #312 closed

[2020-04-25 07:30] davideschiavone commented on #212
https://github.com/openhwgroup/core-v-docs/pull/29

[2020-04-25 07:30] #212 closed

[2020-04-26 09:59] Silabs-ArjanB commented on #314
Then using conditional inclusion would be my preference for content that is no longer part of CV32E40P (e.g. user mode, PMP, etc.). If this is considered too much work I am fine with completely removing such no longer content all together. I think we should not render out-of-date content into the html/pdf, even not if we add some kind of warning that specific content does not actually apply to CV3

[2020-04-26 12:54] davideschiavone commented on #302
Fix and merged now: https://github.com/openhwgroup/cv32e40p/pull/313

[2020-04-26 12:54] #302 closed

[2020-04-26 12:54] davideschiavone commented on #256
Fix and merged now: https://github.com/openhwgroup/cv32e40p/pull/313

[2020-04-26 12:55] #256 closed

[2020-04-27 09:15] Silabs-ArjanB opened #317 "Dead states in load/store unit"
I am studying the current load/store unit in preparation for OBI related fixes. I see (using formal verification) that the WAIT_RVALID_EX_STALL and IDLE_EX_STALL can never be reached (in slightly out-of-date repos state, 8666456b147e4ed32590d10c920ea6c919761bc4).

Maybe they were reachable at some point (e.g. before we disallowed certain parameter settings as e.g. USE_PMP). Can somebody explain th

[2020-04-27 21:10] davideschiavone commented on #317
Hello @Silabs-ArjanB ,

there are other people (you included btw) that also found this and reported it here:

https://github.com/openhwgroup/cv32e40p/issues/129
https://github.com/openhwgroup/cv32e40p/issues/80

We tried to reach with random instruction simulation that state back in 2017 and failed indeed.
We did not remove it as we did not investigate further with formal verification as well (or

[2020-04-28 05:34] Silabs-ArjanB commented on #317
Hi @davideschiavone , I knew I reported something similar quite some time ago, didn't realize it was exactly the same, sorry for that. I also understand the reasoning for the lsu_ready_ex_o I asked about now (I will remove that from the original post). This ticket can be closed then.

[2020-04-28 05:34] #317 closed

[2020-04-29 14:44] Silabs-ArjanB opened #318 "Data address is not consistent with byte enable signals"
In the second phase of a non-aligned load/store the data address (data_addr_o) is not consistent with the byte enables (data_be_o).

For example when doing a word write to address 0xffff_f801 we will get two transfers:

- First transfer of 3 bytes: Address 0xffff_f801, byte lanes 4'b1110
- Second transfer of 1 byte: Address 0xffff_f805, byte lanes 4'b0001

![image](https://user-images.githubuserco

[2020-04-29 16:59] Imperas opened #319 "Disable custom extensions"
If I understand correctly it is possible to optionally **include** the extensions for F and A
is it also possible to **exclude** the "PULP specific extensions" ?

thx
Lee

[2020-04-29 17:05] Imperas commented on #319
@MikeOpenHWGroup
Mike in an earlier thread, you asked me to assign a label to my issue.
I do not seem to have access to assign labels - do I need to be authorized ?

[2020-04-30 05:31] Silabs-ArjanB commented on #319
Hi, please see table 2 of https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/CV32E40P_and%20CV32E40_Features_Parameters.pdf . The idea is that the PULP ISA extensions are unconditionally included, except for 'hardware loop functionality', which will have a parameter to decide whether it is included or not  (which is about to be added to the RTL).

[2020-04-30 07:47] Imperas commented on #319
thanks for the pointer

[2020-04-30 07:47] #319 closed

[2020-04-30 11:29] Imperas opened #320 "Non-Maskable Interrupt"
Looking at the RTL I see a signal at the top level for irq_nmi_i but I do not see any description in the manual for NMI, in particular when asserted does the core react to this interrupt, and if so what is the vector address for NMI ?
thx
Lee

[2020-04-30 13:43] MikeOpenHWGroup commented on #320
Hi Lee.  When creating an issue, please assign it explictly to ensure someone picks it up.  When in doubt, assign it to either @davideschiavone or @MikeOpenHWGroup and we can re-direct as necessary.

You are right that the [user manual](https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/exceptions_interrupts.html#exceptions-and-interrupts) does not yet capture the interr

[2020-04-30 17:38] MikeOpenHWGroup opened #321 "Question regarding DM_HALTADDRESS"
I've received a [pull request on core-v-verif](https://github.com/openhwgroup/core-v-verif/pull/100) to change the value of the core's DM_HALTADDRESS parameter from 0x1A110800 to 0x000F0000.  The UVM testbench has a 1Mbyte address space, so this will set the debug page to the last 64K which seems very reasonable to me.

However 0x1A110800 is a very particular number - is there any reason it was us

[2020-05-01 09:02] davideschiavone commented on #321
This is a parameter of the core so it can be changed in whatever number from the instantiator module or testbench.

This number `0x1A110800 ` is where the debug module is mapped in PULP, so as the core was part of the pulp project we left as default parameter what we have in PULP.

[2020-05-01 09:03] davideschiavone commented on #320
Yes it is correct, let's move this issue in the core-docs as this is a missing features in the current documentation.

best
Davide

[2020-05-01 13:04] Imperas opened #323 "NMI is masked by MSTATUS[MIE]"
@davideschiavone @MikeOpenHWGroup
I think there is a bug with the implementation of the NMI interrupt

The interrupt is only taken if the MSTATUS[MIE] is enabled, this is not correct as NMI is by definition 'non-maskable'
From the privilege spec

Thx
Lee

[2020-05-01 13:05] Imperas commented on #309
This is resolved, I see this is now hardwired to 0
please go ahead and close this issue

[2020-05-01 13:06] #309 closed

[2020-05-01 13:42] eroom1966 commented on #323
Additionally it appears that before the NMI is asserted,
MSTATUS[MIE]=1, MSTATUS[MPIE]=0

after the NMI is taken
MSTATUS[MIE]=0, **MSTATUS[MPIE]=0**

but I would expect MSTATUS[MPIE]=1

Thx
Lee

[2020-05-01 19:35] bluewww commented on #321
Changing `DM_HALTADDRESS` in the core changes the debug exception address (the address the core jumps to when the debug request line is asserted). See
https://github.com/openhwgroup/cv32e40p/blob/8666456b147e4ed32590d10c920ea6c919761bc4/rtl/riscv_if_stage.sv#L145

Changing this value in the TB means making sure that the debug module is mapped at that location in the address space and also that the

[2020-05-01 19:50] MikeOpenHWGroup commented on #321
Thanks @bluewww.  A couple of questions:
1. Why was 0x1A110800 selected for the debug module halt address?    Are there restrictions on the debug module that require a specific address?
2. When you say `...and also that the core is made aware of this new value`, does this mean setting the value of the DM_HALTADDRESS parameter in the RTL or something else?

[2020-05-01 20:50] GTumbush opened #325 "MPEC and MSTATUS update before Retire signal for ebreak"
The tracer triggers Retire event correctly for ebreak instruction. But the MPEC and MSTATUS registers update on the Retire event before the ebreak instruction.  This causes a miscompare with the ISS.

![image](https://user-images.githubusercontent.com/54555114/80840268-2c33ed80-8bba-11ea-892c-2cfdee2fd032.png)

The software to produce the above is in attached zip file.

[riscv_ebreak_test_0.zip](h

[2020-05-01 20:57] GTumbush commented on #325
I cannot assign this. Please assign to Davide.

[2020-05-01 21:09] MikeOpenHWGroup commented on #325
Done.

[2020-05-01 23:09] bluewww commented on #321
You mean why it was chosen as default address? No particular reason except that it is the address used in PULP. Default values don't matter that much anyway since your supposed to chose your own when instantiating the core. Maybe it would be clearer if it was changed to some less arbitrary looking value.

No there are no restrictions, but when choosing the zero address then the debug module only r

[2020-05-05 10:03] haugoug opened #328 "Fence.i interaction with external cache"
In case the core is attached to an external cache, since OpenOCD just relies on fence.i when inserting breakpoints, is the core supposed to synchronize with the external cache when fence.i is executed by OpenOCD, and if so how ?

[2020-05-07 08:36] Silabs-ArjanB commented on #176
Hi @aignacio, I agree with your observation and I had actually filed as similar ticket (#318) to ease conversion to protocols as AHB and AXI. If this pull request is accepted (https://github.com/openhwgroup/cv32e40p/pull/322) then the issue will have been fixed as you suggested.

[2020-05-07 09:44] Silabs-ArjanB commented on #314
I found that we can use conditional exlcusion, e.g we could insert the following before the parts referring to user mode:

.. only:: USER

The user mode documentation will then only get rendered when sphinx-build is called with '-t USER'.

I added a specific User mode related topic issue at https://github.com/openhwgroup/core-v-docs/issues/39, so I believe we can close the ticket here (to avoid du

[2020-05-07 12:10] MikeOpenHWGroup commented on #314
Slick!   Thanks for the tip Arjan.

---mike

On Thu., May 7, 2020, 5:44 a.m. Arjan Bink, <notifications@github.com>
wrote:

[2020-05-08 08:21] eroom1966 opened #329 "tracer out of order for half-word aligned fence.i"
@davideschiavone @MikeOpenHWGroup @GTumbush
Hi Davide,
It looks like we have found a similar issue to the bug found in #261
In this example we have a fence.i instruction executing on a half-word aligned boundary
The code looks like this

[code]

When executing the tracer produces this
[code]

as you can see the fence.i at 0x3dbbe is reported as executing before the sw at 0x3dbba
I suspect this is

[2020-05-08 12:23] MikeOpenHWGroup commented on #329
Hi @eroom1966.  Good catch.  What test were you running?

[2020-05-08 12:45] eroom1966 commented on #329
It was from @GTumbush running the compliance suite tests

[2020-05-08 17:23] GTumbush commented on #329
Test is cv32-riscv-compliance-tests

Waveform below shows PC 40f82->40f8a->40f86->40f8e
![image](https://user-images.githubusercontent.com/54555114/81431318-3015c180-911e-11ea-9855-ba59de1b3f86.png)

[2020-05-08 18:53] silabs-PaulZ opened #330 "Add Debug Trigger Module Feature"
The Debug Trigger Module is a new feature, approved by the core's task group, and documented in the CSR and Debug CV32E40P documentation.

This issue to track the assignment of adding this new feature.

[2020-05-11 07:38] davideschiavone commented on #329
Hello!

Thanks good catch! I'll try to fix it asap

[2020-05-11 12:05] davideschiavone commented on #329
Are you using the MASTER branch?

I tried to reproduce the same issue but I have no problem and the trace result is correct

[2020-05-11 13:11] GTumbush commented on #325
Hi David, Were you able to reproduce this error?

[2020-05-11 14:11] davideschiavone commented on #325
Sorry for later reply.
I am trying to fix it but I don't understand the difference between this behaviour and the fix we have done for #256 .

The ebreak is behaving exactly like the ecall, so the MSTATUS get's updated in FLUSH_WB, which be wrong also for ecall, why isn't it? Can you help me figured it out? the 2 instructions behave the same

[2020-05-11 16:01] GTumbush commented on #256
Below is the updated and correct behavior of the ecall instruction. Note that for the ecall instruction mstatus and mepc update on the rising edge of Clk immediately before the retire event on the falling edge of Clk.

![image](https://user-images.githubusercontent.com/54555114/81582411-449bc900-936d-11ea-9dd3-6071a2ae232a.png)

[2020-05-11 16:01] GTumbush commented on #325
Hi Davide,
  I added to #256 a waveform with your fixes so we can see the corrected behavior.

This is the behavior of ecall. mstatus and mepc update on the rising edge of Clk immediately before the retire event on the falling edge of Clk.
![image](https://user-images.githubusercontent.com/54555114/81582732-9b090780-936d-11ea-8e77-d3739abb7445.png)

This is the behavior of ebreak: mstatus and mepc

[2020-05-11 16:38] GTumbush commented on #329
I just did a git pull origin in the sandbox and have the same erroneous behavior. I believe I'm up to date (see git.out attached).  Please paste your code and tracer output into this issue (as Lee has done).

[git.txt](https://github.com/openhwgroup/cv32e40p/files/4610879/git.txt)

[2020-05-11 18:18] davideschiavone commented on #325
Hi,

I think the problem is related to the REMU, and in general, to multicycle instructions preecing system calls or instructions that flush the pipeline

Here we have the same test you have with ECALL instead of EBREAK and indeed the error is the same

![immagine](https://user-images.githubusercontent.com/18549773/81596286-18f7fd80-93c4-11ea-892d-6cbd1977a750.png)

Now if I put the ADD instead of

[2020-05-11 19:05] davideschiavone commented on #325
I have a very sentitive fix, but again, to fix the tracer I had to change the controller.
For this reason I need extra eyes looking at this change.
May I ask to @Silabs-ArjanB, @MikeOpenHWGroup  and @bluewww  to have a look at this?
https://github.com/davideschiavone/riscv/commit/2661d8464ddf5af6bf438f346b05d38132f2a02b

Any implication? Maybe Robert can run his debug tests on it

[2020-05-12 12:54] Silabs-ArjanB commented on #325
@davideschiavone It is very difficult to review this without understanding at a high level when (i.e. in what pipeline stage) CSRs are supposed to be updated inside CV32E40P. For example the strategy could be that every instruction updates the CSR takes 2 cycles in the EXECUTE stage and performs the CSR update in the first EXECUTE cycle and retire in the second EXECUTE cycle. Then any instruction

[2020-05-12 19:57] silabs-PaulZ opened #333 "Replace performance counters with Hardware Performance Monitor"
The following change was approved by the OpenHW Core Task Group:

Replace existing performance counter implementation with the Hardware Performance Monitor specified in the privileged architecture.

Access to an existing performance counter will be removed:
- PCMRs,
- PCERs,
- PCCRs
No longer support external events

Specific feature details that were not fully discussed are now mentioned in this

[2020-05-12 20:35] silabs-PaulZ opened #334 "Debug_req pulse width (bug)"
If the debug_req input signal is asserted for less than 5 clocks, the core does not properly enter debug mode. Depending on the pulse width, the core may fetch from the debug address (DM_HALT_ADDRESS) but may not the internal debug_mode bit.

The solution is to do one of the following:
1) Document a requirement that the debug_req must be asserted more than 5 clocks (which is reasonable assumption

[2020-05-12 21:39] GTumbush commented on #325
Hi Davide, this fix does address the issue but creates many more later in the simulation.  Soon after the earlier error the PC stalls at an ebreak instruction. The PC no longer advances.

PCr_lower20 is the PC of the ISS.  insn_pc is from the RTL.

![image](https://user-images.githubusercontent.com/54555114/81747955-4301fc00-9466-11ea-87ad-46f579b5bada.png)

[2020-05-12 21:50] silabs-PaulZ opened #335 "CSR access"
The following CSRs cause an illegal instruction exception when being accessed. These CSRs must return a value of 0 if not implemented.

- mvendorid
- marchid
- mimpid
- mtval

Note: medeleg and mideleg should cause an illegal instruction exception when not implemented.

[2020-05-13 05:38] Silabs-ArjanB commented on #334
I think '2' is the much nicer solution to this problem.

[2020-05-13 05:43] Silabs-ArjanB commented on #333
I have had complaints about this feature in the current design. Personally I also think that we should _not_ reconfigure modules just because the core is mapped onto FPGA. If FPGA users want a different configuration they should simply explicitly  use the top level parameters to configure the core as they want (and not rely on a non-obvious side effect of ifdef FPGA)

[2020-05-13 05:44] Silabs-ArjanB commented on #333
What will the external (top level) interface look like?

[2020-05-13 09:17] abettati opened #336 "NMI bit should not be implemented in mie/mip register"
The [Interrupts_t](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/include/riscv_defines.sv#L445) structure is used to define [both mie and mip](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_cs_registers.sv#L287).
As it should be used only for hardware error conditions, I think it could be removed from both (as [IBEX](https://github.com/lowRISC/ibex/blob/master/rtl/ibex_pkg

[2020-05-13 09:33] Silabs-ArjanB commented on #336
In Ibex and CV32E40P the 16 upper bits of MIE/MIP are extended in a manner envisioned in the RISC-V specification. So this is a custom extension beyond CLINT (but in a manner recommended in the official spec).

[2020-05-13 09:57] abettati commented on #336
Hi @Silabs-ArjanB , thanks for the reply.
The only reference I found in the documentation I have, is in the [CLIC draft](https://github.com/riscv/riscv-fast-interrupt/blob/master/clic.adoc#clic-versus-original-basic-interrupt-controller):

Are you aware of a CLINT specific document from the foundation that I am missing? That would be nice to have:)

[2020-05-13 10:22] Silabs-ArjanB commented on #336
Hi @abettati I am basing my remarks above on the following text from the RISC-V privileged spec:

![image](https://user-images.githubusercontent.com/40633348/81801176-4eabfc00-9514-11ea-82b9-bf1619082bc0.png)

Best regards,
Arjan

[2020-05-13 10:25] abettati commented on #336
Ok, thanks.
For the NMI bit, I guess the same reasoning applies then.

[2020-05-13 10:27] Silabs-ArjanB commented on #336
Just added a note about NMI in my above post; that is indeed much less clear. We (and Ibex) are ahead of the official spec so likely we did something that will end up not being compatible to the official spec once it becomes available.

[2020-05-13 10:31] abettati commented on #336
Yeah thanks for pointing that out!
I was asking mainly for it, because I see that it is also named in a separate section in the specs (Sec. 3.4 Non-Maskable Interrupts). While I initially thought that handling it in the Interrupt_t struct was good to keep the code compact, I realized mie is probably wasting a bit (mie.irq_nmi is never used) and also that even mip wasn't strictly required to implem

[2020-05-13 15:17] abettati commented on #336
@Silabs-ArjanB I spot what I think is a small bug, again related to NMI, not going to open another issue for this.
NMI is globally masked in the [interrupt controller](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_int_controller.sv#L83) and in the core controller (for example [here](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/riscv_controller.sv#L446)m but actually ever

[2020-05-13 16:16] silabs-PaulZ commented on #333
Based on some feedback, I propose we remove the external event counters and also make the number of MPHCounters parameterizable with no FPGA `define.

I  will modify the original ticket description comment.
Even though the comment history is kept, the changes are listed below for convenience.

- Remove the following events from MPHMEVENT 11: LD_EXT,  12: ST_EXT, 13: LD_EXT_CYC, 14: ST_EXT_CYC, 15:

[2020-05-13 19:11] davideschiavone commented on #334
I also agree on the 2nd option. Interrupts are actually done in this way

[2020-05-13 19:27] davideschiavone commented on #325
Hi @GTumbush ,

unfortunalty I did modify the tracer sorry. As now these instructions depends on id_ready, I had to remove the OR condition in the `log execution` process.

I pushed another commit here:

https://github.com/davideschiavone/riscv/commit/0db91db7d28326474dc5e20c694b2dbdaeb9d45e

Can you please try? I know fixing and testing in two different set up takes a little bit longer time and e

[2020-05-13 19:37] davideschiavone commented on #325
Hi Arjan,

I think that for clarity reasons we can penalize CSRs operations and make them all flush the pipeline so that they are all consistent as you suggest.

So far operations to CSRs can happen directly (exclicit writes to CSRs) or indirectly (instructions like ecall or interrupts etc).

When CSRs modify the MSTATUS or MEPC or DEBUG, the controller first goes to the FLUSH_EX state and waits f

[2020-05-13 20:59] GTumbush commented on #325
Hi David,
 Hash 0db91db fixes the issue with ebreak but it not correct for an illegal instruction. A snip of what is executed is below.
    89d0:       00812623                sw      s0,12(sp)
    89d4:       01010413                addi    s0,sp,16
    89d8:       0000                    unimp
    89da:       0000                    unimp
    89dc:       00000013                nop
    89e0:

[2020-05-14 05:49] Silabs-ArjanB commented on #323
Issue might relate to #336  as well.

[2020-05-14 05:52] Silabs-ArjanB commented on #336
@abettati Agreed with your observation; that is a bug indeed. At first glance I think it might be a similar observation as the bug reported in #323

Also agreed that we should align to Ibex here, although I wonder if we should skip nmi all together until it is officialy specified in the RISC-V organization; any opinions on that?

[2020-05-14 07:32] davideschiavone commented on #333
I agree that the external perf counters should be memory mapped, thus readable and writable with load and stores and not mapped to the CSR space.
Rather than removing the LD_EX, ST_EX we should move them to NUM_MHPMCOUNTERS ? Is that correct?

Best
Davide

[2020-05-14 17:32] silabs-PaulZ commented on #333
Yes, these 'could' be part of the HPM Counters (mhpmcounter[]). There is a corresponding HPM Event register (mphmevent[]) that selects which events will increment each counter (similar to PCER, but per counter).

These external events were brought in through an external port that was removed.

I would prefer that we do not bring in external events.

But, if needed, it would be fairly easy of cours

[2020-05-14 18:39] alexnetterville opened #338 "clock gating information required"
Hi,
We have been running our RISC-V formal proofkit on the cv32e40p.
Depending on what we do with clock_en_i at the top level, we are prone to seeing failures around load instructions.
We are seeking some clarity around the expected behaviours of the system that surrounds the cv32e40p so as to eradicate incorrect environmental setup.
When we run all proofs with clock_en_i tied off to 1'b1, no proo

[2020-05-14 18:51] alexnetterville commented on #338
[axiomise_cv32e40p_misaligned_load_word_clock_gating_anomaly.vcd.gz](https://github.com/openhwgroup/cv32e40p/files/4630302/axiomise_cv32e40p_misaligned_load_word_clock_gating_anomaly.vcd.gz)

[2020-05-15 05:54] Silabs-ArjanB commented on #333
Agreed to not implement EXT0, EXT1, EXT2, EXT3 at the moment. External events can be added on a future core if users request it.

[2020-05-15 06:26] Silabs-ArjanB commented on #338
Hi @alexnetterville , thank you for the detailed report. I do not know the full answer to your question, but I hope I can make some useful remarks. First of all, the fact that clock_en_i is used at all must mean that the top level parameter PULP_CLUSTER must be set to its (non-default) value 1 (otherwise clock_en_i should have been ignored completely by the CV32E40P). Of course it is great that yo

[2020-05-15 09:04] davideschiavone commented on #338
Hello Alex, thanks for you report.

As Arjan said, consider the core to be used always with PULP_CLUSTER equal to 0 as that parameter is only used with special conditions. It has been implemented to use the core in the PULP Cluster (as the name said) where there exists multiple instances of the core (4 or 8 usually) running digital signal processing applications efficiently.
As they need to synchr

[2020-05-16 17:56] abettati commented on #336
@Silabs-ArjanB sorry for the delay, I missed the notification.
Non-maskable Interrupts are mentioned in Sec. 3.4 of the current specifications, but very little is said. When I implemented it (I did an internship in Bologna this winter), I basically copied how IBEX was handling it, but made a mistake.
I don't know to which "hardware errors" conditions the specs refer to. PMP exceptions for example

[2020-05-17 10:02] davideschiavone commented on #325
Hello,

I think my output is correct, isn't it?

![immagine](https://user-images.githubusercontent.com/18549773/82141430-19feb400-9836-11ea-912c-7cfeea36f1c0.png)

This is the trace

Are you using this core here? https://github.com/davideschiavone/riscv/tree/fix325

[2020-05-17 10:45] davideschiavone commented on #329
Mh that's strange.

Can you do `git log` ?

Here is my trace

21236ns            2119 000001d6 00faa023 sw               x15, 0(x21)
21246ns            2120 000001da 0000100f fencei

[2020-05-17 11:27] #5 closed

[2020-05-17 11:30] davideschiavone commented on #10
CV32E40P now has a mscratch CSR. Shall we close the issue now @origintfj  ?

[2020-05-17 11:31] davideschiavone commented on #15
FENCE and FENCE.I are now both supported. Can we close the issue? @sinkswim

[2020-05-17 11:34] davideschiavone commented on #68
@jm4rtin , this issue seems resolved. Can we close it?
thx,
Davide

[2020-05-17 11:35] davideschiavone commented on #71
@stefanct can we close the issue now?

[2020-05-17 11:36] #228 closed

[2020-05-17 11:37] davideschiavone commented on #259
@HazemFathy can we close the issue now?

[2020-05-17 11:37] davideschiavone commented on #291
@HazemFathy , can we close this now? thanks
Davide

[2020-05-17 11:38] davideschiavone commented on #314
Issue duplicated in https://github.com/openhwgroup/core-v-docs/issues/39 and thus closed

[2020-05-17 11:38] #314 closed

[2020-05-17 13:15] GTumbush commented on #329
Hi Davide,
 I was testing against the cv32e40p master with the following git log:
commit dde01442d11123763dccdf030b4bd3fbf4d9b4fe
Merge: 3952382 9d338f3
Author: Pasquale Davide Schiavone <pschiavo@iis.ee.ethz.ch>
Date:   Wed May 13 10:13:46 2020 +0200

    Merge pull request #331 from silabs-PaulZ/330_add_debug_trigger

    #330 add debug trigger

If I use https://github.com/davideschiavone/riscv/

[2020-05-17 13:29] HazemFathy commented on #291
Yes , thanks davide

[2020-05-17 13:29] #291 closed

[2020-05-17 13:29] HazemFathy commented on #259
Yes , thanks davide

[2020-05-17 13:29] #259 closed

[2020-05-17 13:45] GTumbush commented on #325
Hi Davide,
 The issue is that the INVALID instruction is marked as retired.  The PC should skip over the retired instruction.

This trace is with fix325
316191  2636 000089d4 01010413 addi  x8, x2, 16 x8=00047f70  x2:00047f60
**316331  2637 000089d8 00010413 addi  x8, x2, 0   x8=xxxxxxxx  x2:00047f60**
316831  2641 00008100 4100006f   jal   x0, 1040

This trace is with the master branch
316191 263

[2020-05-17 16:19] davideschiavone commented on #325
Ah I see what you mean. I misunderstood the issue.
So what do you prefer to have? A retired INVALID instruction or not as before?
Second question, can we keep in the tracer the INVALID instruction?

[2020-05-17 16:41] GTumbush commented on #325
Hi Davide,
 We want an illegal instruction to not be retired. This was the behavior before.
I'm OK with printing the INVALID instruction to the tracer file as long as the Retire event is not triggered.

 @eroom1966  please confirm

[2020-05-17 17:36] eroom1966 commented on #325
Would an illegal instruction contribute to the minstret count ?
Doesn’t sound right, I would have thought it is trapped at the decode stage ?

[2020-05-18 06:20] Silabs-ArjanB opened #615 "Pinout: Document Auxiliary Processing Unit (APU) interface"
Currently there is no documentation about this interface in the User Manual. I added the core-v-docs/cores/cv32e40p/user_manual/source/apu.rst file to start the documentation for this feature including a list of the associated pins (and will do a pull request for this soon).

We need to have (at least) the following information in this section:

- Description of the mentioned signals
- Protocol (a

[2020-05-18 07:15] Silabs-ArjanB commented on #321
FYI: Related to this there is a proposal in https://github.com/openhwgroup/core-v-docs/issues/52
to replace the DM_HALTADDRESS parameter by a dm_halt_addr_i pin.

The reasons for this proposed change are as follows:

    Treat the debug halt address in the same way as boot_addr_i (which is also a pin and not a a parameter)
    Increase coverage related to this functionality (it is easier to change

[2020-05-18 07:44] Silabs-ArjanB commented on #336
Hi @abettati , no problem at all, would you be okay if we remove NMI all together and add it in a future core once this functionality has been standardized by the REISC-V organization. I put the proposal to remove the pin in https://github.com/openhwgroup/core-v-docs/issues/50 (which is part of a bigger effort to get the documentation updated, see https://github.com/openhwgroup/core-v-docs/issues/

[2020-05-18 09:03] abettati commented on #336
Hi @Silabs-ArjanB looks good to me! It surely makes sens to postpone this. Think we can close this:)

[2020-05-18 09:28] abettati commented on #336
@Silabs-ArjanB I read your proposal for the update to CLINTXpulp and I wish we had discussed this while I was working on it, It could have been great for me.
By the way, I'm writing my master thesis on the current CLINTXpulp implementation, I could provide it in a few days as I finish it. Maybe you could find there some useful material for the new docs.

[2020-05-18 20:20] silabs-PaulZ commented on #47
The performance counters will be changed into HPM, as defined by the privileged specification. This bug was also still seen in this conversion.

The bug came about from a CSR read (CSRR) being assembled into a CSR read & set instruction where the data is a value of 0 (CSRRS w/rs=0 or CSRRSI w/zimm=0). This would, in turn, cause a write-back operation, essentially preventing an increment of the cou

[2020-05-18 22:08] silabs-PaulZ commented on #136
This was fixed with pull request #326
Attempting to access the core debug registers in non debug_mode will result in an illegal instruction.

[2020-05-19 06:46] #277 closed

[2020-05-19 06:47] Silabs-ArjanB commented on #277
Parameters/pins have been changed according to https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/CV32E40P_and%20CV32E40_Features_Parameters.pdf. Some new pin related chnages are being discussed, but they have their own github issue number.

[2020-05-19 06:49] Silabs-ArjanB commented on #206
Replaced by https://github.com/openhwgroup/core-v-docs/issues/45

[2020-05-19 06:58] Silabs-ArjanB opened #343 "Feature request (not for CV32E40P): Implement error pin for instruction and data bus interfaces"
The original RI5CY used to have an error pin for its instruction and data bus interfaces to signal bus errors. Unfortunately these were removed once the PMP was introduced.

Proposal is to re-add these pins on **future** cores (i.e. not yet in CV32E40P as this feature was not agreed upon) and their associated functionality (i.e. possibility to raise instruction/load/store access faults).

Related

[2020-05-19 07:00] Silabs-ArjanB commented on #289
Conclusion for this ticket:

- Will not limit prefetch behavior related to 1KB boundaries
- Will document prefetch behavior and warn about the issue raised here(done in https://github.com/openhwgroup/core-v-docs/pull/37)
- Will issue a feature request to implement bus errors on future cores (see #343)

[2020-05-19 07:00] #289 closed

[2020-05-19 07:04] Silabs-ArjanB commented on #205
The parameter set has been greatly reduced. The corresponding documentation is now tracked via https://github.com/openhwgroup/core-v-docs/issues/45.

@kenowhg If you agree that https://github.com/openhwgroup/core-v-docs/issues/45 serves the same purpose, could you please close this ticket?

[2020-05-19 09:38] Silabs-ArjanB commented on #187
We should treat this as an illegal instruction as we should not add 'extensions' in space that is reserved by the RISC-V organisation.

[2020-05-19 12:16] MikeOpenHWGroup commented on #205
Hi.  @kenowhg is no longer on the project, so I will step-in.  The number of parameters has been greatly reduced and we are using good tracking to ensure that remaining parameters are properly documented.  I will close this issue.   Thanks to all.

[2020-05-19 12:16] #205 closed

[2020-05-19 23:28] silabs-PaulZ commented on #144
I agree with @bluewww and would like to expand their answer. Below are some scenarios on how to handle debug and ebreak. If all agreed, then @dspg-arch1 please close the issue. If no response, we should close this issue by  5/25/2020.

- **ebreak call entry into software exception handler**
  - Assumptions:
    - debug_mode == 0
    - dcsr.ebreakm == 0
  - Result in the following:
    - Entry into

[2020-05-20 17:11] GTumbush commented on #325
Hi Davide, what's the status of getting this fixed?
Thanks,
Greg

[2020-05-22 09:49] olofk commented on #239
I just stumbled across this and would very much recommend using FuseSoC core description files. FuseSoC is becoming increasingly used in the industry and academia. There are already 500-600 publicly available IP cores (that I'm aware of) and many more within companies. The file format is [documented](https://fusesoc.readthedocs.io/en/master/ref/capi2.html), there is backend support for more than 2

[2020-05-22 11:37] MikeOpenHWGroup commented on #239
Thanks for this @olof.  I like your suggestion so much that I have taken the liberty of assigning this issue back to myself.

@all, I won't be able to investigate this until next week, but will update this issue before end of the day 2020-05-29.

[2020-05-22 12:22] wallento commented on #239
Hi,
I have it mostly done for the verilator simulation, because I am using it in another context (along with ibex and ariane) and fusesoc streamlines the usage fortuantely.
There is an issue with FuseSoC (handling of incdirs) that I already addressed to @olofk and he promised to come up with a fix soon, will coordinate with him and create the PR.
Actually, those are PRs, because in the ideal world

[2020-05-25 16:28] Silabs-ArjanB commented on #338
Hi @alexnetterville , I understood you would rerun the proofs with PULP_CLUSTER==0. Do you have a trace for that?

[2020-05-26 08:33] alexnetterville commented on #338
Hi Arjan,

Yes, I have rerun the proofs using PULP_CLUSTER == 0, as you guys have suggested, and we now aren’t seeing the failure around the internal clock being gated. We will be presenting our results soon of proofs we have been doing, and it would be good to share those with you once our work is complete. We are almost done with RV32I!

Thank you guys so much for your assistance and your sugges

[2020-05-26 08:39] Silabs-ArjanB commented on #338
Hi @alexnetterville , good to hear that the issue is not present for PULP_CLUSTER == 0 and looking forward to your presentation. Could you close this specific issue as we are now tracking the documentation task related to the PULP Cluster interface (that will describe the rules for clock_en_i) via https://github.com/openhwgroup/core-v-docs/issues/49 ?

[2020-05-26 08:47] alexnetterville commented on #338
Hi Arjan,

I will do this right away. We are looking forward to any documentation updates that may come our way regarding this, so that we can maybe explore a bit more the PULP_CLUSTER == 1 configuration once the rules are available.Will this documentation include an explanation of what each of the parameters does?

Alex

On 26 May 2020, at 09:39, Arjan Bink <notifications@github.com<mailto:notifi

[2020-05-26 08:48] alexnetterville commented on #338
I am going to close this issue since - as above - the issue is not presenting itself with pulp_cluster == 0.

[2020-05-26 08:48] #338 closed

[2020-05-26 09:49] Silabs-ArjanB commented on #338
Yes, we have a task/issue to properly document all parameters and pins: https://github.com/openhwgroup/core-v-docs/issues/45

[2020-05-26 20:36] #330 closed

[2020-05-26 21:42] silabs-PaulZ commented on #69
The DCSR.cause field seems to be correctly reporting the causes as defined in the riscv debug specification version 0.13.2. In particular, the section 4.8.1 has the following:
![image](https://user-images.githubusercontent.com/59703134/82952786-3e157000-9f6f-11ea-9ec8-8a1c5cbbf930.png)

The implementation seems to be correctly reporting the correct cause, as can be seen here:
https://github.com/op

[2020-05-26 22:01] stefanct commented on #69
Your comments are rather independent from my bug report since your are talking about the code and the debug specification while I was talking about the old ri5cy documentation in `doc/user_manual.doc`. However, since the latter was removed in df2452e1 this can probably indeed be closed. I have not checked the new documentation at https://github.com/openhwgroup/core-v-docs/tree/master/cores/cv32e40

[2020-05-26 22:01] #69 closed

[2020-05-26 22:24] silabs-PaulZ commented on #199
Hi @zsr2018 , This bench is no longer supported and your question is not very clear. If you still have an issue can you clarify your question? Otherwise, can you please close this ticket?

[2020-05-27 06:42] Silabs-ArjanB opened #354 "Implement mvendorid"
The RISC-V ISA Privileged Architecture Specification v1.10 Section 3.1.2 Machine Vendor ID Register mvendorid should be implemented and reflect the OpenHW JEDEC ID (which has been applied for).

[2020-05-27 07:00] Silabs-ArjanB commented on #336
@abettati I would love to see your master thesis indeed. I am sure we can benefit from it with respect to our documentation

[2020-05-27 09:21] Silabs-ArjanB opened #355 "Correct license headers (if needed)"
@MikeOpenHWGroup suggested that we should pre-pend the OpenHW "solder-pad" license header (leaving the existing header in place).

As part of this task the following questions should be answered/discussed here first:

- Should license headers be pre-pended or should existing headers be updated/replaced?
- Should all files have headers (e.g. many files do not have any license header (e.g. certain t

[2020-05-27 13:17] MikeOpenHWGroup commented on #355
I've assigned this issue to myself and will check with the Eclipse people to get their opinion and report back.

[2020-05-27 19:36] MikeOpenHWGroup commented on #355
I got the following from Wayne Beaton, Director of Open Source Projects at the Eclipse Foundation:

1. We should not change the headers of content unless we either are or have permission from the copyright holders to do so.
2. All files should have license headers unless they cannot (e.g. JSON files do not support comments).

An additional point is that the Eclipse Foundation will be conducting an

[2020-05-28 05:52] Silabs-ArjanB commented on #355
We do not comply to item 2) above. @MikeOpenHWGroup can you please remove the label resolved (I don't have permission to do so)

[2020-05-28 11:21] MikeOpenHWGroup commented on #355
That is correct, item 2 says we do not have comment headers on everything.  How we are supposed to handle this (and other related items) will come out of Eclipse's Intellectual Property Due Diligence review, and its possible said review will require us to un-do any changes we may make as a result of this issue.

I've removed the label, but still recommend we close this issue.

[2020-05-28 12:17] Silabs-ArjanB commented on #355
OKay; closing it now and then we open a new ticket if so required by the outcome of Eclipse's Intellectual Property Due Diligence review.

[2020-05-28 12:17] #355 closed

[2020-05-28 17:23] silabs-PaulZ commented on #60
Hi Ajay,

There have been some changes since your last post. The debug interface to the core only comprises of debug_req_i. There was a bug that a single clock pulse on debug_req_i would not properly enter debug mode. This has been fixed and is awaiting a merge (#334 ).

Also, the legacy performance counters have been deprecated as we are now using the Hardware Performance Counters as specified in

[2020-05-29 05:23] #136 closed

[2020-05-29 05:24] #135 closed

[2020-05-29 05:25] #321 closed

[2020-05-29 05:42] davideschiavone commented on #325
Hello, sorry for delay.
I pushed again in the fix325 branch to avoid retiring instructions that are illegal.

Can you please tell me if this helps?
thanks
Davide

[2020-05-29 10:41] MikeOpenHWGroup commented on #336
@abettati, I would also be interested in your thesis (and I suspect others would as well).  Will it be publicly available?

[2020-05-29 13:11] abettati commented on #336
Hi @MikeOpenHWGroup, sure it will be in a few days and I already sent a complete draft to @davideschiavone last week.

[2020-05-29 21:21] silabs-PaulZ commented on #335
During my testing, I realized that these CSR should indeed return 0 when read (as was fixed with #337 ), but the read only CSRs should also cause an illegal instruction when written. The read only CSRs include:

- mvendorid
- marchid
- mimpid
- mhartid

This is fixed in PR #356

[2020-05-29 22:02] GTumbush commented on #325
Hi Davide,
 I tried merging in fix325 with the cv32e40p repo master branch and got a merge conflict with riscv_core.sv. Here are the steps I took:

git clone https://github.com/openhwgroup/cv32e40p.git cv32e40p_fix325
cd cv32e40p_fix325
git remote add davideschiavone https://github.com/davideschiavone/riscv.git
git fetch davideschiavone
git merge 3b0ed25

This results in:
Auto-merging rtl/riscv_co

[2020-05-31 20:06] abettati commented on #336
@MikeOpenHWGroup @Silabs-ArjanB  I have a quick question in the meantime: are you also planning a compliance test for the interrupts? I see that RI5CY ran tests from [here](https://github.com/riscv/riscv-tests), but I don't think they check IRQ behavior.
In my thesis i only implemented a simple c firmware ([interrupt_test](https://github.com/openhwgroup/cv32e40p/tree/master/tb/core/interrupt_test)

[2020-05-31 21:41] MikeOpenHWGroup commented on #336
Hi @abettati.  The short answer to your question is , "yes, we are planning a complete verification of the interrupts for CV32E40(P)."   This would include all interrupt features specified by the ISA plus any CV32E40(P) specific behaviors.

This effort has not started, and I am actively recruiting for a Contributor for this feature.  If you, or any of your colleagues are interested, please reach o

[2020-06-01 15:29] saumeister opened #357 "Beginner Question: CSR access generates Illegal instruction"
Hi everyone,

I'm currently trying to port some bench-marking programs to run on the core. I have encountered some problems with the timer section in CoreMark where I try to read  CSR mcycle during start and stop measurements.

The timer code used:
[code]

This result in the following error output in the Questa Sim Transcript:
[code]
EDIT:
Values in the PCMR are set to 1 after reset, so the perfor

[2020-06-02 11:55] Silabs-ArjanB commented on #357
Hi @saumeister , the performance counters have very recently been changed from the 'PULP specific counters' to RISC-V compliant counters from the Counters section in https://riscv.org/specifications/isa-spec-pdf/. The original PCMR and PCERR CSRs no longer exist and the RISC-V compliant counters will default to be inhibited (via mcountinhibit).

Unfortunately the related documentation change has n

[2020-06-02 12:16] saumeister commented on #357
Hi @Silabs-ArjanB,

Thank you for taking you time to answer. I will make sure to use the RTL from the master branch and look into the new RISC-V compliant counters and give it another try now.

[2020-06-02 13:14] Silabs-ArjanB commented on #47
Hi @haugoug Could you please close this ticket if you agree it has been fixed?

[2020-06-02 13:33] Silabs-ArjanB commented on #187
Hi @dspg-arch1 This issue has now been fixed; could you please close this if you agree. The issue will automatically be closed June 10 2020.

[2020-06-02 13:34] Silabs-ArjanB commented on #137
Hi @shetalani This issue has now been fixed. Could you please close this issue if you agree it has been solved. The issue will automatically be closed on June 10 2020 otherwise.

[2020-06-02 14:13] davideschiavone commented on #325
This should now be merged, can you please try again?

[2020-06-03 11:33] #335 closed

[2020-06-03 12:32] GTumbush commented on #325
I'm assuming you mean merged with master. If so:

I ran the core-v-verif master testbench targeting the cv32e40p master. Below is the log of  cv32e40p master
commit f7aee5a7488bc3e58f4bfe5910b49ae850d02768
Merge: 9135b2f 9b21083
Author: Pasquale Davide Schiavone <pschiavo@iis.ee.ethz.ch>
Date:   Wed Jun 3 13:33:02 2020 +0200
    Merge pull request #356 from silabs-PaulZ/write_to_readonly_csr
    r

[2020-06-03 12:40] GTumbush commented on #329
Hi Davide,
  I ran the core-v-verif master testbench targeting the cv32e40p master.
cv32e40p master
commit f7aee5a
Merge: 9135b2f 9b21083

The cv32-riscv-compliance-tests test still fails as before.

Can you run the UVM testbench in core-v-verif comparing against the Imperas ISS?

Thanks,
Greg

[2020-06-03 16:35] #47 closed

[2020-06-03 22:07] silabs-PaulZ commented on #43
Hi @barrydebruin , @davideschiavone ,

Here's a simulation of the above examples using the latest RTL.
[code]

And here as well...

[code]
The cycle count is behaving normally. The BLT is taking 4 cycles and MUL is 1 cycle.
Can we go ahead and close this issue?

[2020-06-03 22:17] barrydebruin commented on #207
I'm not sure if it helps, but i was able to synthesize it to 650MHz for 28nm RVT @ 0.9V, so it seems that there might be something wrong.

[2020-06-03 22:27] HazemFathy commented on #207
And how you reached that performanc? is it about specific timing constraints applied ?

[2020-06-03 22:30] barrydebruin commented on #207
No specific timing constraints. Im talking about the pulpino repo though.

[2020-06-03 22:31] HazemFathy commented on #207
Aha, thanks.

[2020-06-04 08:57] saumeister commented on #357
Hi,

Thanks for the help. It worked out fine after updating the RTL and some small code modifications.

[2020-06-04 08:57] #357 closed

[2020-06-04 18:23] MikeOpenHWGroup commented on #45
Hi @davideschiavone, this one is rather old, but I think its still an issue.   In "riscv_core.sv" `WAPUTYPE` is not defined.  I would have expected this flag an error, but simulators appear to resolve it to 0 so that (for example) port apu_master_type_o resolves to a two-bit vector with a negative MSB ([-1:0]).

[2020-06-05 12:24] Silabs-ArjanB commented on #130
Fixed

[2020-06-05 12:24] #130 closed

[2020-06-05 14:48] davideschiavone commented on #237
Hi @alfredoh1234 ,

why is that important from a verification point of view? We can add a sentence to specify that we support some instructions to help operations in the complex-number system

[2020-06-08 10:03] Silabs-ArjanB commented on #116
Hi @yaronbe1 this issue has now been fixed. Can you please close it if you agree it has been fixed? The issue will automatically be closed in 7 days otherwise.

[2020-06-09 07:35] #243 closed

[2020-06-09 07:41] davideschiavone commented on #325
Hi @GTumbush , somehow I didn't get the notification of this.
I couldn't run the core-v-verif yet, but I meant that the branch fix325 of the core on my repository has the master branch of openhw merged in.

Not the other way, as we merge only if it solves problem.
You should try this core: https://github.com/davideschiavone/riscv/tree/fix325

[2020-06-09 07:45] Silabs-ArjanB commented on #323
Hi @Imperas The NMI functionality has been removed all together. Could you please close this issue?

[2020-06-09 07:46] Silabs-ArjanB commented on #336
Hi @abettati The NMI related functionality has been removed all together. Could you please close this issue?

[2020-06-09 09:26] #336 closed

[2020-06-09 19:14] davideschiavone opened #362 "p.elw instruction should be legal only in PULP_CLUSTER"

[2020-06-09 19:48] jm4rtin commented on #68
Yep.

[2020-06-09 19:48] #68 closed

[2020-06-10 01:48] silabs-PaulZ commented on #132
Hi @shetalani , @davideschiavone ,

With the latest RTL, scenarios 1, 2, & 4 are resolved.

Scenario 3 is no longer valid as this requires PMP which is not supported on CV32E40P. Note, this may be an issue to look at on future cores.

Below are some examples showing various scenarios behaving correctly. Please, if you can, rerun your formal tool/simulation to confirm as well. If you agree with the

[2020-06-11 13:49] davideschiavone commented on #325
Hello @GTumbush , indeed.
I am also running them.

By the way, I pushed again another fix and this solved also the illegal test.

I guess, if @MikeOpenHWGroup  agrees, you ( @GTumbush ) can still try if this core works and the I merge in master.

Or if you guys think this is redundant I can simply merge into master, then create a PR to core-v-verif to use the last core.

best
Davide

[2020-06-11 15:48] Silabs-ArjanB opened #363 "Wrong (none) bypass usage by pv.cplxconj"
The pv.cplxconj instruction does not correctly use the register file bypasses. In the following example the pv.cplxconj.b should get its x12 operand from the preceding lui instruction. However, the register file bypass is not triggered and the wrong ALU operand is used for the pv.cplxconj.b instruction.

                Time          Cycles PC       Instr    Mnemonic
     86ns               4 0000

[2020-06-12 14:23] PauliusMorku opened #364 "Failing compliance tests for cv32e40p core"
Hello,
it might be a known and irrelevant problem but I still decided to open a new issue. There are three riscv compliance tests that are failing:
I-NOP-01.S - # Test part A2 - general test, only 5 cycles are executed
I-SB-01.S - # Test part E2 - test war hazard (address register)
I-SH-01.S - # Test part E2 - test war hazard (address register)

Assertions for these tests are triggered on core (te

[2020-06-12 16:49] MikeOpenHWGroup commented on #364
Hi @PauliusMorku, thanks for raising the issue.  This is a known problem and will be addressed shortly.  Just FYI, the updates will not be added to this repository, rather they will be added to the [core-v-verif](https://github.com/openhwgroup/core-v-verif) project.

Here is the current status of this issue:
1. As you report, it is a known issue with the test(s).
2. Updated compliance tests from t

[2020-06-12 20:48] GTumbush opened #365 "bit manipulation: RTL does not match spec for p.extract permutations and p.clb"
We are writing directed self-checking tests for the pulp extensions and started with the bit manipulation instructions.  We are finding numerous cases in which the RTL does not match the documentation.

The first suspected bug is with:
p.extract rD, rs1, Is3, Is2
The definition is:
Sext((rs1 & ((1 << Is3) – 1) << Is2) >> Is2)* Note: Is3 + Is2 must be <= 32

For instruction p.extract x18, x20, 8, 0

[2020-06-12 20:56] GTumbush commented on #365
@MikeOpenHWGroup
Hi Mike, can you please assign this to @davideschiavone  I do not have the ability. @jm4rtin if you are interested in working on these bugs please state so.

[2020-06-12 21:23] GTumbush commented on #365
Note that the test has no $finish criteria so will run forever.  The relevant instructions are done executing in 3us.

[2020-06-15 10:05] davideschiavone commented on #325
Hi @MikeOpenHWGroup , @GTumbush , any comment on it?

[2020-06-15 16:54] #126 closed

[2020-06-15 16:54] #127 closed

[2020-06-15 16:54] #128 closed

[2020-06-15 16:54] #129 closed

[2020-06-15 16:55] #125 closed

[2020-06-15 16:56] #318 closed

[2020-06-15 16:57] Silabs-ArjanB commented on #80
Hi @davideschiavone Can you close this issue now (has been solved with above PR)?

[2020-06-15 16:58] Silabs-ArjanB commented on #50
Hi @felixmiller This issue has been solved now (see above pull request). If you agree could you please close this issue?

[2020-06-15 16:59] Silabs-ArjanB commented on #176
Hi @aignacio This issue has been fixed now (with above pull request). If you agree can you please close this issue?

[2020-06-15 17:01] Silabs-ArjanB commented on #17
Hi @wenshh3 The prefetch_L0_buffer is no longer supported and has been removed all together. Could you please close this issue?

[2020-06-15 17:02] aignacio commented on #176
yeap, done

[2020-06-15 17:02] #176 closed

[2020-06-15 17:02] Silabs-ArjanB commented on #257
Hi @davideschiavone Can you please close this issue as the 128b prefetcher has been removed?

[2020-06-15 18:02] Silabs-ArjanB commented on #176
Thanks

[2020-06-15 18:28] Silabs-ArjanB commented on #225
Hi @HazemFathy Your question seems to have been answered. If you agree could you please close this ticket? (The ticket will get closed automatically in 7 days in case no further follow up is received)

[2020-06-15 18:35] Silabs-ArjanB commented on #244
Hi @shirley85159 Could you please check if there is still an issue here (for me the stated test runs fine on today's master branch (748abbf0bfdf3fd0f3e9335c3aefa93d25fe88d0)? Please provide means for us to recreate the issue. (This issue will be close in 7 days if no further input is received.)

[2020-06-15 18:39] Silabs-ArjanB commented on #300
Issue will be closed (might show up again in core-v-verif if not automatically solved in the new compliance test setup once that is available)

[2020-06-15 18:39] #300 closed

[2020-06-15 19:41] Silabs-ArjanB commented on #108
Hi @Itaykeidar We do not really want to specify when an interrupt is taken based on some internal signals of CV32E40P. Interrupts are inherently not precise in relationship to the instruction stream (unlike synchronous exceptions) and therefore it does not make sense for us to specify this behavior as it might change in future RTL updates (e.g. due to registering incoming interrupts to break some

[2020-06-15 19:44] #325 closed

[2020-06-15 19:45] #257 closed

[2020-06-16 06:07] Silabs-ArjanB commented on #239
Note: This discussion is continued in https://mattermost.openhwgroup.org/all-users/channels/twg--cores--manifest

[2020-06-16 06:07] Silabs-ArjanB commented on #247
Note: This discussion is continued in https://mattermost.openhwgroup.org/all-users/channels/twg--cores--manifest

[2020-06-16 06:07] Silabs-ArjanB commented on #270
Note: This discussion is continued in https://mattermost.openhwgroup.org/all-users/channels/twg--cores--manifest

[2020-06-16 06:14] Silabs-ArjanB commented on #328
Hi @haugoug, the CV32E40P itself does not have cache(s) and FENCE.I therefore only flushes the internal core’s pipeline and prefetch buffer. The operation of FENCE.I cannot be observed on the CV32E40P boundary. The assumption is that external instruction memory is kept coherent in a user defined manner. In your scenario you could for example implement software-directed cache-flushing followed by a

[2020-06-16 06:21] Silabs-ArjanB opened #366 "Feature request (not for CV32E40P): Implement external flush handshake for FENCE.I"
As CV32E40P does not have internal cache(s) the FENCE.I instruction only flushes the internal pipeline and prefetch buffer. For systems with an external (non-coherent) cache a 'software-directed cache-flushing followed by a FENCE.I instruction' can be used to achieve the desired effect (as described in #328).

For future cores (not CV32E40P) this feature request is to add an external interface (fl

[2020-06-16 11:08] bluewww commented on #328
I think it is problematic that `fence.i` doesn't have a hardware interface, since now it is not possible to implement a system with a correctly working `fence.i`, when there is a cache between core and memory. Note that according to the RISC-V spec `fence.i` is supposed to do this synchronization between instruction and data stream transparently to the user.

Back when I implemented this instructi

[2020-06-16 11:22] Silabs-ArjanB commented on #328
Hi @haugoug If the external cache has a flush mechanism that can be triggered by software (via a store instruction), then you can trigger the flush that way before executing the fence.i

[2020-06-16 16:53] #276 closed

[2020-06-17 13:05] Silabs-ArjanB opened #371 "Path from *_rvalid_i to performance counter"
Combinatorial paths exist from the *_rvalid_i inputs to mhpmcounter_q[3]. The rvalid signals are typically late arriving inputs the the stated performance counter uses a 64-bit incrementer.

Would it be okay to count all events 1 cycle later (thereby preventing the performance counters from contributing to critical paths)?

[2020-06-17 13:17] Silabs-ArjanB opened #372 "pv.cplxconj decoding and tracing"
pv.cplxconj is documented correctedly. However based on the RTL comments and tracer outputs it seems as if pv.cplxconj.b and pv.cplxconj.h exist.

- The tracer should be adapted to prevent adding the .b/.h suffix for the pv.cplxconj  instruction.
- The RTL (cv32e40p_decoder.sv) should be adapted to refer to pv.cplxconj instead of pv.cplxconj.h in its comments
- The RTL (cv32e40p_decoder.sv) should

[2020-06-17 13:58] MikeOpenHWGroup commented on #371
Its "probably" OK, as long as its documented in the user manual.  Verificiation does not yet have a Vplan captured for performance counters, so I do not know if we will need to check these on-the-fly or at the end-of-sim.  If its end-of-sim, then this change will not impact verification.  If we need on-the-fly, then the TB will need to "know" this.

[2020-06-17 14:03] Silabs-ArjanB opened #373 "p.elw rD, Imm(rs1!) should not exist"
Currently two flavor of p.elw are in the RTL:

    p.elw rD, Imm(rs1!)
    p.elw rD, Imm(rs1)

The encoding that currently is interpreted as p.elw rD, Imm(rs1!) should trigger an illegal instruction instead. See also https://github.com/openhwgroup/core-v-docs/issues/99

[2020-06-18 07:07] Silabs-ArjanB opened #616 "Document immediate sign-extend for PULP post-increment loads/stores"
For the following instructions the documentation does not indicate that the immediate is sign-extended:

- p.lb rD, Imm(rs1!)
- p.lbu rD, Imm(rs1!)
- p.lh rD, Imm(rs1!)
- p.lhu rD, Imm(rs1!)
- p.lw rD, Imm(rs1!)
- p.sb rs2, Imm(rs1!)
- p.sh rs2, Imm(rs1!)
- p.sw rs2, Imm(rs1!)

My proposal would be to replace 'rs1 += Imm[11:0]' by 'rs1 += Sext(Imm[11:0])' in their descriptions.

[2020-06-18 16:01] ranaya123 opened #374 "RI5CY Core Gate Level ASIC Simulation"
Hi All,

Right now I only want to perform the gate-level simulation on the RI5CY core (4 stage) of Pulpissimo (master branch) platform. I have the RTL simulations successfully up and running and I want to run Coremark on the synthesized netlist. I use my own test bench for the core which exactly represents the Coremark intput/output data to the core. I got its functionality verified by running gat

[2020-06-18 17:46] PauliusMorku opened #375 "Potential bug in ID stage"
Hello,
so I was messing around with OneSpin verification tool and discovered some weird behaviour in controller within the ID stage. The tool shows that it is possible to have an undefined FSM state. I tried to track it down and I think I found the bug. It seems that within ID stage there is an input connected to an output. I send the screenshots so that someone could evaluate this since I do not

[2020-06-18 18:17] #375 closed

[2020-06-19 07:09] Silabs-ArjanB commented on #142
Above pull request fixes various CSR addresses as follows:

[code]

[2020-06-19 08:02] Silabs-ArjanB commented on #206
Hi @kenowhg , the parameters have now been documented in https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/integration.html#parameters . Could you please check if this addresses your question and if so close this issue (or let us know what is missing)?

[2020-06-19 08:04] Silabs-ArjanB commented on #207
Hi @tangshibin It seems your question has been answered. Could you please close this issue?

[2020-06-19 08:05] haugoug commented on #328
Hi @Silabs-ArjanB. I agree with @bluewww that this is a problem that fence.i is not taking care of the external cache, as this is what is intended from a spec point of view. Due to that, openocd is just relying on fence.i, and we need to patch it to insert a SW cache flush and make it work with Pulp cluster.
What you propose in #366 is exactly what is needed, but I don't understand why you mention

[2020-06-19 08:22] Silabs-ArjanB commented on #328
My proposal is that future cores (e.g. CV32E40) will have this feature. The proposed change will imply changes to the controller increasing the required verification effort.

[2020-06-19 09:32] #216 closed

[2020-06-19 10:12] #45 closed

[2020-06-19 11:05] haugoug commented on #328
What is CV32E40 compared to CV32E40P ?

[2020-06-19 11:10] MikeOpenHWGroup commented on #206
Hi @Silabs-ArjanB.  When Ken raised this issue he was an employee of a BTA, an OpenHW member company.  He has moved on and is now working at Metrics.  However, even though Metrics is also a member company, he is not currently assigned to OpenHW tasks.

So I will take this one.  I will respond to it before the end of the today in Ottawa.

[2020-06-19 11:17] MikeOpenHWGroup commented on #328
Hi @haugoug.  Have a look at [CV32E40P and CV32E40 Features and Parameters](https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/CV32E40P_and%20CV32E40_Features_Parameters.pdf)

[2020-06-19 11:30] Silabs-ArjanB commented on #206
Thanks

[2020-06-19 11:54] MikeOpenHWGroup commented on #206
Looks good @Silabs-ArjanB, closing.

[2020-06-19 11:54] #206 closed

[2020-06-19 12:39] Imperas opened #378 "Vectored interrupt changes ?"
Hi All,

** edited **
Previously we had a testcase which would setup vectored interrupts by writing 0x8101 to the MTVEC register. This should setup the BASE address as 0x8100 in vectored mode.
If we then generated an external interrupt (code = 11) the MCAUSE register would be set to 0x8000000b indicating (Interrupt / Machine External Interrupt) - this would then vector to address 0x812c

I have ta

[2020-06-19 12:46] Silabs-ArjanB commented on #378
I am a bit confused as to why you think you can set the vector base address and mode via MCAUSE. Do you mean to say MTVEC?

[2020-06-19 13:00] Imperas commented on #378
Yes, apologies, I will edit the original post
Thx
Lee

[2020-06-19 13:07] Silabs-ArjanB commented on #378
Maybe the memory model of the test becnh can not yet deal with the OBI interface and returns the wrong instructions. Is core-v-verif already pointing to 748abbf or later? I can have a look at this and check the memory model.

[2020-06-19 13:08] Silabs-ArjanB commented on #378
Can you point me to your test case and how to run it?

[2020-06-19 13:19] MikeOpenHWGroup commented on #378
Have a look at https://github.com/openhwgroup/core-v-verif/blob/master/cv32/sim/Common.mk to see where core-v-verif is pointing (its currently 9135b2f, which is well back).  The next pr will get us to 101f455 which is still being the OBI changes.

[2020-06-19 14:50] Imperas commented on #378
@GTumbush - Greg can you suggest a way that we can easily provide an example of the interrupt issue you discovered ?

[2020-06-19 14:52] Silabs-ArjanB commented on #378
Maybe easiest to get https://github.com/openhwgroup/core-v-verif/pull/118 merged, then we are all in sync again.

[2020-06-19 15:58] Silabs-ArjanB commented on #374
Hi @ranaya123 To me it seems that your netlist has hold violations, which need to be fixed in the backend flow.

[2020-06-20 07:56] #207 closed

[2020-06-22 13:48] Silabs-ArjanB opened #379 "Cannot gate clock for WFI when PULP_CLUSTER = 1"
In the configuration with PULP_CLUSTER = 1 the internal architectural clock gate (i.e. core_clock_gate_i) cannot be gated.

Once the WFI has been hit, the core_busy_o signal will go low as intended. In order to gate the internal clock the environment will have to lower clock_en_i as the final gating condition is determined as follows:

  assign clock_en      = PULP_CLUSTER ? clock_en_i | core_busy

[2020-06-22 16:25] jm4rtin opened #381 "Non-standard CSRs"
There is several non-standard CSRs in the core:
* lpstart0
* lpend0
* lpcount0
* lpstart1
* lpend1
* lpcount1
* privlv
* uhartid
* fprec
* mie1
* mip1

Hardware loop CSRs are only present if this feature is enabled (disabled in the current configuration). The ```uhartid``` CSR should only be present if user mode is enabled (disabled in the current configuration). It is actually ***still present***

[2020-06-22 16:48] alexnetterville opened #382 "tracking load instructions help request"
We have a checker that tracks load instructions entering the core decode and emitting on the dreq interface.
Since we have taken the latest core over what we had previously been using (which was a few months old), this mechanism is now firing.  when the tracked instruction is emerging onto the interface, the data values disagree when the read data is finally written to the regfile.
I have enclosed

[2020-06-22 17:11] Silabs-ArjanB commented on #381
Hi @jm4rtin Thank you for this ticket. @davideschiavone Could you please comment on uhartid; we left it available even in a M-mode only machine as this is how it was on RI5CY and we expected that whoever is using this wanted it to be available from any mode (so having it available in User mode to make it future proof, for the same reasoning that the FPU CSRs are User Mode CSRs even though we don't

[2020-06-22 17:12] Silabs-ArjanB commented on #381
By the way, also MIP1 and MIE1 are non-standard. All the non-standard CSRs are clearly documented in https://github.com/openhwgroup/core-v-docs/pull/106

[2020-06-22 17:39] Silabs-ArjanB commented on #382
Hi @alexnetterville Thank you for filing this report and for the waves file. Can you please point me to a failing/firing assertion or a value anywhere in the many signals in the waveform that you suspect is wrong? (I don't see assertions in the vcd)

With respect to transaction break up the following will happen:

A load/store transaction is broken into 2 load/store transaction for the following s

[2020-06-22 18:05] jm4rtin commented on #381
Ah yes sorry, I forgot those. We removed them from our version 😄

As a short summary of my discussion with Mike on mattermost:
My preference would be to remove ```privlv``` as it should not be needed. The privilege level can be read by the debugger from the ```dsrc``` CSR. Any other usage would be for software running on the core; however, that creates a virtualization hole. The intention in the I

[2020-06-22 19:01] alexnetterville commented on #382
Hi Arjan

You’re welcome.

I think the main signals of interest are as follows:

u_isa.load_word_smart_tracker.tracking_counter

u_isa.load_word_smart_tracker.tracking_counter_enable

And compare it to the instruction stream and the data interface activity. Maybe something has gone out of alignment somewhere. This might provide a start.

Thank you for the information regarding the transaction brea

[2020-06-22 19:25] Silabs-ArjanB commented on #381
Hi @jm4rtin Fully agreed with your remark about the virtualization hole; that is also why we do not like to have this. @davideschiavone needs to weigh in on this. Maybe we can find a compromise where we use a parameter to guard uhartid and privlv; we do not need either of them either. I guess/assume the argument for the uhartid is that in that case your code would remain unchanged if you would lat

[2020-06-22 19:37] Silabs-ArjanB commented on #382
Hi @alexnetterville

This is a way in which the environment can hold off completion of a store; in the future a bus error signal can also become associated with rvalid (as it was on earlier versions of RI5CY).

One or more cycles after every granted request (i.e. rising clk edge with data_req_o and data_gnt_i both 1) a 1 cycle rvalid pulse needs to be generated.

2 (the bus protocol applies for ea

[2020-06-22 20:21] alexnetterville commented on #382
Hi Arjan.

Thanks for your reply. The intention of the VCD and this ticket is to get to the bottom of what the requirements are for tracking the load transactions through the core, with some waves provided for you to look at if necessary. I agree that if I had a bug, I would give you exact signals and times etc. When I believe I have a bug to file, that is what I will provide to you, absolutely.

[2020-06-22 21:57] felixmiller commented on #50
Closing as resolved with referenced PR

[2020-06-22 21:57] #50 closed

[2020-06-22 23:07] GTumbush commented on #378
I'm sorry, I don't have any way to trigger an interrupt in the OpenHW testbench.

[2020-06-23 05:51] Silabs-ArjanB commented on #382
With respect to 1)

Grant delays the address phase; rvalid delays the response phase. Both are useful, in particular if we would associate e.g. an error signal with the rvalid. Having rvalid also for writes makes the protocol orthogonal as well.

With respect to 2)

The protocol is indeed identical for reads and writes.

The end-point slave produces grant and rvalid, but of course they need to pas

[2020-06-23 07:30] Silabs-ArjanB commented on #378
Hi @GTumbush I recreated (and fixed) the issue you encountered  with tb/core/interrupt_test. It should be fixed once https://github.com/openhwgroup/cv32e40p/pull/383 has been merged.

[2020-06-23 09:08] davideschiavone commented on #379
The WFI should not be used when the PULP_CLUSTER parameter is set to 1.
I suggest sto implement the WFI as a NOP in that case and to create a new documentation issue to do so

[2020-06-23 09:10] davideschiavone commented on #379
Separatly in another response here, the even unit handles the interrupts and debug requests, i.e., it receives them and forwards them to the core after waking it up. That's why the are not part of the formula of clock_en. When the core uses the PULP_CLUSTER=1 it relies complitly on the event unit for power managment.

[2020-06-23 09:32] Silabs-ArjanB commented on #379
Okay, that makes sense. So the CV32E40P with PULP_CLUSTER = 1 will never receive an interrupt nor a debug request while pulp_clock_en_i = 0, right?

[2020-06-23 09:46] alexnetterville commented on #382
Hi Arjan,

Thank you for these answers. That clarifies for us what your requirements are on the environment, and is very helpful. You could perhaps consider adding some of this information to the core integration chapter:
https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/integration.html  .

I would also like to ask if the manual could be updated here https://core-v-doc

[2020-06-23 09:51] Silabs-ArjanB commented on #379
Can we define the requirements for PULP_CLUSTER = 1 as follows?

- WFI shall be implemented as NOP (such that it does not impact core_sleep_o)
- While pulp_clock_en_i = 0, the environment must guarantee that instr_gnt_i = 0, instr_rvalid_i = 0, data_gnt_i = 0, data_rvalid_i = 0, debug_req_i = 0, irq_i[] = 0 (not sure if we should demand this independent of local/global interrupt enable bits or not

[2020-06-23 10:58] Silabs-ArjanB commented on #382
Hi @alexnetterville I updated the documentation according to the above (see https://github.com/openhwgroup/core-v-docs/pull/113). Could you please close this issue?

[2020-06-23 13:24] Silabs-ArjanB commented on #229
Hi @davideschiavone , @MikeOpenHWGroup Can we now remove the above stated files and directories and also cv32e40p/tb/dm?

[2020-06-23 14:09] MikeOpenHWGroup commented on #229
Yes from my end.

[2020-06-23 16:16] GTumbush commented on #365
Updated test with exit code from riscv_ebreak_test_0 so test completes.

[2020-06-23 20:47] bluewww opened #384 "Do not make glob imports of packages in the compilation unit scope unless necessary"
There are imports like this
https://github.com/openhwgroup/cv32e40p/blob/8e22c994198ad08f4cacf239d56d98e1cc25627b/rtl/cv32e40p_core.sv#L30-L38

which makes all the variables visible in the whole compilation unit. This can cause issues when this codebase is compiled in the same compilation unit as another module that has a variable with the same name as in one of those packages. We saw this issue w

[2020-06-24 05:33] Silabs-ArjanB commented on #384
Hi @bluewww Fully agreed; could you actually make a pull request for these changes yourself?

[2020-06-24 12:41] #244 closed

[2020-06-25 13:12] Silabs-ArjanB commented on #122
Likely the issue has been resolved by now; casex was added and removed again because of explicit CSR address encoding in https://github.com/openhwgroup/cv32e40p/pull/376. Needs to be checked though before closing this issue.

[2020-06-25 13:53] Silabs-ArjanB commented on #208
Hi @MikeOpenHWGroup Can this issue be closed now?

[2020-06-25 14:30] MikeOpenHWGroup commented on #208
Yes it can.   Thanks.

[2020-06-25 14:30] #208 closed

[2020-06-26 13:07] accuminium opened #386 "Post-increment floating-point loads and stores"
Is it correct that the post-increment extension currently only supports [integer loads and stores](https://github.com/openhwgroup/cv32e40p/blob/8e22c994198ad08f4cacf239d56d98e1cc25627b/rtl/cv32e40p_decoder.sv#L397-L499) but not [floating-point loads and stores](https://github.com/openhwgroup/cv32e40p/blob/8e22c994198ad08f4cacf239d56d98e1cc25627b/rtl/cv32e40p_decoder.sv#L1918-L1999)?  If so, are th

[2020-06-26 13:50] #374 closed

[2020-06-26 20:37] jm4rtin commented on #365
@davideschiavone Do you have a human readable description of the bit manipulation instructions? Perhaps when they were originally defined? It would be good to add one into the documentation so someone doesn't have to decipher the bitwise operation to figure out how it works.

**p.extract:** rD = Sext((rs1 & ((1 << Is3) – 1) << Is2) >> Is2)
Extract **ls3 bits** starting at bit position ls2 from rs1

[2020-06-29 09:01] haugoug commented on #328
So from what I understand from this document, CV32E40P will be maintained but won't have any new feature, or CV32E40P will be dropped when CV32E40 is ready ? In particular, bug fixes will be done on both cores or just on CV32E40 ?

[2020-06-29 11:25] haugoug commented on #328
Ok thanks a lot for the information !

[2020-06-29 11:25] #328 closed

[2020-06-29 11:59] Silabs-ArjanB commented on #386
Hi @accuminium, your understanding is correct. There are no plans for CV32E40P to add a similar extension for floating-point loads and stores. (I would assume though (but did not try it out) that you get what you want when you would use the PULP_ZFINX = 1 parameter together with integer load/stores).

[2020-06-29 14:09] mp-17 opened #388 "Debug spec - Trigger registers access"
Hello everyone,

I saw that the decoder of cv32e40p allows access to the **trigger registers** only when the core is in _debug mode_.
**RISC-V Debug Specification** states that they can be accessed in machine mode as well:

(RISC-V External Debug Support, Version 0.13.2d5029366d59e8563c08b6b9435f82573b603e48e, page. 48, par. 5.2)

I've not checked yet if there are also other registers with access

[2020-06-29 14:50] #334 closed

[2020-06-29 15:00] jm4rtin commented on #388
This feature is not implemented in the current design. The debug trigger CSRs can be accessed in machine mode if dmode=0; however, dmode is tied to 1 in the design. The description of dmode:

It should probably not throw an illegal instruction exception on access to these CSRs and instead ignore the write (as stated).

[2020-06-29 16:42] bluewww commented on #384
Sorry I didn't get around to make those changes, but I see you already worked on it. Thanks.

[2020-06-30 14:26] davideschiavone commented on #365
Hi @jm4rtin , I just pushed on the core-v-docs the new description of the bit manipulation. It's hopefully more readable, actually, it would be good if you give feedbacks :)

[2020-07-01 07:30] davideschiavone commented on #381
Hi @jm4rtin , thanks for addressing this.

The `uhartid `should be readable only if USER_MODE is implemented in my opinion.
So it can stay there but probably should be parametrizable and not exposed to systems where only M-Mode is implemented (as by default)

For what concern the `privlv` CSR, I let Germain @haugoug replies on that as this was a SW requirement for PULP systems.

Thanks
Davide

[2020-07-01 08:00] haugoug commented on #381
I agree, these 2 CSRs, prilv and uhartid, are specific to pulp, they should not be visible. We will still need them, just having them enabled with a parameter would be perfect.

[2020-07-01 08:06] Silabs-ArjanB commented on #381
I have a proposal to remove some custom CSRs and to move other behind a (default true) parameter XPULP.

Proposal is to have three PULP related parameters:

- PULP_CLUSTER: Remains as is
- PULP_ZFINX: Remains as is
- XPULP:
  - All PULP instructions excluding p.elw
  - All hardware loop related functionality (PULP_HWLP parameter will be removed)
  - All custom CSRs

    lpstart0
    lpend0
    lpc

[2020-07-01 21:45] jm4rtin commented on #365
@davideschiavone When looking at **p.clb** it appears to produce the leading bits -1 and not the leading bits. This also returns 31 for the case of all 1's. I would expect it to return the leading bits like the documentation says but I would like to check with you before I make a change to this instruction. Was this done because clb_result-1 is going into both the result register and the div/rem u

[2020-07-01 22:18] jm4rtin commented on #381
That would make the core either 100% standard or include everything custom. It would be handy to have such a powerful parameter to turn it all off but it doesn't give you much control over individual features like the hardware loop or subsets of custom instructions. Is this a proposal to turn it all off for CV32E40 (the one after CV32E40P)?

[2020-07-02 05:15] Silabs-ArjanB commented on #381
Hi @jm4rtin If you have a proposal for finer-grained parameter control then that is welcome of course. We just do not want to go too fine-grained as then the number of combinations will get large causing difficulties/overhead for verification. The current proposal for CV32E40 can be found here https://github.com/openhwgroup/core-v-docs/blob/master/cores/cv32e40p/CV32E40P_and%20CV32E40_Features_Par

[2020-07-02 05:31] Silabs-ArjanB commented on #381
Hi @haugoug Could you please explain the scenario in which you need privlvl and uhartid in a machine-mode only core as CV32E40P? Also, are they only needed in case PULP_CLUSTER = 1 (in which case we could maybe make them conditional on that parameter)?

[2020-07-03 12:28] kangoojim opened #392 "Possible ISA incompliance in PMP"
Hi,
I possibly found behaviour in the PMP that is not compliant with the Privileged ISA Specification.

The current implementation (if I understand it correctly) first checks for each rule if it is enabled and if the R/W permissions of the rule fit the write enable signal of the current access. In case the rule permits the requested access, it is checked whether the access matches the rule's regio

[2020-07-03 13:10] Silabs-ArjanB commented on #392
Hi @kangoojim Thank you for reporting this issue. Please be aware that PMP  is not included in the CV32E40P (even though the RTL file itself is present). We will of course still look into this issue, but it will most likely be during the follow-up project CV32E40 (which will re-introduce the PMP functionality).

[2020-07-03 14:29] kangoojim commented on #392
Thanks for the quick reply! I was not aware of this. I found the issue while working with the pulpissimo platform (which fetches its core from this repo, an older commit though). Maybe it is worthwhile noting, that pulpissimo still uses this core with the PMP enabled by default.

[2020-07-03 14:42] Silabs-ArjanB commented on #392
Hi @kangoojim Yes, when this core was still called RI5CY the PMP was supported, so it makes sense that you can use it if you are on an older commit. The good news is that it will be supported again; the bad news is that it will take some time (and it will be on another core, CV32E40 instead of CV32E40P).

[2020-07-06 13:20] Silabs-ArjanB opened #617 "Encoding for immediate branching instructions not correctly documented"
The Immediate Branching Encoding in https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html# is not correct. The table heading does not match the content of the table.

[2020-07-06 13:38] davideschiavone opened #393 "Synthesizer does not support enum inside generate statement"
The obi interface file defines an enumerate type inside an else condition of a generate statement.
Some synthesizers do not support that

[2020-07-06 13:47] davideschiavone opened #395 "debug_req_q in reset statement has a missing "<""
debug_req_q in reset statement has a missing "<" in the always_ff process.

[2020-07-06 14:39] #393 closed

[2020-07-06 15:29] #395 closed

[2020-07-06 15:52] Silabs-ArjanB commented on #381
Hi @haugoug @jm4rtin Could you please comment on the above. I am now ready to issue a pull request for the following:

- PULP_CLUSTER: Remains as is
- PULP_ZFINX: Remains as is
- PULP_XPULP: All PULP ISA extensions including hardware loop, but excluding p.elw. This parameter also guards all custom CSRs (including prvlvl and uhartid, but excluding mip1/mie which were agreed to be removed all togeth

[2020-07-06 16:09] jm4rtin commented on #381
I am fine with adding the XPULP parameter. I still prefer `privlv` and `uhartid` be removed all together but it's not critical. Adding some finer grained local parameters might be useful to block out specific extensions:
* **PULP_LDST** - Post-increment load & store, register-register load & store
* **PULP_HWLP** - This one already exists
* **PULP_BITMANIP** - Bit manipulation ALU extensions
* **P

[2020-07-06 19:26] haugoug commented on #381
Hi @Silabs-ArjanB, for some chips with small internal memory, we don't need virtualization, just a bit of isolation without code duplication, where such instructions are quite useful.
I am also fine with your proposal about the parameters, and also the one with finer control.

[2020-07-07 07:26] davideschiavone commented on #371
I think the error is here:
[code]

it should be

mhpmcounter_n[cnt_idx] = **mhpmcounter_q**[cnt_idx] + 1;

mhpmcounter_n[cnt_idx] = **mhpmcounter_q**[cnt_idx] + hpm_events[1];

Can you please fix it ? @silabs-PaulZ

[2020-07-07 08:10] #373 closed

[2020-07-07 08:27] davideschiavone commented on #371
I reopened the issue as this should be first checked with synthesis, for the moment I fixed that typo

[2020-07-07 08:33] #379 closed

[2020-07-07 08:37] Silabs-ArjanB commented on #371
I will run a synthesis to check; thanks!

[2020-07-07 09:13] Silabs-ArjanB commented on #381
Hi @haugoug , @jm4rtin Thank you for your feedback. I decided to go for the more coarse gain control (i.e. PULP_XPULP) although I appreciate the fine grained proposal above. Reason to stick to the coarse grain control (for now) is mainly to prevent the verification burden implied by introduction of separate parameters (implying that all combinations need to be verified); also there would be an imp

[2020-07-07 14:25] silabs-PaulZ commented on #388
I agree with the change request to adhere to the spec.
To summarize:
- Keep the Mode tied  1 (Only allow Debug Mode to write)
- In non-debug Machine mode
  - Reads of trigger CSRs will return actual register values
  - Writes will be ignored

Access will no longer cause an illegal instruction. Reads will always reflect CSR actual values (as opposed to always returning zero value).

Note that CV32E

[2020-07-08 06:36] Silabs-ArjanB commented on #371
The combinatorial paths still exist, but the unwanted long paths are gone, so the fix looks good. (Fixing the combinatorial path all together would most likely involve changing the cv32e40p_controller, which is not considered worth the effort)

[2020-07-08 06:36] #371 closed

[2020-07-08 09:56] Silabs-ArjanB commented on #131
Fixed with https://github.com/openhwgroup/cv32e40p/pull/391

[2020-07-08 09:56] #131 closed

[2020-07-08 10:01] Silabs-ArjanB commented on #223
A pull request has been made to guard all of the PULP extensions (including the DSP multipliers), see https://github.com/openhwgroup/cv32e40p/pull/398. The reasons for not implementing finer grained control on CV32E40P are explained in  https://github.com/openhwgroup/cv32e40p/issues/381. On a next core, e.g. CV32E40, it is the intention to have an extension interface such that it becomes easier fo

[2020-07-08 12:26] silabs-PaulZ opened #401 "MTVEC interrupt vector default value"
The default value of the MTVEC, interrupt and exception vector address, is set to 0. If an exception occurs before SW has reconfigured MTVEC to the proper location then the processor will be in a deadlock situation.

We should add the mtvec_addr_i port, similar to boot_addr_i, that defines the default value of the MTVEC CSR value. This allows the user to customize the default boot and MTVEC locati

[2020-07-08 13:10] MikeOpenHWGroup commented on #401
Good catch @silabs-PaulZ.  Just to play the devil's advocate here... it is common practice for s/w to initializes the GPRs as part of its init code.  If interrupts are all masked by default and the init code updates MTVEC, will this not prevent the deadlock?

Full disclosure - as a hardware guy, I am loath to push an initialization requirement onto software.  Nevertheless its a common practice.

[2020-07-08 14:18] silabs-PaulZ commented on #401
Indeed the interrupts will be masked until software enables them (mstatus.mie), after mtvec update. This change is to address a non interrupt exception. Granted, this would be caused by poor programming.

[2020-07-08 14:32] bluewww commented on #401
Normally the first thing you do in a `crt0.S` is to set `gp`, `sp` and `mtvec`. The spec doesn't say anything about the reset value of mtvec so I think this proposed change is fine

[2020-07-08 14:56] davideschiavone commented on #401
This is very dangerous. It works only if the input is tighy with a CONSTANT value.
Otherwise the synthesizer will try to put the Q of some flip-flop value in the RESET state of the MTVEC flip flops.
I propose:

1. Either we use a PARAMETER (safe and nice but yet another parameter)

2. Or we build an FSM that writes the mtvec_addr_i after reset into mtvec (ugly)

[2020-07-08 16:19] silabs-PaulZ commented on #401
Hi @davideschiavone ,

I want to have the MTVEC CSR updated with mtvec_addr_i after the first cycle out of reset (Option 2). This will be similar to the IBEX solution, except that IBEX resets the MTVEC to the same value as the boot address.
The IBEX solution can be found here:
https://github.com/lowRISC/ibex/blob/3d29e5174c2c1826bfaf8ed1a0800e23858475af/rtl/ibex_cs_registers.sv#L451
https://github

[2020-07-08 16:30] jm4rtin commented on #401
I think changing the reset value is unnecessary and complicates the design and verification. Just set it as the first instruction of your crt0. If you *have* to make it configurable I wouldn't recommend a parameter as this precludes changing it via metal options. The IBEX approach is okay.

[2020-07-09 05:37] Silabs-ArjanB commented on #401
I am also in favor of this fix if it is done in a similar manner as on Ibex.

[2020-07-09 16:44] silabs-PaulZ commented on #401
Hi @davideschiavone , @jm4rtin , @Silabs-ArjanB ,

The IBEX solution also defaults the interrupts to vectored mode. CV32E40P is currently defaulted to direct mode. I plan to make the change match the IBEX solution (default vectored mode).

[2020-07-09 21:20] silabs-PaulZ commented on #2
Hi @colin4124 , @gautschimi ,

The logic to decode a CSR read or write operation can be found in the cv32e40p_decoder.sv:
https://github.com/openhwgroup/cv32e40p/blob/63b5a87d49072b5ea0574d354128d621ee95d7f6/rtl/cv32e40p_decoder.sv#L2414-L2422

It only performs a read if the CSR instruction is a SET or CLEAR with rs=0 or zimm=0 (e.g. CSRSRS, CSRRSI, CSRRC, CSRRCI)

In the current CV32E40P implemen

[2020-07-10 01:22] silabs-PaulZ commented on #157
Hi @shetalani , The User mode was removed when we ported RISCY to CV32E40**P**.  We will add User Mode back in on the follow-on part, CV32E40. We do appreciate the effort to verify this core and will look into this ticket when we transfer work to CV32E40.

[2020-07-10 01:47] silabs-PaulZ commented on #182
Hi @shetalani , The User mode was removed when we ported RISCY to CV32E40P. We will add User Mode back in on the follow-on part, CV32E40. I hope to look at the user mode issues at a later date.

Regarding machine mode, I am now seeing the correct behavior.
After `mret` instruction call, the following holds true:
  - MIE= MPIE
  - MPIE=1
  - current_prv_lvl = machine (which is always machine in CV3

[2020-07-10 06:11] Silabs-ArjanB commented on #401
Hi @silabs-PaulZ Why not simply make a **mtvec_i** port instead so that all implemented bits of mtvec can be initialized? That would be even more general and easier to explain.

[2020-07-10 13:01] silabs-PaulZ commented on #401
Hi @Silabs-ArjanB ,

I was thinking that we only wanted to change the address. The mode bit does not affect the main purpose of this fix which is to provide the default address for non-interrupt synchronous exceptions say from the first instruction being corrupt. Interrupts are default disabled, so SW would need to configure this mode bit appropriately before enabling them. Moreover, the mode is d

[2020-07-10 13:07] Silabs-ArjanB commented on #401
Hi @silabs-PaulZ Fully agreed; forgot that the mode only affects interrupts and not exceptions

[2020-07-10 14:27] Silabs-ArjanB opened #404 "Missed debug_req_i pulse"
A debug_req_i pulse can be missed if it comes in during the part of the enable process of CV32E40P in which the interal clock is gated off.

[2020-07-10 14:35] MikeOpenHWGroup commented on #404
Hi @Silabs-ArjanB - good catch.  I assume you caught that with inspection, rather than simulation.  What would a testbench need to do to ensure it could reproduce this issue.  Are there similar issues that verification should be aware of?

[2020-07-10 14:54] Silabs-ArjanB commented on #404
This was the result of a directed formal test I did aimed at finding issues with the architected clock gate. The statement that a 1 cycle pulse on debug_req_i is enough is part of the User Manual.

[2020-07-10 15:04] MikeOpenHWGroup commented on #404
Nice.   I've created [a Vplan issue](https://github.com/openhwgroup/core-v-docs/issues/128) for @silabs-oysteink to ensure we capture that in the Vplan.

I suspect there is more to this issue: your formal test looks for one cycles pulses on debug_req_i, but the issue seems to be related to "part of the enable process".  What is that?

[2020-07-10 15:11] Silabs-ArjanB commented on #404
With the enable process I mean the assertion of fetch_enable_i as described in https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/integration.html. Certain other signals depend on that signal (as described in the same section) and clock gating depends on it as well (as also described but awaiting a pull request)

[2020-07-13 05:31] Silabs-ArjanB opened #406 "Re-introduce Hardware Loop functionality"
The Hardware Loop features (by choice) partially non-operational in CV32E40P, but will be made operational again. It was removed initially and agreed to be re-introduced again in a different manner (together with a Ariane style fetch FIFO implementation) after the bus interface related updates (which completed months ago).

Until this issue has been resolved Hardware Loops will be non-operational

[2020-07-13 06:24] Silabs-ArjanB commented on #94
Hi @shjdzc12 This issue will be further tracked in https://github.com/openhwgroup/core-v-verif/issues/46. The RISC-V compliance tests will be removed from this cv32e40p repos and be revived in https://github.com/openhwgroup/core-v-verif. Could you please close this issue and address related issues in https://github.com/openhwgroup/core-v-verif instead?

[2020-07-13 06:35] shjdzc12 commented on #94
Certainly. I will do that!

[2020-07-13 18:08] DavidM-EMUS opened #407 "pv.cplxmul.(r/i)( /.div2/div4/div8) incorrect functionality"
The compressed folder below has a test in it for all complex number SIMD instructions (pv.subrotmj( /.div2/.div4/.div8), pv.cplxconj, pv.cplxmul.(r/i)( /.div2/,div4/.div8)). The test is rather simple in nature, wherein rD is always x19, rs1 is always x17, and rs2 is always x18. rD, rs1, and rs2 are loaded with randomized values, and then the pulp instruction being tested is run. Additionally, x20

[2020-07-13 19:33] davideschiavone commented on #365
Hi @jm4rtin ,

you are right. The documentation is wrong. I checked the test we wrote for it and indeed it's Leading bit - 1

https://github.com/davideschiavone/riscv_pulpissimo_test/blob/master/testCnt/testCnt.c

For the brev you are also right. The documentation should be:

so **radix2 = 0, radix4 = 1, radix8 = 2**

This instruction works with the lenght of a signal as well, that should be a mul

[2020-07-13 19:36] jm4rtin commented on #365
@davideschiavone Just to be clear, on all cases the documentation should be updated. No RTL change needed, correct?

[2020-07-13 19:39] davideschiavone commented on #365
yes correct. The tests assembly/C tests we wrote and the RTL are coherent. We are just not good in documenting it :)

[2020-07-13 19:41] #311 closed

[2020-07-13 19:42] jm4rtin commented on #365
@davideschiavone Okay I'll submit a PR to fix the documentation (unless you beat me to it). Are the tests you looked at in the repository or something internal at ETH?

[2020-07-13 19:43] #362 closed

[2020-07-13 19:49] davideschiavone commented on #365
Most of the tests are here:
https://github.com/davideschiavone/riscv_pulpissimo_test

I will update the repo with the Complex one but I don't want to support such repository. The verification will take care of better one. We can use this one to clarify such cases thoug :)

[2020-07-13 22:25] silabs-PaulZ commented on #99
Hi @Itaykeidar ,

We are currently using the Imperas model which is matching the behavior where MPIE=1 after MRET. I'm having some trouble getting the Spike simulator running. Could you see if that behavior has changed? My understanding is the same as @davideschiavone and @bluewww in that X to Y can be the same privilege mode. I would be in favor of not modifying the RTL and perhaps post it as an

[2020-07-14 05:25] Silabs-ArjanB commented on #144
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:25] #144 closed

[2020-07-14 05:26] Silabs-ArjanB commented on #17
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:26] #17 closed

[2020-07-14 05:27] Silabs-ArjanB commented on #187
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:27] #187 closed

[2020-07-14 05:27] Silabs-ArjanB commented on #225
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:27] #225 closed

[2020-07-14 05:28] Silabs-ArjanB commented on #323
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:28] #323 closed

[2020-07-14 05:29] Silabs-ArjanB commented on #333
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:29] #333 closed

[2020-07-14 05:29] Silabs-ArjanB commented on #43
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:29] #43 closed

[2020-07-14 05:30] Silabs-ArjanB commented on #71
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:30] #71 closed

[2020-07-14 05:31] Silabs-ArjanB commented on #137
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:31] #137 closed

[2020-07-14 05:31] Silabs-ArjanB commented on #382
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:31] #382 closed

[2020-07-14 05:32] Silabs-ArjanB commented on #10
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:32] #10 closed

[2020-07-14 05:33] Silabs-ArjanB commented on #100
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-14 05:33] #100 closed

[2020-07-14 05:37] Silabs-ArjanB commented on #102
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:37] #102 closed

[2020-07-14 05:38] Silabs-ArjanB commented on #108
We are closing this issue as it has been answered at least 7 days ago. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions. Thank you for contributing to this core; raising issues will help to improve it.

[2020-07-14 05:38] #108 closed

[2020-07-14 05:39] Silabs-ArjanB commented on #116
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:39] #116 closed

[2020-07-14 05:39] Silabs-ArjanB commented on #199
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:39] #199 closed

[2020-07-14 05:41] Silabs-ArjanB commented on #378
Hi @GTumbush , #383 has been merged. Could you please close this issue if you agree it has been fixed?

[2020-07-14 05:42] Silabs-ArjanB commented on #388
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:42] #388 closed

[2020-07-14 05:46] Silabs-ArjanB commented on #384
Hi @bluewww The corresponding pull request has been merged. Could you please close this issue if you agree it has been fixed or let us know what issue still exist?

[2020-07-14 05:50] Silabs-ArjanB commented on #15
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:50] #15 closed

[2020-07-14 05:54] Silabs-ArjanB commented on #301
The issue has been solved except for the PMP file. PMP is however not used in CV32E40P, but file itself is kept. Once we start on a core using the PMP the issue will be addressed there as well (e.g. as was done in the Ibex PMP). Therefore I am waiving the 'remainder of this issue' for CV32E40P.

[2020-07-14 05:57] Silabs-ArjanB commented on #60
Hi @ajaykrishna1111 , the mentioned pull requests have been merged. Could you please close this issue if you agree it has been addressed satisfactorily or let us know of further questions?

[2020-07-14 05:58] Silabs-ArjanB commented on #80
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-07-14 05:58] #80 closed

[2020-07-14 09:41] bluewww commented on #384
@Silabs-ArjanB thanks looks correct

[2020-07-14 09:41] #384 closed

[2020-07-14 09:57] davideschiavone commented on #407
Thanks a lot @DavidM-EMUS , I will try to give it a look asap

[2020-07-14 10:33] Silabs-ArjanB commented on #229
Hi @MikeOpenHWGroup Most of the testbenches and test cases have been removed from the cv32e40p repos now. We kept 3 examples: 'hello world', 'floatinf point example,' and 'interrupt example'. If you agree with this can you please close this issue; if not, please let us know what more needs to be done.

[2020-07-14 10:36] #354 closed

[2020-07-14 11:22] Silabs-ArjanB commented on #49
Hi @luudee The top level parameters are explained here: https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/integration.html#parameters. The APU interface will be (but has not yet been) explained here: https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/apu.html. We have a separate task to create the APU doc here: https://github.com/openhwgroup/c

[2020-07-14 12:58] MikeOpenHWGroup commented on #229
Thanks @Silabs-ArjanB.  I have noticed over the past few weeks that these changes have cleared up a lot of confusion.  Much appreciated.  I will close this issue.

I've requested a small README be added to the example_tb directory, see https://github.com/openhwgroup/cv32e40p/pull/409.   That PR need not gate closing this issue.

[2020-07-14 12:58] #229 closed

[2020-07-14 14:33] GTumbush commented on #378
@Silabs-ArjanB   Imperas filed this issue but I can check the fix. What command line did you use to run interrupt_test? I tried:
bash-4.2$ make interrupt_test
make: *** No rule to make target `interrupt_test'.  Stop.

[2020-07-14 14:40] Silabs-ArjanB commented on #378
Hi @GTumbush The 'test' was renamed. You can run 'make interrupt-vsim-run'

[2020-07-14 16:35] MikeOpenHWGroup opened #411 "Reinstate the TRACER"
The tracer was removed in commit 8a626b9.   The tracer supports step-and-compare with the verification environment's reference model which makes it a **must have** for verification.   This will gate all current and future pull requests against core-v-verif to sync the with RTL including https://github.com/openhwgroup/core-v-verif/pull/113 and https://github.com/openhwgroup/core-v-verif/pull/148.

[2020-07-14 16:55] Silabs-ArjanB commented on #411
Hi @MikeOpenHWGroup We are working on this; the tracer will get bound to the core as opposed to being instantiated inside the core.

[2020-07-14 17:18] MikeOpenHWGroup commented on #411
OK.  Do you have a time estimate on this?   The updates for mtvec and debug and the updated parameters are all gated by this.

[2020-07-14 23:16] GTumbush commented on #378
@Silabs-ArjanB
Sorry, still not compiling.
bash-4.2$ make interrupt-vsim-run
make: *** No rule to make target `interrupt-vsim-run'.  Stop.

[2020-07-15 07:33] Silabs-ArjanB commented on #411
The tracer has been integrated already in https://github.com/openhwgroup/core-v-verif/pull/113, so there is no need to revert anything.

If we do the following in core-v-verif we are all in sync again:

Step 1) Updates the CV32E40P_HASH as requested in https://github.com/openhwgroup/core-v-verif/pull/148 and merge this pull request
Step 2) Make the requested updates in https://github.com/openhwgro

[2020-07-15 07:44] Silabs-ArjanB commented on #185
Hi @shetalani This issue has been fixed with https://github.com/openhwgroup/cv32e40p/pull/353. If you agree can you please close this issue; if not, please let us know what issue you are still seein.

[2020-07-16 06:23] Silabs-ArjanB commented on #378
Hi @GTumbush No problem. I have no idea why that doesn't work for you. Are you on the most recent repos? The makefile target is defined here and works on a clean repos for me (using Questa): https://github.com/openhwgroup/cv32e40p/blob/3fcdeef90561d8df2f89a92d9566121fd1b2eb3f/example_tb/core/Makefile#L243

[2020-07-16 06:41] eroom1966 commented on #378
Hi @Silabs-ArjanB @GTumbush
I am just getting back up to speed here

I see that the target names includes vsim as part of the name, does this imply that these targets are specific to this particular RTL simulator?
Previously we had this working on all major RTL simulators
Thx
Lee

[2020-07-16 06:52] davideschiavone commented on #411
Let's keep this issue open until we have a wrapper as suggested in https://github.com/openhwgroup/core-v-verif/pull/148
I assign this task to myself

[2020-07-16 07:09] Silabs-ArjanB commented on #378
Hi @eroom1966 I greatly simplified the Makefile by removing many targets (e.g. compliance test suite) and simulator options. We were having way too much duplication of code between core-v-verif and this repos. This repos will have very minimal test case and tool support. Also we will be moving to use FuseSoc; I do not really know how that will work, but maybe that is the time to enable other tools

[2020-07-16 09:24] Silabs-ArjanB commented on #381
Hi @jm4rtin Can this issue be closed now? If not, please let us know what still needs to be done to achieve closure.

[2020-07-16 14:26] #381 closed

[2020-07-16 14:29] davideschiavone commented on #411
@Silabs-ArjanB , @MikeOpenHWGroup , shall we modify the core-v-verif to use such wrapper?

[2020-07-16 14:31] MikeOpenHWGroup commented on #411
Thanks for the offer @davideschiavone.   I am taking care of that now.

[2020-07-16 18:32] YuliaR-2006 opened #415 "Missing "fpnew_pkg" parameter"
Hi,
I'm trying to synthesize the RTL code and I see that the  "fpnew_pkg" parameter which is used in 'rtl/include/cv32e40p_pkg.sv' , 'rtl/cv32e40p_ex_stage.sv', 'rtl/cv32e40p_decoder.sv' etc...  is not defined anywhere.

[2020-07-16 19:35] jm4rtin commented on #415
See: https://github.com/pulp-platform/fpnew

The FPU is normally parameterized out so if you leave it out of the core you really only need the package.

[2020-07-17 03:34] #2 closed

[2020-07-17 06:30] Silabs-ArjanB commented on #415
Hi @YuliaR-2006 You can type 'make deps' in cv32e40p to clone that repos. If this solves your issue can you please close this ticket?

[2020-07-17 12:00] bluewww commented on #308
Third issue should be fixed by this https://github.com/openhwgroup/cv32e40p/issues/384

[2020-07-17 17:32] silabs-PaulZ opened #418 "Simultaneous request of debug, trigger, and interrupt"
The controller state machine has a bug where it cannot handle an interrupt and either debug or trigger being requested at the same time.  The FSM is encoded in a one-hot manner, expecting only one of these conditions to be active. Moreover, an assertion was previously written to catch this overlap but has been inadvertently disabled.

https://github.com/openhwgroup/cv32e40p/blob/1607d8b675864db1aa

[2020-07-17 17:38] davideschiavone commented on #418
Hi @silabs-PaulZ , thanks for brining this up.
The proposal is realistic and I agree with it. I would probably give priority to interrupt first as usually more timing sensitive for the application than the debug. But those are corner cases anyway. So I don't have strong opinions on it.

[2020-07-17 19:04] silabs-PaulZ commented on #418
Hi @davideschiavone , the irq and debug will result in a halt in the decode. If the irq is first, then after the irq flush and irq fetch, the (irq) decode will be halted due to debug req. So, it probably would be better to simply take debug_req first since it will essence block the irq irregardless. But alas, it is minor, we are entering debug which will significantly impair the irq response (if n

[2020-07-18 11:17] Silabs-ArjanB commented on #418
@silabs-PaulZ Good catch! Shouldn't formal have caught the fact that the above 'unique case' can be violated? If not, then we should probably add equivalent assertions for all 'unique case' statements written in above manner.

[2020-07-20 17:24] mmatzev commented on #308
Yes that's my work around in CV32e40p and fpnew.
I would recommend to clone fpnew also in this repository. From my point of view verilator support is very helpful for the programmers to start with an early version of the hardware.

[2020-07-20 17:34] MikeOpenHWGroup commented on #308
The manifest file (cv32e40p_manifest.flist) makes it clear that fpnew needs to be cloned separately.

Verilator is supported the the `core` testbench of the [core-v-verif](https://github.com/openhwgroup/core-v-verif) project.  We have agreed to maintain a minimal amount of Verilator support as an aid to programmers.

[2020-07-21 09:44] Silabs-ArjanB opened #424 "Missing case select item (csr_save_ex_i)"
It seems that the following code is missing from the case statement at https://github.com/openhwgroup/cv32e40p/blob/1607d8b675864db1aa013364fd4444a665331830/rtl/cv32e40p_cs_registers.sv#L995

          csr_save_ex_i:
            exception_pc = pc_ex_i;

For reference see the the handling of the same case statement if PULP_SECURE==1: https://github.com/openhwgroup/cv32e40p/blob/1607d8b675864db1aa01

[2020-07-21 11:48] MikeOpenHWGroup commented on #308
The manifest file (cv32e40p_manifest.flist) makes it clear that fpnew needs to be cloned separately.

Verilator is supported the the `core` testbench of the [core-v-verif](https://github.com/openhwgroup/core-v-verif) project.  We have agreed to maintain a minimal amount of Verilator support as an aid to programmers.

[2020-07-21 11:55] ncf125 opened #426 "how to build cv32e40p encoding.h , encoding.h as shown follow"
#define clear_csr(reg, bit) ({ unsigned long __tmp; \
  if (__builtin_constant_p(bit) && (bit) < 32) \
    asm volatile ("csrrc %0, " #reg ", %1" : "=r"(__tmp) : "i"(bit)); \
  else \
    asm volatile ("csrrc %0, " #reg ", %1" : "=r"(__tmp) : "r"(bit)); \
  __tmp; })

#define rdtime() read_csr(time)
#define rdcycle() read_csr(cycle)
#define rdinstret() read_csr(instret)

#endif

#endif

#endif

#e

[2020-07-21 11:58] Silabs-ArjanB commented on #426
Hi @ncf125 , I do not understand the actual issue/question you have. Can you please clarify?

[2020-07-21 12:11] ncf125 commented on #426
The CSR register address is defined when c is compiled.   We need a  encoding.h file that will define these. Previously RISCV was generated automatically.I don't know how to generate such a file. Thanks

[2020-07-21 12:17] Silabs-ArjanB commented on #426
Hi @ncf125 None of the example programs in the cv32e40p use/require encoding.h as far as I can see. Where did you find that file being used and where was it generated originally?

[2020-07-21 12:23] ncf125 commented on #426
https://github.com/pulp-platform/riscv-opcodes?files=1   I just find it .  Let me study it

[2020-07-21 13:02] Silabs-ArjanB commented on #424
Fixed in https://github.com/openhwgroup/cv32e40p/pull/425

[2020-07-21 13:57] sorear opened #427 "Security hole in hardware loop, sketch of a possible mitigation"
## The problem

There appears to be no way to stop a U-mode program from setting `lpstart0` to the address of an instruction in M-mode and redirecting M-mode execution.  This can also be done with the dedicated instructions if M-mode and U-mode code are close enough in memory.  Clearing hardware loops in trap entry is not sufficient as the U-mode program can set `lpstart0` to an early instruction

[2020-07-21 13:58] sorear opened #428 "several possible PMP nonconformances?"
While looking for solutions to #427 I looked over the PMP implementation.  Some possible issues I noticed:

1. From the privilege spec:

However no such mechanism appears to be implemented; `mpmpaddrNNN` read and write 32 bits regardless of `EN_NAPOT_RULE_nnn`.

It is unclear if the `EN_NAPOT_RULE_nnn` feature is needed: the entire switch statement is a very long way of writing:

    start_addr[i]

[2020-07-21 15:01] Silabs-ArjanB commented on #428
Hi @sorear Thank you for your detailed report. Please be aware that the CV32E40P does not include the PMP. That being said, we do intend to revive this functionality on a next core and address the PMP issues (maybe by starting with the PMP design from Ibex instead as it has various issues solved and is written in a cleaner manner). Please let us know if you actually want to take on this task?

[2020-07-22 01:07] #426 closed

[2020-07-22 02:22] silabs-PaulZ opened #429 "HPM counter logic 'possibly' not implemented correctly"
@davideschiavone ,

This issue was found by inspecting the RTL. It also serves as a reminder to write a test for HPM. The RTL looks to increment the jump, branch, and branch_taken based on a signal asserted during the decode phase (e.g. jump_i) along with a pipelined control signal (id_valid_q).

https://github.com/openhwgroup/cv32e40p/blob/1607d8b675864db1aa013364fd4444a665331830/rtl/cv32e40p_cs_

[2020-07-22 05:58] Silabs-ArjanB commented on #427
Hi @sorear, thank you very much for reporting this issue and obviously spending a lot of time to think it through and to propose a solution. Even though CV32E40P only supports user mode, I indeed agree that we need to look ahead and make fixes also in a machine mode only implementation as well to be able to write forward compatible software. I am not really in the position to comment on the desire

[2020-07-22 06:50] Silabs-ArjanB opened #430 "Fix TODOs in RTL"
The following 'todo's in the RTL should be addressed as they reflect 'potential' bugs:

- cv32e40p_cs_registers.sv (https://github.com/openhwgroup/cv32e40p/blob/1607d8b675864db1aa013364fd4444a665331830/rtl/cv32e40p_cs_registers.sv#L1023):        // TODO: prevent illegal values, see riscv-debug p.44
- cv32e40p_controller.sv:                    // TODO: handle ebrk_force_debug_mode plus single stepp

[2020-07-23 07:17] Silabs-ArjanB opened #431 "Update marchid"
marchid is currently implemented as a 'read 0' CSR, which is legal.

It would be better to:

- [x] Use the value as defined for RI5CY at https://github.com/riscv/riscv-isa-manual/blob/master/marchid.md

- [x] Make a pull request at https://github.com/riscv/riscv-isa-manual/blob/master/marchid.md to change RI5CY into CV32E40P

[2020-07-23 11:13] MikeOpenHWGroup commented on #431
This is being a little nit-picky, but I do not think the read value of zero is strictly illegal.  section 3.1.13 of the priviledged spec reads:
[code]
In the same sub-section it goes on to say,
[code]
There does not seem to be a requirement that a given core should actually use this as its marchid.

Having sad that, I agree with @Silabs-ArjanB's suggestions and think we should do both.

[2020-07-23 11:45] Silabs-ArjanB commented on #431
Agreed, as said above, the current implementation is legal as well.

[2020-07-23 14:49] Silabs-ArjanB commented on #60
Hi @ajaykrishna1111 We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.

[2020-07-23 14:49] #60 closed

[2020-07-23 14:51] Silabs-ArjanB commented on #94
Hi @shjdzc12 We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank

[2020-07-23 14:51] #94 closed

[2020-07-23 14:52] Silabs-ArjanB commented on #99
Hi @Itaykeidar We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Tha

[2020-07-23 14:52] #99 closed

[2020-07-23 14:53] Silabs-ArjanB commented on #49
Hi @luudee We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank y

[2020-07-23 14:53] #49 closed

[2020-07-23 14:55] Silabs-ArjanB commented on #185
Hi @shetalani We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Than

[2020-07-23 14:55] #185 closed

[2020-07-23 14:58] #411 closed

[2020-07-23 15:00] #401 closed

[2020-07-23 20:09] jm4rtin opened #432 "HPM unprivileged CSRs"
The HPM contains unprivileged read-only shadows of the machine-mode CSRs. It's not entirely clear if these are required to be implemented in a machine mode only configuration to be standard compliant; however, it is recommended that they be included if the matching machine-mode CSR is implemented. See this issue for more details: riscv/riscv-isa-manual#543

EM decided to include these in our inter

[2020-07-24 06:41] Silabs-ArjanB commented on #432
Hi @jm4rtin This topic is not too well described in the RISC-V specs indeed. Originally we thought that the 'counter extension' related to counters/timers, irrespective of privilege. Now it is however quite clear to me: The M-mode CSRs are mandatory. The unprivileged CSRs are what is called the 'counter extension' and we did indeed not implement that . (When we orignally defined the CV32E40P param

[2020-07-24 15:23] jm4rtin commented on #432
I see it a bit differently. Yes, the machine-mode CSRs are required but they call all be tied to 0:

I read this as the "counter extension" is the implementation of the actual counters and not just a couple unprivileged read-only shadow CSRs. So from this interpretation if you wish to exclude the "counter extension" then you would tie all the counters to 0. If you choose to implement the "counter

[2020-07-25 08:31] Silabs-ArjanB commented on #432
Hi @jm4rtin Maybe it is easiest if we have a meeting on this topic once both Paul and I are back in office (would be about two weeks from now). I can try to get some clarification on which CSRs are officially part of the 'unprivileged spec counters extension' in the official RISC-V github repos (either by adding to your ticket or by starting a new thread). (In my opinion the statement above about

[2020-07-27 15:24] jm4rtin commented on #432
@Silabs-ArjanB That's fine, there is no rush. Hopefully we will get more clarification from RISC-V in the meantime.

[2020-07-29 21:28] GTumbush opened #434 "taken bge followed by div takes 36 cycles"
**Component:RTL**:

For specific combinations of bge followed by div the flush of the div takes 36 clock cycles. The branch is taken.
Other combinations of branch/div/mul/rem and operands may reproduce this issue.  I will enumerate a few below.

### Steps to Reproduce
1. git hash: 2fe68a93c27db0bb514d567f79d3ba54045b51f6
2. git clone -b add_riscv_rand_instr_test_0 https://github.com/GTumbush/core-

[2020-08-03 06:19] islengxw opened #435 "Which commit ID is stable for commerical use?"
Hi openhwgroup,
Thanks for your hard working for this great project, i have learned GreenWaves have tapped out sucessfully using this RISCV core.
i am coming from chinese company, we are very instresting about this core for commerical usage.
Can anybody can give me some clue about which commit ID was stable enough for commerical use? BTW, must support floatting point.

[2020-08-05 22:31] GTumbush commented on #434
@MikeOpenHWGroup can you please assign this bug? I cannot.

[2020-08-06 12:49] MikeOpenHWGroup commented on #434
Hi @davideschiavone.  Do you have time to look at this one?  It is urgent for em-micro.

[2020-08-06 15:27] shetalani opened #438 "Illegal Instruction Exception not Raised - URET"
**RISC-V Specification:**

- **3.2.2:** _"URET is only provided if user-mode traps are supported, and should raise an illegal instruction otherwise."_

**Issue Description:**

Executing URET instruction when U mode isn't supported doesn't raise an illegal instruction exception.

**Example:**

As shown below, the instruction 32'h00200073 (URET) is decoded at time point t##0, where MSTATUS, MCAUSE a

[2020-08-06 15:27] shetalani opened #439 "Illegal Instruction Exception Raised Incorrectly - C.EBREAK"
**RISC-V Specification:**

**Issue Description:**

Executing C.EBREAK instruction raises wrongly an illegal instruction exception.

**Example:**

As shown below, the instruction 32'h00100073 (EBREAK) is decoded at time point t##0, where MSTATUS, MCAUSE and MEPC are updated at t##2 as if it had caused an illegal instruction exception.

![EBREAK_ill](https://user-images.githubusercontent.com/5436701

[2020-08-06 15:27] shetalani opened #440 "Illegal Instruction Exception Raised Incorrectly - CSRs"
**RISC-V Specification:**

**Issue Description:**

Executing a CSR instruction raises wrongly an illegal instruction exception.

**Example:**

As shown below, the instruction 32'h300035f3 (CSRRC X11, MSTATUS, X0) is decoded at time point t##0, where MSTATUS, MCAUSE and MEPC are updated at t##2 as if it had caused an illegal instruction exception.

![CSR_ill](https://user-images.githubusercontent.c

[2020-08-06 15:27] shetalani opened #441 "Illegal Instruction Exception Raised Incorrectly - MRET"
**RISC-V Specification:**

**Issue Description:**

Executing MRET instruction raises wrongly an illegal instruction exception.

**Example:**

As shown below, the instruction 32'h30200073 (MRET) is decoded at time point t##0, where MSTATUS, MCAUSE and MEPC are updated at t##2 as if it had caused an illegal instruction exception.

![MRET_ill](https://user-images.githubusercontent.com/54367010/895497

[2020-08-06 15:27] shetalani opened #442 "Illegal Instruction Exception Raised Incorrectly - FENCE"
**RISC-V Specification:**

**Issue Description:**

Executing FENCE instruction raises wrongly an illegal instruction exception.

**Example:**

As shown below, the instruction 32'h7b21008f (FENCE) is decoded at time point t##0, where MSTATUS, MCAUSE and MEPC are updated at t##2 as if it had caused an illegal instruction exception.

![FENCE_ill](https://user-images.githubusercontent.com/54367010/895

[2020-08-06 15:27] shetalani opened #443 "Incorrect DCSR value read/ written"
**RISC-V Specification:**

- **4.8.1**

**Issue Description:**

Bits [27:16], [14] and [5] of DCSR should be tied to zero as specified in the spec.

**Example:**

As shown below, the instruction 32'h7b0027f3 (CSRRSI X15, DCSR, X0) is decoded at time point t##0, where `dcsr_q.zero2` is read as 12'h800 at t##1. Same goes for `dcsr_q.zero1` or `dcsr_q.zero0`.

![DCSR_zero](https://user-images.githubu

[2020-08-06 16:45] MikeOpenHWGroup commented on #435
Hi @islengxw, the answer to your question depends on what you mean by "stable for commercial use".

The first release of the CV32E40P will not support floating point.   This is planned for a future release and OpenHW has not committed to date for this yet.

If you want to use the RTL as IP for an ASIC, then the CV32E40P is not yet ready.  We are working towards this goal and expect to be there in

[2020-08-07 02:51] islengxw commented on #435
Hi Mike,
Very detailed and clear answer, i appreciate it very much. :)
BR
Xiaowei Leng

[2020-08-07 02:51] #435 closed

[2020-08-07 08:37] davideschiavone commented on #406
see PR #436

[2020-08-10 07:33] #365 closed

[2020-08-10 08:52] davideschiavone commented on #407
Hello @DavidM-EMUS , sorry for the late reply.
Actually you found two bugs. One in the tracer, and one in the documentation.

I checked the original specs, and I mistankely inverted the bit 25, both in the documentation and in the tracer.
But the RTL is doing the right thing, i.e. if bit 25 is 1, then it is an imaginary instruction.

So I will fix the tracer as soon as PR #436 is merged (to avoid

[2020-08-10 09:24] davideschiavone commented on #407
This PR fixes the documentation https://github.com/openhwgroup/core-v-docs/pull/160

[2020-08-11 06:46] dawidzim opened #444 "Duplicate cv32e40p_sim_clock_gate.sv in compilation | Component:Tool-and-build"
Hey!
In `cv32e40p/example_tb/core/Makefile` is:
[code]
File `cv32e40p_sim_clock_gate.sv` already is in `RTLSRC_BHV`. I think this is not necessary duplicate this file.
So we can just delete this line `$(RTLSRC_HOME)/bhv/cv32e40p_sim_clock_gate.sv` or use `filter-out` in `RTLSRC_BHV`

[2020-08-11 07:12] Silabs-ArjanB commented on #444
Hi @dawidzim , thanks for spotting this. That is not correct indeed; I think it is cleanest to remove the $(RTLSRC_HOME)/bhv/cv32e40p_sim_clock_gate.sv part. Could you make a pull request for that?

[2020-08-11 07:30] silabs-oysteink opened #445 "Stepie bit in DCSR not implemented"
When single stepping, interrupts are taken regardless of the value written to the stepie bit in dcsr.

By looking at the rtl, the stepie bit is defined, but never used.

CV32E40P hash: 916d92afc6bbc27b7ab65c503043982e1b6e3ab0

[2020-08-11 09:05] dawidzim commented on #444
Issue will be solved by #446, after merge I will close this issue

[2020-08-13 03:25] islengxw opened #447 "What is the basis for a TAG?"
Hi OpenHWGroup members,
I understand we should tag some commit ID for released version, which should be stable or after the regression test.
But in this project, i just wondering how many tests(for example SIMULATION, FPGA, synthesis, even PR?) should pass before we can make a tag for a release version?

Thanks inadvance~~
BR
Xiaowei Leng

[2020-08-13 05:20] Silabs-ArjanB commented on #447
Hi @MikeOpenHWGroup , can you answer this one please?

[2020-08-13 06:15] Silabs-ArjanB opened #448 "mcounteren CSR should not exist"
The official RISC-V spec was updated in response to https://github.com/riscv/riscv-isa-manual/issues/561, see https://github.com/riscv/riscv-isa-manual/commit/1eaebccc78d88f110a68faf1b39938fc291a4065 and comments on that commit).

We should remove mcounteren from CV32E40P (this issue relates to #432 as well, but the related questions have not been answered yet in the RISC-V organization).

[2020-08-13 07:22] Silabs-ArjanB commented on #432
Hi @jm4rtin , @MikeOpenHWGroup, as we are not getting any clear response on our questions related to this issue in the RISC-V organization, it would probably be fastest/easiest from an RTL point of view to just implement the unprivileged CSRs.

I discussed it with @silabs-PaulZ yesterday and our preference for 'time' would be to implement it as allowed by the Privileged spec: 'Implementations can

[2020-08-13 14:50] MikeOpenHWGroup commented on #447
Thanks for the question @islengxw.  There are many different strategies for creating tags and the CV32E40P development team has not yet defined how we should tag our code.  But I think it is time to do so, so I will add some thoughts here based on what I have done at the past at other organizations.

My proposal is that we should tag the code base every day with a date.  For example, cv32e40p_2020

[2020-08-13 16:07] MikeOpenHWGroup commented on #448
I would be happy about this.  `mcounteren` is not currently modeled in the Reference Model and the CSR does nothing in the core (other than return 0).   Would removing this CSR mean that reads to 0x306 would invoke an illegal instruction exception?

[2020-08-13 16:09] Silabs-ArjanB commented on #448
Yes that would be the consequence if we change this

[2020-08-13 16:33] MikeOpenHWGroup commented on #432
I'm confused.  `mtime` is not listed as a CSR in the [user manual](https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/control_status_registers.html#control-and-status-registers) and I am not aware of a pull-request to add it. Its not included in any verification planning at this time.

Perhaps I am _really_ confused and this discussions references a specific field of a d

[2020-08-13 16:44] MikeOpenHWGroup commented on #448
Then I am in favor of this.

[2020-08-13 16:59] jm4rtin commented on #432
@MikeOpenHWGroup Yes, `mtime` is not implemented in the core or listed in the [user manual](https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/control_status_registers.html#control-and-status-registers) but it is part of the [RISC-V privileged specification](https://github.com/riscv/riscv-isa-manual/releases/download/Ratified-IMFDQC-and-Priv-v1.11/riscv-privileged-201906

[2020-08-13 17:25] MikeOpenHWGroup commented on #432
Thanks @jm4rtin that clears up a lot of confusion for me.  Dumb question: is there any reason we should should not follow the [ibex](https://ibex-core.readthedocs.io/en/latest/cs_registers.html#time-registers-time-h) implementation in this regard?  To wit:
[code]
I understand our situation is somewhat different as we do not support User mode.  Nevertheless, this looks to be a simpler path.

[2020-08-13 23:55] bluewww commented on #447
A commit (hash) already uniquely defines a point in the repository's history. You can easily look up at what poin in time the commit was created. If you just tag the latest commit daily there won't be much use over just using/referring to commit hashes directly.

I believe that tags should be reserved to ascribe certain qualities to a commit hash (or point in time, if you will). Release tags are a

[2020-08-14 15:36] Silabs-ArjanB commented on #432
Hi @jm4rtin , I again discussed with Paul and I checked the Ariane implementation (which is similar to Ibex). We are fine with trap implementation for time(h) as well (the exception handler for this will be relatively difficult however because our mtval is always 0). So, if you want you can go ahead with a pull request for the timer/counter unprivileged CSRs (no parameter is required as this will

[2020-08-18 16:43] Silabs-ArjanB opened #449 "Retracted interrupt can cause instructions to be skipped"
In case an interrupt is made pending for only 1 cycle, then the controller will enter IRQ_FLUSH for one cycle and go back into DECODE the next cycle. If the instruction that is in decode experiences a stall at that point in time, then the instruction is skipped.

In the following example an interrupt is raised for 1 cycle just before the jr that will experience a couple of stall cycles. As you can

[2020-08-18 23:14] jm4rtin commented on #432
@Silabs-ArjanB CSR `mcounteren` is still there for `PULP_SECURE=1` (but removed for a machine mode only configuration) and is behaving as expected. Hopefully there will be less design work when we do CV32E40 later :smile: Feel free to review the PR (#450). Let me know if you want the documentation to mention the (m)time CSR should be implemented as an exception handler (maybe propose where to put

[2020-08-19 06:53] Silabs-ArjanB commented on #432
Hi @jm4rtin The related pull request looks good, thanks! I also reviewed the doc and indeed proposed to add some time(h) remarks to be added in the Counters chapter.

[2020-08-19 10:05] Silabs-ArjanB commented on #438
Hi @shetalani , could you check if this issue has been fixed now on the not yet merged https://github.com/Silabs-ArjanB/cv32e40p/tree/ArjanB_illegal_instr_exc branch. If not, can you show a new violating waveform (and I will remove the resolved label again).

[2020-08-19 10:05] Silabs-ArjanB commented on #439
Hi @shetalani , could you check if this issue has been fixed now on the not yet merged https://github.com/Silabs-ArjanB/cv32e40p/tree/ArjanB_illegal_instr_exc branch. If not, can you show a new violating waveform (and I will remove the resolved label again).

[2020-08-19 10:05] Silabs-ArjanB commented on #440
Hi @shetalani , could you check if this issue has been fixed now on the not yet merged https://github.com/Silabs-ArjanB/cv32e40p/tree/ArjanB_illegal_instr_exc branch. If not, can you show a new violating waveform (and I will remove the resolved label again).

[2020-08-19 10:05] Silabs-ArjanB commented on #441
Hi @shetalani , could you check if this issue has been fixed now on the not yet merged https://github.com/Silabs-ArjanB/cv32e40p/tree/ArjanB_illegal_instr_exc branch. If not, can you show a new violating waveform (and I will remove the resolved label again).

[2020-08-19 10:05] Silabs-ArjanB commented on #442
Hi @shetalani , could you check if this issue has been fixed now on the not yet merged https://github.com/Silabs-ArjanB/cv32e40p/tree/ArjanB_illegal_instr_exc branch. If not, can you show a new violating waveform (and I will remove the resolved label again).

[2020-08-19 10:17] Silabs-ArjanB commented on #431
Sent email to the maintainer, kgf@iis.ee.ethz.ch, to make the following pull request:

-	Project name: CV32E40P
-	Maintainers: OpenHW
-	Point of contact: Davide Schiavone <davide@openhwgroup.org>
-	Architecture ID: 4
-	Project URL: https://github.com/openhwgroup/cv32e40p

[2020-08-19 11:23] Silabs-ArjanB opened #452 "Some of the Xpulp instructions use opcodes that are either reserved opcodes or standard opcodes"
Some of the Xpulp opcodes have been chosen such that upstreaming of the related tool changes will become impossible unless we change some opcodes. Ideally only 'custom opcodes' are used for Xpulp extensions.

First question to answer:

- [ ] Are there enough custom opcodes  to host all the Xpulp extensions that are now spread in the reserved and standard opcodes?

Craig Blackmore's original messag

[2020-08-19 13:17] Silabs-ArjanB commented on #378
Hi @Imperas Please let us know if there is still an issue here (we think it has been fixed). If we do not hear back then this issue will be closed automatically a week from now.

[2020-08-19 13:18] Silabs-ArjanB commented on #415
We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for cont

[2020-08-19 13:18] #415 closed

[2020-08-19 13:35] eroom1966 commented on #378
@Silabs-ArjanB
@strichmo (FYI)

Hi, I took a look at this again, not sure what target to run, but I think it is interrupt ?

so I run
make SIMULATOR=xrun interrupt
this gets stuck in a tight loop, I presume waiting for an interrupt which never occurs

I should add I am working on the rm_update branch, maybe this is on a specific branch ?

Thx
Lee

[2020-08-19 13:46] eroom1966 commented on #378
Further findings
I am running the interrupt test under a software debugger and trying to understand the test here
[code]

The CSR @0x7D0 as far as I can tell does not exist, and this traps to an illegal instruction - is that intentional ?
Is this historical ?

[2020-08-19 13:52] jm4rtin commented on #432
For the record, I don't think the "Ibex" approach to the `mtime` and `time(h)` registers is the best. Such an implementation requires a decent amount of software to decode the instruction and take corrective action. It would be very latent. Not saying change it, just that it's worth looking at again in the future.

[2020-08-19 14:00] Silabs-ArjanB commented on #378
Hi @eroom1966 I think you are looking at old code; the 0x7d0 CSR should no longer be mentioned in the software nor the RTL (if you use today's master branch).

[2020-08-19 14:03] Silabs-ArjanB commented on #432
@jm4rtin Agreed, the software approach is very messy. It would already help if we would actually implement mtval completely (in the future).

[2020-08-19 22:09] jm4rtin commented on #452
I haven't looked too close at how the branch is encoded but if you exclude it you *might* be able to squeeze it. It might be a tight fit and may make some encoding choices a bit odd due to tightly packing the space. If you add the branch back I'm not sure. There are a few instructions that are grouped together where some have an immediate and others have this immediate tied to 0. This is wasteful

[2020-08-20 09:09] davideschiavone commented on #452
Thanks a lot @Silabs-ArjanB and @jm4rtin ! Very useful thread.
In my understanding, we should try to see whether we can squeeze all the RESERVED and STANDARD instructions into the custom space.

It's a big task :) However, if there is not enough space, we can think of getting rid of some "less-useful" instructions, and/or reducing the immediate where possible.
I am not saying it makes sense, but f

[2020-08-20 11:55] islengxw commented on #447
Hi Mike,
Thanks for you reply. I understand the strategy now.
I agree with @bluewww , i am also considering there won't be much use for daily tags since we can refer to the commit hashes directly.

[2020-08-20 12:02] islengxw opened #454 "How to handle the error response with cv32e40p?"
Hi,
I have noticed that there are instr_err_i and data_err_i ports in the IBEX(another RISCV core developped under lowRISC), should cv32e40p also support this?
For example, the core communicate with peripherals on the AMBA system bus, the slave can feedback the error response signal, how the cv32e40p handle this?

Thanks
Xiaowei Leng

[2020-08-20 12:09] Silabs-ArjanB commented on #454
Hi @islengxw This is a feature that we would like to have indeed. It has been postponed to a next core though, see for example https://github.com/openhwgroup/cv32e40p/issues/343. The way to deal with such bus errors currently is to convert them into interrupts (by which of course the errors will no longer be precise). If you want to start implementing this feature for a next core, e.g. CV32E40, pl

[2020-08-20 21:00] jm4rtin commented on #452
It should be possible to remap them all. Here is my first attempt at remapping them: [pulp_encoding_blocks.xlsx](https://github.com/openhwgroup/cv32e40p/files/5105416/pulp_encoding_blocks.xlsx)

Some notes:
* Decoding would start with the block (`custom-0` ... `custom-3`)
* Next would be the `funct3` field
* After that it depends on the block/plane:
  * For `custom-0` it maps to an instruction
  *

[2020-08-21 06:19] Silabs-ArjanB commented on #452
Hi @jm4rtin Thank you for this great proposal. Of course it is difficult to foresee if timing issues would arise from this; it would probably be easiest to just try it out to figure that out. I like that SIMD is only in custom-3 and that no other instructions are in that group. It would be nice if such a property was true for bit manipulation as well (as we know that a standard for that will be ra

[2020-08-25 13:18] darbaria opened #455 "Bits 31:0 of mhpmcounter3 are not 0"
Bits 31:0 of mhpmcounter3 are not 0, violating the requirement specified in Section Machine Performance Monitoring Counter
All other counters satisfy this requirement. Branch tested 16 July cv32e40p.

[mhpm_counter3_lsb32_bits_issue.vcd.gz](https://github.com/openhwgroup/cv32e40p/files/5123917/mhpm_counter3_lsb32_bits_issue.vcd.gz)

### Component
CSR registers

### Steps to Reproduce
Used formal p

[2020-08-25 14:03] saumeister opened #456 "Custom linker script according to custom memory size"
Hi
Currently I'm trying to integrate the cv32e40p core to a 64kB instruction and data memory. But to generate the correct hex file for my memory size I need to customize linker script to place all data within the correct memory map. I use the linker script provided in the example_tb folder in this repository.

My inital try was change the MEMORY map to be within my memory size 0x65536
`ram (rwxai)

[2020-08-25 16:26] Silabs-ArjanB commented on #455
Hi @darbaria Why do you expect that mhpmcounter3  is 0? In the trace you provided it seems to me that there is a regular CSR write access that writes the mentioned counter to a non-zero value. I can't see how the parameters to the CV32E40P are set, but using the default settings would exclude the counters 4 upwards which would explain why those counters might seem different. If you still think the

[2020-08-25 16:31] darbaria commented on #455
Hi Arjan

I'm looking at the spec (attached snapshot) which says that 31:0 is 0 for counters ranging from mhpmcounter3 to mhpmcounter31. Other counters do have this property, as I can see the proofs.

Ashish

From: Arjan Bink <notifications@github.com>
Sent: 25 August 2020 17:27
To: openhwgroup/cv32e40p <cv32e40p@noreply.github.com>
Cc: Ashish Darbari <ashish.darbari@axiomise.com>; Mention <mentio

[2020-08-25 16:45] jm4rtin commented on #455
The attached snapshot didn't come through. It would be better to reply on the GitHub website. Do you mean this description in the CSR section that simply states "0"?

![image](https://user-images.githubusercontent.com/20426677/91202495-21e4b480-e6bf-11ea-9fa9-6cd1bb801612.png)

That probably needs to get updated. If the performance counter is implemented (it is by default) the register is fully re

[2020-08-25 17:16] darbaria commented on #455
Yes, @jm4rtin I was referring to that.

[2020-08-25 17:17] MikeOpenHWGroup commented on #456
Hi @saumeister, thanks for the issue.  I would recommend that you close this issue and open an equivalent issue in the OpenHW [core-v-sw](https://github.com/openhwgroup/core-v-sw) repository.   This specific repo is for CV32E40P RTL issues, not software issues.

[2020-08-25 17:36] Silabs-ArjanB commented on #455
Hi @darbaria Can you let us know the setting of   parameter NUM_MHPMCOUNTERS? If it is set to 1 then mhpmcounter3 is implemented and can be written to a non-zero value. I agree that above description of '0' does not make sense. Are you okay if we change this issue into a 'documentation only issue' or do you think there is still an actual RTL issue?

[2020-08-25 18:01] darbaria commented on #455
Hi @Silabs-ArjanB yes, it is set to 1. Can you please revise the spec on https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/control_status_registers.html#cs-registers? Yeah, you may move this to a doc issue as this is what it appears to be.

[2020-08-25 18:46] #456 closed

[2020-08-26 05:19] Silabs-ArjanB commented on #455
Hi @darbaria Yes, we will fix the documentation. Thank you for raising this issue. I will move this github issue to the core-v-docs repos.

[2020-08-26 13:57] darbaria opened #457 "Opcodes marked as reserved should be avoided for custom instruction set extensions as they might be used by future standard extensions."
Reserved ISA encodings are meant not to be used for custom extensions, according to RISC-V v2.2. page 103. I was expecting illegal_insn_o to be flagged, but the core doesn't do this for the following setting:

 parameter PULP_XPULP          =  1,
 parameter PULP_CLUSTER       =  0,

Changing the setting to:

 parameter PULP_XPULP           =  0,
 parameter PULP_CLUSTER       =  0,

proves the prop

[2020-08-26 14:06] darbaria opened #458 "custom-0 and custom-1 encodings legal/illegal use"
According to RISC-V ISA spec v2.2., page 103: Major opcodes marked as custom-0andcustom-1will be avoided by future standard extensions and are recommended for use by custom instruction-set extensions within the base 32-bit instruction format.

I am not sure if the current core is meant to use this space for PULP extensions. It appears that the core will consider it illegal if custom 0 and 1 encodi

[2020-08-26 14:15] darbaria opened #459 "ISA custom-2 and custom-3 encodings show mixed behaviour with different settings of RTL"
According to RISC-V ISA spec v2.2., page 103: The opcodes marked custom-2/rv128 and custom-3/rv128 are reserved for future use by RV128, but will otherwise be avoided for standard extensions and so can also be used for custom instruction-set extensions in RV32 and RV64.

Without PULP extensions, the assertion that checks the relationship between custom-2/3 encodings and decode illegal instruction

[2020-08-26 14:22] davideschiavone commented on #459
Thanks @darbaria,

you are right,

parameter PULP_XPULP = 1,
parameter PULP_CLUSTER = 0,

it's a configuration that is not allowed. I am wondering how to solve this, we should probably add an assertion (@Silabs-ArjanB ?)

[2020-08-26 14:22] davideschiavone commented on #459
Thanks @darbaria,

you are right,

parameter PULP_XPULP = 1,
parameter PULP_CLUSTER = 0,

it's a configuration that is not allowed. I am wondering how to solve this, we should probably add an assertion (@Silabs-ArjanB ?)

[2020-08-26 14:22] davideschiavone commented on #459
Thanks @darbaria,

you are right,

parameter PULP_XPULP = 1,
parameter PULP_CLUSTER = 0,

it's a configuration that is not allowed. I am wondering how to solve this, we should probably add an assertion (@Silabs-ArjanB ?)

[2020-08-26 14:22] davideschiavone commented on #459
Thanks @darbaria,

you are right,

parameter PULP_XPULP = 1,
parameter PULP_CLUSTER = 0,

it's a configuration that is not allowed. I am wondering how to solve this, we should probably add an assertion (@Silabs-ArjanB ?)

[2020-08-26 14:22] davideschiavone commented on #459
Thanks @darbaria,

you are right,

parameter PULP_XPULP = 1,
parameter PULP_CLUSTER = 0,

it's a configuration that is not allowed. I am wondering how to solve this, we should probably add an assertion (@Silabs-ArjanB ?)

[2020-08-26 14:35] Silabs-ArjanB commented on #459
Hi @davideschiavone Why would that not be allowed? That is our default configuration.

[2020-08-26 14:38] davideschiavone commented on #459
Sorry my bad, I read XPULP=0 and CLUSTER=1 , my bad

[2020-08-26 19:07] strichmo opened #460 "interrupt CSR checks fail when interrupt occurs during div instruction"
When enabling random interrupts with the ISS in the core-v-verif testbench CSR miscompares can occur on instruction retirement boundaries.

The testcase is an interrupt that is acknowledge during a div instruction.  See the first figure below.

![iss_irq0](https://user-images.githubusercontent.com/56401023/91345174-947b9000-e7a4-11ea-9861-d77243cb9a52.png)

In this case the interrupt is acknowledg

[2020-08-27 05:35] Silabs-ArjanB commented on #458
Hi @darbaria When using PULP_XPULP = 1 the core is _supposed_ to use custom-* encodings, see https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html and #452 . As reported in #452 we intende to exclusively use such encodings for PULP instructions. Could you please close this issue if you agree it has been answered adequately or let us know what

[2020-08-27 05:36] Silabs-ArjanB commented on #459
Hi @darbaria When using PULP_XPULP = 1 the core is _supposed_ to use custom-* encodings, see https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html and #452 . As reported in #452 we intende to exclusively use such encodings for PULP instructions. Could you please close this issue if you agree it has been answered adequately or let us know what

[2020-08-27 10:37] darbaria commented on #459
My question is: are you covering the entire space of available custom encodings? If not, then what is it? Is this defined somewhere in the cv32 spec? In case you're not using the entire available encoding then what is the expected behaviour of the core when it encounters an encoding you didn't code explicitly as custom? From my discussion yesterday, it is clear to me that in the absence of any PUL

[2020-08-27 11:10] Silabs-ArjanB commented on #459
Hi @darbaria The entire custom encoding space is not filled. I would expect that we (should) generate illegal instruction exceptions for the non-filled custom space. In https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html you can find the currently used opcodes. In the spreadsheet attached to #452 you can find the newly proposed opcodes (but

[2020-08-28 14:23] Silabs-ArjanB commented on #460
Hi @strichmo Thanks for filing this issue. I agree there is an issue here. I don't think the RTL in itself has an issue, but for sure the 'tracer' retire signal does not lead to the report of a consistent state. I am now thinking if we should fix this in the tracer or if we change the actual RTL such that the current tracer works correctly.

[2020-08-28 16:31] Silabs-ArjanB commented on #444
@dawidzim The pull request has been merged now; could you please close this issue?

[2020-08-31 05:17] dawidzim commented on #444
Issue fixed

[2020-08-31 05:17] #444 closed

[2020-08-31 05:48] Silabs-ArjanB opened #462 "Hardware Loop assertion fires"
The following assertion in cv32e40p_hwloop_regs.sv does not pass Formal (this was already reported in the PR review, but not fixed; likely assumes need to be made explicit (but conservatively marking it as an RTL bug for now))

    assert property (
      @(posedge clk) (valid_i) |-> ($countones(hwlp_dec_cnt_i) <= 1) );

![image](https://user-images.githubusercontent.com/40633348/91686833-a2436380

[2020-08-31 08:48] Silabs-ArjanB commented on #431
Changed into Doc issue as the RTL update has been performed already; now just awaiting the update of the documentation at https://github.com/riscv/riscv-isa-manual/blob/master/marchid.md

[2020-08-31 13:08] #448 closed

[2020-08-31 13:15] Silabs-ArjanB commented on #454
Closing this duplicate ticket

[2020-08-31 13:15] #454 closed

[2020-08-31 14:17] Silabs-ArjanB commented on #460
Hi @strichmo This issue is even worse than suggested. If you would have a CSR write (to e.g. mepc, mcause, etc.) instead of the DIV, then the actual update caused by the IRQ would get lost because if happens too early. In that case your work-around would not work either, see below waveform:

![image](https://user-images.githubusercontent.com/40633348/91729697-3afcd200-eba5-11ea-9298-2fb38ea91e05.p

[2020-08-31 14:26] Silabs-ArjanB opened #466 "Instruction after stalled load retires out of order"
In the following code (with the lw getting some wait states on rvalid), the later instruction (csr) retires before the earlier instruction (lw)

lw x5, 0(x4)
csrw mepc, 0x1e

This at the very least leads to difficulties when doing state comparisons against an ISS (the shown example does not show an actual functional issue nor do I have a reason to think this is a functional issue).

![image](https

[2020-08-31 15:51] Silabs-ArjanB commented on #460
@davideschiavone In above example what do you think the RTL fix should look like? A) Defer the moment at which the irq_ack_i based write to MEPC happens B) Only perform regular CSR writes in the first cycle such an instruction is in the EX stage

[2020-08-31 18:25] Silabs-ArjanB commented on #466
This is by design; it is not an RTL bug. Whether this is 'workable' for the verification team is up to them; if this retirement strategy leads to verification issues, then we can re-open this issue and consider whether we adapt the 'tracer' or the RTL. If the verification team only compares the 'destination register' against the ISS for each instruction (as opposed to the entire register file + CS