[2020-08-31 18:25] #466 closed

[2020-08-31 18:50] Silabs-ArjanB opened #467 "cs_registers_i.a_single_step is not covered during Formal"
The cover property of cs_registers_i.a_single_step is not reachable:

![image](https://user-images.githubusercontent.com/40633348/91755384-4d8a0200-ebcb-11ea-86cc-9cd90eb2852e.png)

[2020-09-01 08:55] Silabs-ArjanB commented on #460
Decided not to change anything related to the DIV+IRQ example, but fixed the similar CSRW + IRQ example, which is an actual RTL bug.

[2020-09-01 09:55] Silabs-ArjanB commented on #343
Implementation for this will need tot take into account the out of order completion of instructions, see #466

[2020-09-01 10:07] Silabs-ArjanB opened #470 "Improve interrupt latency"
Interrupt latency on CV32E40P seems longer than needed. Specifically the following transition seems to add an unneeded cycle: DECODE -> IRQ_FLUSH -> IRQ_TAKEN_ID.

On a next core consider if a cycle can be saved here.

[2020-09-01 17:53] davideschiavone commented on #466
The CSR instructions can be "fixed" by forcing the pipe to flush always, not only on special addresses of the csr.
The LW+ADD is by design yes. It's a WONT FIX because there is no real WB stage here...

[2020-09-01 22:46] GTumbush commented on #434
Cloned Silabs-ArjanB:ArjanB_bge_div and verified as fixed.

For:
bge a2, zero, fast_exit
div a3, a6, a6
![image](https://user-images.githubusercontent.com/54555114/91913242-5eda1980-ec72-11ea-8051-9516325f9979.png)

Other scenarios are similar.

[2020-09-01 22:47] GTumbush commented on #434
Should not close until merged.

[2020-09-02 08:31] abettati opened #471 "Not able to launch hello world example (unrecognized relocation (0x2b) in section `.init')"
Hi to you all,
I'm trying to launch the examples in `cv32e40p/example_tb/core/`.
Here's what I did:

[code]

Modified make file in `cv32e40p/example_tb/core/` to match my system settings:

[code]

Added toolchain to path: `export RISCV=/opt/riscv`

I try to launch the custom (hello world) example: `make custom-vsim-run` and get the following error
[code]

Any hints on what could be the problem?
I

[2020-09-02 09:14] Silabs-ArjanB commented on #439
![image](https://user-images.githubusercontent.com/40633348/91962861-65699f00-ed0d-11ea-80a2-5353b756495b.png)

[2020-09-02 09:14] #439 closed

[2020-09-02 09:14] Silabs-ArjanB commented on #438
![image](https://user-images.githubusercontent.com/40633348/91962916-76b2ab80-ed0d-11ea-9c8f-53bb1abf51cf.png)

[2020-09-02 09:14] #438 closed

[2020-09-02 09:14] Silabs-ArjanB commented on #440
![image](https://user-images.githubusercontent.com/40633348/91962947-803c1380-ed0d-11ea-8bc0-ac528775e51f.png)

[2020-09-02 09:14] #440 closed

[2020-09-02 09:15] Silabs-ArjanB commented on #441
![image](https://user-images.githubusercontent.com/40633348/91962980-8af6a880-ed0d-11ea-9d35-c01869cc43c6.png)

[2020-09-02 09:15] #441 closed

[2020-09-02 09:15] Silabs-ArjanB commented on #442
![image](https://user-images.githubusercontent.com/40633348/91963002-92b64d00-ed0d-11ea-985f-3519b7e0ded2.png)

[2020-09-02 09:15] #442 closed

[2020-09-02 13:06] Silabs-ArjanB commented on #459
We are closing this issue as we consider the question answered and as the related issue is fully captured in #452 . Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for contributing to this core; raising issues will help to improve it.

[2020-09-02 13:06] #459 closed

[2020-09-02 13:07] Silabs-ArjanB commented on #458
We are closing this issue as we consider the question answered and as the related issue is fully captured in #452 . Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for contributing to this core; raising issues will help to improve it.

[2020-09-02 13:07] #458 closed

[2020-09-02 13:08] Silabs-ArjanB commented on #457
We are closing this issue as it is a duplicate of #452 . Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for contributing to this core; raising issues will help to improve it.

[2020-09-02 13:08] #457 closed

[2020-09-02 13:09] Silabs-ArjanB commented on #452
Once this issue has been resolved the assertions from #457 can be checked again to see if they pass.

[2020-09-02 14:27] abettati commented on #471
From my understanding, the issue should be related to a mismatch betweend the GCC installed on my server (ggc-7.5.0) which is used to compile lib32, hence to create /usr/lib32/crti.o and the GCC version used by QuestaSim for the linking:
`/opt/questasim/gcc-5.3.0-linux/bin/../libexec/gcc/i686-pc-linux-gnu/5.3.0/ld`

For completeness, I run on:
kernel 5.4.0
ubuntu 18.04

[2020-09-02 14:56] abettati commented on #471
OK I think I resolved the issue by modifying the `modelsim.ini` file in my QuestaSim installation folder (`/opt/questasim` in my case).

In the `modelsim.ini` file I added the path to GCC installation:
[code]

[2020-09-03 05:47] Silabs-ArjanB commented on #471
Hi @abettati Thank you for the update. Could you please close the issue as it seems you resolved it yourself?

[2020-09-03 07:49] #471 closed

[2020-09-03 09:29] osta1 commented on #62
Hello,

I am also facing the same issue; I want to add some new instructions to pulp-riscv-gnu-toolchain, but I am not able to find some suitable answers.
Thank you for informing me, in case you have solved the problem.

Thanks.

[2020-09-03 11:04] #407 closed

[2020-09-03 11:05] davideschiavone commented on #407
@DavidM-EMUS, this issue has been fixed and merged to master. Can you confirm that it works please?

[2020-09-03 11:05] davideschiavone commented on #407
@DavidM-EMUS, this issue has been fixed and merged to master. Can you confirm that it works please?

[2020-09-03 12:03] davideschiavone commented on #470
IRQ_FLUSH is needed to kill an interrupt in case of a a single pulse. But we can probably merge these 2 states

[2020-09-03 12:20] davideschiavone commented on #470
I made a PR for it. It passes the interrupt test in the cv32 folder but we should try with more advanced test. Pinging
@MikeOpenHWGroup  for this

[2020-09-03 12:21] davideschiavone commented on #470
I made a PR for it. It passes the interrupt test in the cv32 folder but we should try with more advanced test. Pinging
@MikeOpenHWGroup  for this

[2020-09-03 13:32] MikeOpenHWGroup commented on #62
Hi @hyf6661669, and @osta1.  Thanks for your query.   I _believe_ you are asking about the toolchain (that is, compiler/assember/linker) and not the core itself.  If that is the case, this issue should be posted to [core-v-sw](https://github.com/openhwgroup/core-v-sw).

If you agree, please close this issue and create a new one there.

[2020-09-03 14:37] DavidM-EMUS commented on #407
Just ran the test that exercises those instructions, and everything looks great. Thanks for taking care of this!

[2020-09-03 23:56] #62 closed

[2020-09-04 09:52] silabs-oysteink opened #481 "Cause bits in dcsr should be read only"
According to the riscv debug specification v0.13.2, the cause bits ([8:6]) in dcsr should be read only. During debug testing, I found that code executing in debug mode can actually write to these bits, causing a mismatch with the reference model.

[2020-09-04 13:09] Silabs-ArjanB commented on #445
Hi @silabs-PaulZ @silabs-oysteink What was the conclusion again on this one; do we want stepie to be WARL (0), WARL (1) or will we support both values? (Reason I ask is that I am working on #481 and I can maybe fix this right away)

[2020-09-04 13:23] silabs-oysteink commented on #445
Hi,

The debug spec says: "Implementations may hard wire this bit to 0. In that case interrupt behavior can be emulated by the debugger". In our current state the rtl behaves as if it was tied to 1, not sure if that is allowed. I suggest we either tie it to zero, never take interrupts during single stepping, or support both values. First option would be less time consuming and less to verify.

[2020-09-04 14:32] Silabs-ArjanB commented on #445
Agreed with @silabs-oysteink ; my preference would be the same. I will tie the bit to 0 (so make it WARL (0)) as part of #481 ; @silabs-PaulZ can you then perform the actual RTL update to implement matching behavior (i.e. not allowing interrupts during single stepping)?

[2020-09-04 14:53] Silabs-ArjanB commented on #445
Partially fixed now in https://github.com/openhwgroup/cv32e40p/pull/483. Only interrupts need to be actually disallowed.

[2020-09-04 15:30] GTumbush commented on #434
Fixed due to pull request https://github.com/openhwgroup/cv32e40p/pull/464 merged with master.

[2020-09-04 15:30] #434 closed

[2020-09-04 17:19] MikeOpenHWGroup opened #484 "cv32e40p_register_file_test_wrap has unused BIST ports"
Module `cv32e40p_register_file_test_wrap` has a set of un-used BIST ports.  It is instantiated in module `cv32e40p_id_stage`:

[code]

As far as I am aware, this is the only BIST interface in the core and the test_wrap is the only module that provides (or needs) BIST access.  Also, BIST is not mentioned in the User Manual.   I recommend that we either:

1. Remove the BIST logic and ports altogethe

[2020-09-04 19:04] #418 closed

[2020-09-04 20:29] MikeOpenHWGroup opened #485 "Unique case violations at t=0"
When running a simulation on the 6fbd88c645d2b51c316af6eda79bab3e4c284093 hash of the RTL, **XRUN** reports the following unique case violations at t=0:

[code]
Note that there are no other errors in the simulation.

The same violations are reported by **DSIM**.   I have confirmed that the violations go away if the `unique case` is replaced with `unique0 case`.

### Steps to Reproduce
[code]

[2020-09-04 21:21] MikeOpenHWGroup opened #486 "Property in cv32e40p_prefetch_controller_sva.sv constantly fires"
SV property `p_branch_invalidates_fifo` in cv32e40p_prefetch_controller_sva.sv on hash 6fbd88c645d2b51c316af6eda79bab3e4c284093 constantly fires.  It looks like there is a hold-over from a "unit test":
[code]

The antecendent says **(branch_i || 1)**, which just _can't_ be what was intended.   I am pretty sure that we want is:
[code]
Note that I have not checked-in the ability to run this with **X

[2020-09-06 12:05] Silabs-ArjanB commented on #486
Hi @MikeOpenHWGroup This was indeed not intended (was test code), my bad. Will fix it right away.

[2020-09-06 12:16] Silabs-ArjanB commented on #484
Hi @davideschiavone , what do you think about this. For me option 2 is not really an option. Either we leave it like this or (preferred by us) we remove this BIST related logic all together (it is not needed as far as I am concerned)

[2020-09-06 12:40] Silabs-ArjanB commented on #486
Fixed with https://github.com/openhwgroup/cv32e40p/pull/488

[2020-09-06 12:58] Silabs-ArjanB commented on #485
This looks like an error of core-v-verif itself. Specifically not all inputs to cv32e40p_core are assigned at time 0 and some are not driven at at any time. All input signals need to be valid at all times, especially the clock input (which is not the case).

![image](https://user-images.githubusercontent.com/40633348/92326239-1004f900-f051-11ea-8289-fcd57e46babe.png)

@MikeOpenHWGroup Can you fix

[2020-09-06 19:58] MikeOpenHWGroup commented on #485
Hi @Silabs-ArjanB, you are almost certainly correct.   We recently made some changes to the way clk and rst are driven (see https://github.com/openhwgroup/core-v-verif/pull/214) and this is probably the root cause.  I have opened core-v-verif issue [#219](https://github.com/openhwgroup/core-v-verif/issues/219) to ensure this is investigated.

However, I do not agree with your statement:

My though

[2020-09-06 20:45] MikeOpenHWGroup commented on #485
Update.   I conducted a couple of experiments:

1. Drive `clk_i` to 'b0 starting at t=0.  This had no effect and the unique case violations were still reported.
2. Drive `clk_i` to 'b0 and `rst_ni` to 'b0 starting at t=0.  This clears up the unique case violations.

I believe (did not check) that the reason asserting reset at t=0 (rather than t>0) "fixes" the problem is because the debug and inter

[2020-09-07 05:23] Silabs-ArjanB commented on #485
If you drive it X on instr_rdata_i when instr_rvalid_i = 0, then (especially for netlist simulations) we are not guaranteeing anything with respect to assertions firing, etc. (as you experienced). Digital is allowed to sample all inputs on every clock edge, no matter what 'valid' signals are indicating (but of course from a functional point of view the value of some inputs will not matter when the

[2020-09-07 05:41] Silabs-ArjanB commented on #485
At first I thought this was due to undriven inputs in the testbench (which I still think are a bad idea), but now I see that we are using cases statements in always_comb blocks with the case depending on a flip-flop (which could perfectly well be X at time 0):

always_comb
begin
unique case(flop_q)
// Default (transparent) state. Transaction requests are passed directly onto the OBI A channel.
1'b

[2020-09-07 13:23] MikeOpenHWGroup commented on #485
Ah linters.  Can't live without 'em, can't live with them either.   A couple of comments:

What if we used a `case` statement, rather than `unique case`?  In the above snippet, unique case has not value because all possible (2-state) values of flop_q are defined.

I disagree.  Deliberately driving X is a valid technique for finding out if the RTL is sensitive to invalid inputs.  Of course, this ne

[2020-09-07 15:48] MikeOpenHWGroup commented on #485
Fair enough @Silabs-ArjanB .  There is no "perfect" answer, but there are several viable choices.   I have no strong preferences as long as we are all aware.   Whatever you, @silabs-PaulZ and @davideschiavone agree to is fine by me.

[2020-09-08 07:29] klion717 commented on #343
Hi, @Silabs-ArjanB . Currently, I generated an interrupt when there is error response at the bus and I intended to connect this interrupt to the NMI interrupt of the core. But I could not find the nmi interface in the latest version of the core.
From the ri5cy document, I found the description about MIE/MIP as follows:
![image](https://user-images.githubusercontent.com/70938744/92445574-20e77300-f

[2020-09-08 07:49] Silabs-ArjanB commented on #343
Hi @klion717 Yes, the NMI has been removed a couple of months ago as it was a proprietary feature and (very likely) not compliant to the forthcoming official RISC-V spec with respect to NMI. You can find the documentation for CV32E40P at https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/ (the RI5CY user manual is not a valid reference for CV32E40P; if we refer to that m

[2020-09-08 10:54] klion717 commented on #343
Hi, @Silabs-ArjanB  The OBI interface of core(both instr and data access) supports all combinations of the be signal(byte enable), while the AHB bus SOC system only supports byte/halfword/word transfer(be is among [0001 0010 0100 1000 1100 0011 1111]). Is the any way to avoid the core to generate the ahb-unsupported transfer? Since I do not want to implement a complicated obi2ahb bridge, neither g

[2020-09-08 11:05] Silabs-ArjanB commented on #343
Hi @klion717 There is no way to limit the RTL to only issue AHB compatible transactions (other than modifying the RTL in the load-store unit itself). The recommended way is to either add an external adapter to AHB (or AXI which is a closer fit) or to prevent the compiler from generating misaligned transactions.

[2020-09-08 12:14] eroom1966 opened #489 "Debug Mode : ebreak instruction does not update dpc, dcsr before retire"
when transitioning into Debug Mode, from Machine mode due to an ebreak instruction.
At the point where the ebreak is retured, the dpc and dcsr registers do not contain the correct value.
The values are correct 1 cycle after the instruction has retired.
This causes a miscompare as these registers are compared at the ebreak retire

(FYI)
@MikeOpenHWGroup
@silabs-oysteink

[2020-09-08 12:21] eroom1966 opened #490 "Debug Mode : dpc contains wrong value after dret to trigger match address==data2"
if a dret occurs from Debug mode into Machine mode, and the dpc address is the same as the tdata2 trigger data. The match is true and the core goes back into Debug mode, but the dpc is incorrectly set to the instruction following the address match (which did not execute)

According to the spec, dpc should contain the address of the next instruction to be executed. As the instruction at address ==

[2020-09-08 12:27] MikeOpenHWGroup commented on #489
Thanks for opening the issue @eroom1966.  Can you provide some specific steps to recreate this issue?  For example, the command-line for running the test that illustrates the error.

[2020-09-08 12:27] MikeOpenHWGroup commented on #490
Thanks for opening the issue @eroom1966.  Can you provide some specific steps to recreate this issue?  For example, the command-line for running the test that illustrates the error.

[2020-09-08 12:37] Silabs-ArjanB commented on #489
Hi @eroom1966 Is the CV32E40P ever in an invalid state or is this purely about trying to align the ISS state with the RTL state (which could be potentially solved in the behavioral tracer or by ignoring the step-by-step comparison for a cycle)

[2020-09-08 13:04] Silabs-ArjanB commented on #443
Hi @shetalani This issue should have been fixed now after the merge of https://github.com/openhwgroup/cv32e40p/pull/483 . Could you please check again and close this issue if fixed now?

[2020-09-08 13:05] eroom1966 commented on #489
@Silabs-ArjanB
I think the internal state of the CV32E40P is correct.
I think the issue is only in the tracer/retire code which has indicated a retire one cycle too early, hence the state of dpc and dcsr is not correct for comparison purposes to the RM
The miscompare only exists for one instruction.

[2020-09-08 13:12] eroom1966 commented on #490
Its quite complicated, but If I run @silabs-oysteink  debug_test, I can see the issue.
I am not sure if this test exists anywhere other than in Oystein's fork/branch

The dpc definitely holds the wrong value after trying to execute an instruction whose address matches the tdata2 trigger. this could be related to the fact that this is the first instruction executed after the dret from Debug Mode.
I

[2020-09-08 13:28] silabs-oysteink commented on #490
The debug_test also exist on the master. The same behavior should be visible there as well as the differences in the test itself between master and my fork/branch is minimal.

[2020-09-08 13:48] Silabs-ArjanB commented on #489
Hi @eroom1966 Would you be okay with suppressing the check for 1 cycle (knowing that if there was an actual issue the following cycles would cause a mismatch as well)? I prefer not to change the RTL if not really needed.

[2020-09-08 13:55] MikeOpenHWGroup commented on #490
@eroom1966 and @silabs-oysteink, please include specific instructions for reproducing the error in this issue report.  We cannot expect the designers to solve the issue unless they can see the issue.  I will typically include specific command-line instructions, including the command-line(s) required to clone the specific repo/fork/branch required.

[2020-09-08 14:05] eroom1966 commented on #489
@Silabs-ArjanB
I would consider this a workaround rather than a solution - I would defer to @MikeOpenHWGroup to decide. Personally I would prefer the tracer to be fixed at source, workarounds are good, but tend to ignore the many potential side effects that may occur.

[2020-09-08 14:21] MikeOpenHWGroup commented on #489
AFAIK, the tracer is not RTL, so I do not understand the concern about changing it.

[2020-09-08 14:22] silabs-oysteink commented on #490
1: Check out core-v-verif master from openhw github
2: For me it does not compile with assertions, so I changed line 56 in cv32/sim/uvm_cv32/Makefile to "SV_CMP_FLAGS ?= #"+define+CV32E40P_ASSERT_ON"
"
3:  Run "make debug_test USE_ISS=NO WAVES=YES" to run test. Excluded ISS as master version explodes in mismatches.

After complesion, you can observe the wrong dpc at time 783,963.3 ns

[2020-09-08 14:43] Silabs-ArjanB commented on #485
Paul, Steve and I talked it through and we decided to change the RTL, see https://github.com/openhwgroup/cv32e40p/pull/492

We do _not_ want to mandate reset assertion at t=0.

[2020-09-08 15:42] MikeOpenHWGroup commented on #485
Nice!   I cloned the latest RTL and the unique case violations are all gone.  Thanks!

[2020-09-08 15:42] #485 closed

[2020-09-08 15:53] eroom1966 commented on #489
@GTumbush @davideschiavone
Hi Greg, Davide,
I wonder if you could help with the above, I note that @davideschiavone made changes to the retire behavior for the uret and mret instructions in order to ensure that the register state was correct at retirement.
It would appear that this is a similar issue with the ebreak instruction as described above the dpc and dcsr do not contain the correct values

[2020-09-09 06:36] Silabs-ArjanB commented on #445
Fixed by fully implementing the stepie functionality (so it is R/W now). Related pull request https://github.com/openhwgroup/cv32e40p/pull/494 has been merged.

[2020-09-09 09:37] davideschiavone commented on #449
Can we close this @Silabs-ArjanB ?

[2020-09-09 09:42] davideschiavone commented on #406
Can we close this @Silabs-ArjanB ?

[2020-09-09 09:44] #449 closed

[2020-09-09 09:45] #406 closed

[2020-09-09 14:38] eroom1966 commented on #489
addendum, to get this to work I had to do the following
if(~(trace.str == "mret" || trace.str == "uret" || trace.str == "ebreak" || trace.str == "c.ebreak")) begin

[2020-09-09 14:50] eroom1966 commented on #481
Documentation still shows this field as R/W - should this be recorded elsewhere ?

[2020-09-09 15:00] Silabs-ArjanB commented on #481
Hi @eroom1966 Could you please file a bug for that on https://github.com/openhwgroup/core-v-docs/issues?

[2020-09-09 15:23] silabs-oysteink commented on #481
Hi,

There is already an issue for the dcsr documentation, you could just update that one 😊
https://github.com/openhwgroup/core-v-docs/issues/163

Øystein

From: Arjan Bink <notifications@github.com>
Sent: onsdag 9. september 2020 17:01
To: openhwgroup/cv32e40p <cv32e40p@noreply.github.com>
Cc: Oystein Knauserud <Oystein.Knauserud@silabs.com>; Mention <mention@noreply.github.com>
Subject: Re: [ope

[2020-09-09 18:11] GTumbush commented on #489
Hi Lee,
   Unfortunately, EM has not used the ISS in debug mode.  It seems the ISS is in a state in which we should.  I see no issues with your updates to the tracer but it would be best if someone from the design team blessed the change.

[2020-09-09 20:32] silabs-PaulZ commented on #490
Thanks @eroom1966 , @silabs-oysteink , @MikeOpenHWGroup ,

I see the issue and will look into the fix.
![image](https://user-images.githubusercontent.com/59703134/92649909-5f496480-f2b1-11ea-9245-37af4ed8e034.png)

The jist of the problem is that the PC of the fetched instruction is being saved for single step, regardless of a trigger match (which should be the PC of the decoded instruction).

[2020-09-10 07:30] Silabs-ArjanB commented on #432
Hi @jm4rtin https://github.com/openhwgroup/cv32e40p/pull/450 has been merged; can this issue be closed now?

[2020-09-10 14:00] #432 closed

[2020-09-10 16:56] davideschiavone commented on #431
A PR is pending here:

https://github.com/riscv/riscv-isa-manual/pull/578

[2020-09-10 17:38] silabs-PaulZ commented on #490
PR #495 fixes DPC stored valued due to trigger.

![image](https://user-images.githubusercontent.com/59703134/92773767-801dc280-f362-11ea-9669-652d89552272.png)

[2020-09-10 17:56] silabs-PaulZ commented on #467
I'm not seeing this issue on the master branch ( 4c27cf8  ) nor on my latest pull request to fix debug trigger bug #495

![image](https://user-images.githubusercontent.com/59703134/92776162-9cbafa00-f364-11ea-8bfa-136a6e94c470.png)

[2020-09-10 18:22] Silabs-ArjanB commented on #467
Agreed; issue is no longer present

[2020-09-10 18:22] #467 closed

[2020-09-10 19:34] eroom1966 commented on #490
@silabs-PaulZ
Hi Paul, great news @silabs-oysteink and I will test tomorrow

I also wanted to give you a heads up, we are seeing DPC set one cycle early when executing in single step. This could just be a tracer issue, but we see the dpc updated with the address of the instruction after the single step, upon execution of the preceding instruction
More info to follow hopefully

Thx
Lee

[2020-09-11 04:17] apollojason opened #496 "The step or resume operation is error(depc error) when the SW/HW bp is set in a J instruction"
Hi Guys：
I use the cv32e40p core running a simple test C code.
I set a SW bp before a “jump” instruction, when the cpu fetched the SW bp instruction, the cpu is halted.
But after that, i use the “step" cmd in telnet, the PC in CPU is wrong, it's not the correct PC which the JUMP instruction expected , the depc has been changed.
The same case is happened,when i set a HW bp in cv32e40p.
If i remove

[2020-09-11 05:27] Silabs-ArjanB commented on #496
Hi @apollojason Thank you very much for your detailed bug report. Could you please let us know what git hash you used when experiencing above issue? Yesterday we made an depc related fix (https://github.com/openhwgroup/cv32e40p/pull/495) , so if you are not using cf064286636d6ff68660f666d1213bef5b7d2883 could you please let us know if the issue is still present in that version as well?

[2020-09-11 05:50] apollojason commented on #496
@Silabs-ArjanB
Hi ArjanB：
      I cloned the cv32e40p RTL code in 08/31/2020, master branch.
      the commit ID is e1d3d780616e0d5b6ed1fa7b89b3cb038bf8b87f
      Did u check the HW bp function, when the cpu matched the HW bp? Because i have tested the ibex core, when the ibex core has been matched the HW bp in trigger, the step or resume function is corrected, but the SW bp function in ibex is wr

[2020-09-11 07:03] Silabs-ArjanB commented on #496
Hi @apollojason , we did quite some fixes to the CV32E40P in the last week, so it would really help us if you could repeat your check on the latest commit to the master branch.

@silabs-oysteink , are you also specifically verifying the scenario described by @apollojason ?

[2020-09-11 07:08] apollojason commented on #496
@Silabs-ArjanB
Hi ArjanB:
    OK, i'll update the design and checking again.
    Hoping to provide assistance to you!

[2020-09-11 07:11] Silabs-ArjanB commented on #496
@apollojason Thank you very much! I realize it is yet extra work, but it really helps us

[2020-09-11 07:16] silabs-oysteink commented on #496
@Silabs-ArjanB I'm don't have a test that implements the exact specifics of what @apollojason describes. But we did see that the dpc was wrong then single stepping and the trigger matched an address. This issue is fixed in PR #495. We are also currently debugging a similiar issue where the dpc seems to be wrong when single stepping and entering exception routines - not sure if it is RTL or tracer

[2020-09-11 09:00] apollojason commented on #496
@Silabs-ArjanB @silabs-oysteink
Hi：
    I have got the new version CPU and finished the debug SW breakpoint test.
    There's a good news. It seems like the cpu is good running.
    Could u double check the wave? I also used the same opertaion flow for testing the SW bp.

![image](https://user-images.githubusercontent.com/71075865/92898013-3ad7be80-f450-11ea-88b9-f309d554cc81.png)

[2020-09-11 11:14] #443 closed

[2020-09-11 13:53] Silabs-ArjanB commented on #496
Hi @apollojason Thank you for running this again on the latest RTL. I will ask Paul to have a look at this as he knows the details about this part of the RTL; @silabs-PaulZ could you please check the lat waveform and indicate if this (now) looks okay or not?

[2020-09-11 16:37] Silabs-ArjanB commented on #429
I can confirm (at least) two bugs in above code:

1) The performance counter registers software writes do not take effect on the correct instruction boundaries (the fix for this is the the insertion of flush states as is done for many other CSRs)
2) The id_valid_q signal is not necessarily aligned with jump_i as is shown in below waveform (this can be fixed with qualifying jump_i differently). (Ma

[2020-09-11 18:54] silabs-PaulZ commented on #496
Hi @apollojason , Thank you for reporting this. As mentioned before, we recently fixed this issue.

I can confirm that looking by at your waveforms the fix has been applied. Before the fix, the machine would incorrectly go to the DBG_TAKEN_IF state (e.g. enter debug mode and store the PC of the instruction fetched (if)) which would improperly store the next instruction. The fix now makes the machi

[2020-09-11 20:12] MikeOpenHWGroup opened #497 "Questions about Exceptions in CV32E40P"
During the review of the CV32E40P Exceptions DV Plan the following questions came up:

1. Is there an "Illegal Memory Access" exception?   That is, what happens when the core attempts to fetch and instruction or load/store data from/to an address that does not exist?   It seems that the core simply hangs, is that the case?
2. Does the CV32E40P support any ALU instructions?   For example, what happ

[2020-09-11 22:46] joestoy opened #498 "Wrong result from lw instruction"
## Bug Title
Wrong load value return from lw instruction

### Component
load-store unit
**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce
Please provide:
1. git hash: 1607d8b675864db1aa013364fd4444a665331830
2. Command line: to run coremark.exe in verilator simulation,
    ./exe_cv32e40p_sim  +v1 +tohost +jtag_port=6600 +vpi_port=7700
with Mem.h

[2020-09-12 02:06] apollojason commented on #496
@silabs-PaulZ
Hi Paul：
     Thank you for explaining the theory of the "depc update mechanism".  I couldn‘t agree more.
     About the difference between the HW bp and SW bp,  they are same from a debugging perspective.
     When a debuger user the OpenOCD set a bp, if the bp is a HW breakpoint, it will user the trigger in the cpu core, if the bp is a SW breakpoint, the OpenOCD will read the instr

[2020-09-12 07:34] Silabs-ArjanB commented on #497
1A) Is there an "Illegal Memory Access" exception? No, CV32E40P does not use these exceptions. There are no bus error pins; this feature is scheduled to be added on CV32E40.
1B) That is, what happens when the core attempts to fetch and instruction or load/store data from/to an address that does not exist? That depends on the environment; it could for example issue an interrupt if this happens; the

[2020-09-12 07:36] Silabs-ArjanB commented on #496
Hi @apollojason It seems this issue has been solved. If you agree can you please close this issue (if not, please let us know why not)? Thank you for your help!

[2020-09-12 07:40] apollojason commented on #496
@Silabs-ArjanB @silabs-PaulZ
Hi：
      I agree you. I'll close this issue.
      Do you have a constraint file for synthesize？ I want to have a try for DC.

[2020-09-12 07:46] Silabs-ArjanB commented on #496
Hi @Silabs-ArjanB We have constraints, but it will take some time to release them.

[2020-09-12 08:03] apollojason commented on #496
@Silabs-ArjanB
 Hi：
     OK，thank you very much!  I wish the cv32e40p cpu will be tipped out successfully.

[2020-09-12 08:20] davideschiavone commented on #431
The PR has been merged. We can close this issue

[2020-09-12 08:39] Silabs-ArjanB commented on #498
Hi @joestoy Thank you for submitting this detailed issue report. It looks really weird to me. The data gets wrongly aligned because the core thinks this is a misaligned load (which it is not). In the waveform below rdata_offset_q should remain 0 at/after the clock edge marked '2' in the figure below. I do not use Verilator myself, but at first glance this looks like a simulator issue. Can you expl

[2020-09-12 08:40] #431 closed

[2020-09-13 17:55] MikeOpenHWGroup commented on #497
Thanks for the clarification @Silabs-ArjanB, I'll close this issue now.

About my second question:

That was an embarassing typo.  I meant ALU **_exceptions_**, not ALU _instructions_.  Its pretty obvious processor core should support instructions.  :laughing:

[2020-09-13 17:55] #497 closed

[2020-09-13 18:05] MikeOpenHWGroup commented on #498
@Silabs-ArjanB said:

I would be willing to help out here as I have access to Verilator, Cadence Xcelium and Metrics dsim simulators.   @joestoy, can you provide more details to run the verilator test?  I do not know what "coremark.exe" refers to.  A set of command-lines starting with the `git clone` command would allow me to reproduce the error you are seeing and then attempt to reproduce the sam

[2020-09-14 08:04] dawidzim opened #500 "Duplicate file in compilation | Tool-and-build"
Hey!
In `/bhv/cv32e40p_wrapper.sv` is:
[code]
In my opinion we don't need to compile this files, so we should change line from `example_tb/core/Makefile`:
[code]
to
[code]

[2020-09-14 09:33] Silabs-ArjanB commented on #500
Hi @dawidzim Agreed with that change. Could you please issue a pull request for that change?

[2020-09-14 11:26] dawidzim commented on #500
Hey @Silabs-ArjanB , sure PR #501

[2020-09-14 11:53] Silabs-ArjanB commented on #500
Hi @dawidzim Thank you; it has been merged now

[2020-09-14 12:45] dawidzim commented on #500
Ok, thanks:)

[2020-09-14 12:45] #500 closed

[2020-09-14 12:49] #424 closed

[2020-09-14 12:50] Silabs-ArjanB commented on #486
Hi @MikeOpenHWGroup Can this be closed now?

[2020-09-14 12:56] Silabs-ArjanB commented on #429
Formal shows that id_valid_q is implied by branch_i, so following will be simplified by removing id_valid_q:

assign hpm_events[8]  = branch_i                   & id_valid_q;       // nr of branches (conditional)
assign hpm_events[9]  = branch_i & branch_taken_i  & id_valid_q;       // nr of taken branches (conditional)

Following will be written more intuitively:

 assign hpm_events[3]  = jr_stal

[2020-09-14 14:17] MikeOpenHWGroup commented on #486
Yes, it can.  Thanks for the gentle reminder.

[2020-09-14 14:17] #486 closed

[2020-09-14 14:40] MikeOpenHWGroup opened #502 "Match default RTL parameters to match (potential) update to default parameters."
As everyone will know, the default RTL parameters are in [cv32e40p_core.sv](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/cv32e40p_core.sv).  Assuming that [core-v-docs issue #189](https://github.com/openhwgroup/core-v-docs/issues/189) is accepted, the default parameters will need to be updated to match.

[2020-09-14 15:50] #404 closed

[2020-09-14 15:53] Silabs-ArjanB commented on #378
Hi @Imperas We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question or comment remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank you for contributing to thi

[2020-09-14 15:53] #378 closed

[2020-09-15 02:53] strichmo opened #503 "interrupt handler entry after CSRRC instruction clears local interrupt"
It is not completely clear to me whether this is an architectural bug, or simply a scenario where I need to tune the ISS to.

In this case, the CSRs are being written to (including MIE and MSTATUS.MIE) while external interrupts are being generated randomly.  In this particular case an external interrupt [29] is being asserted one cycle before mie[29] is being disabled via a CSRRC write.  The inter

[2020-09-15 02:55] strichmo commented on #503
![Screenshot_091420_095452_PM](https://user-images.githubusercontent.com/56401023/93159925-e98c3100-f6d4-11ea-8082-4ae8d8b6102f.jpg)

[2020-09-15 12:44] Silabs-ArjanB commented on #429
Fix done in https://github.com/openhwgroup/cv32e40p/pull/504

[2020-09-16 10:01] Silabs-ArjanB commented on #498
Hi @joestoy Could you please let me know if you agree that this is a simulator issue as opposed to an RTL issue?

[2020-09-16 10:32] joestoy commented on #498
@Silabs-ArjanB: Sorry for delay -- we've been a bit distracted by yesterday's OpenHW conference.  Yes, I think you're right.  I made a slight change to the surrounding SoC (no change whatever to the CV32E40P RTL), and can no longer reproduce the issue.  What's more, the CS and NS signals are no longer there.  I'm guessing they mean "current state" and "next state" (Cs always trails one cycle behin

[2020-09-16 10:32] #498 closed

[2020-09-16 11:19] Silabs-ArjanB commented on #498
Hi @joestoy No problem at all; happy to see that the issue is gone (although it was not fully understood).

[2020-09-16 12:22] Silabs-ArjanB commented on #503
Hi @strichmo Thank you for filing this issue. I looked at the wave and I consider it an actual RTL bug (but maybe for a different reason than you thought).

If you look at this code:

[code]

then it should never be possible that 'slt' is the interrupted instruction because of irq_i[29]. So in below waveform the combination of mepc == 0xee6 (i.e. SLT instruction address) and irq_id_o == 29 is wron

[2020-09-17 09:29] Silabs-ArjanB commented on #489
Hi @eroom1966 This issue should be fixed now; can you close it if agreed? (core-v-verif will be made to point to the latest RTL)

[2020-09-17 09:40] eroom1966 commented on #489
agreed - closing

[2020-09-17 09:40] #489 closed

[2020-09-17 11:10] Silabs-ArjanB commented on #503
mcause reflect an IRQ that is not allowed to be taken as well. Easiest fix (at the cost of latency) is to cause flushes upon mie writes.

![image](https://user-images.githubusercontent.com/40633348/93462828-334c6580-f8e7-11ea-9dec-98604a9d9ddd.png)

[2020-09-18 12:37] MikeOpenHWGroup commented on #470
Hi @strichmo, can you have a look? Its possible that the improved latency in the RTL will impact the integration with the Reference Model.

[2020-09-18 12:45] Silabs-ArjanB commented on #503
Hi @strichmo Could you please use the (not yet merged) repos from https://github.com/openhwgroup/cv32e40p/pull/508 and run an (interrupt) regression on it? The problem from this github issue should have been fixed with that PR.

[2020-09-18 12:47] Silabs-ArjanB commented on #470
PR https://github.com/openhwgroup/cv32e40p/pull/508 also fixes #470

[2020-09-18 13:49] Silabs-ArjanB commented on #470
(Issue has not yet been fixed; pull request https://github.com/openhwgroup/cv32e40p/pull/508 has been withdrawn)

[2020-09-18 16:04] tzwaenn opened #509 "Core executes wrong instruction"
## Bug Title
After some dmem stalls, a retracted interrupt, and an additional debug interrupt, and instruction that should have been flushed gets exeuted as first instruction after entering debug mode.

### Component

**Component:RTL**

### Steps to Reproduce
This is a corner case sequence of events leading to an instruction being executed although it shouldn't be. It was found with OneSpin 360 fo

[2020-09-18 21:40] MikeOpenHWGroup opened #510 "Unexpected illegal instruction reading mcounteren"
The test-program `core-v-verif/cv32/tests/programs/custom/requested_csr_por/requested_csr_por.c` simply reads a set of CSRs.  The test flags two issues:

1. Reading `mcounteren` produces an illegal instruction exception.  This is not expected.
2. The value of `mepc` is off by one address.

### Test-program info
Line 408 is the read of `mcounteren`:
[code]

This produces the following ASM code:
[co

[2020-09-18 21:57] jm4rtin commented on #510
@MikeOpenHWGroup The specification states:

The CSR is only implemented in the core if user mode is enabled. The documentation omits the description of this register because it's user mode only. It is listed in the user mode table which gets stripped out. Despite removing it from the machine mode table when the HPM got merged, the CSR got added back during the cleanup.

Removed: https://github.com

[2020-09-19 01:46] MikeOpenHWGroup commented on #510
That is probably my bad from [core-v-docs #172](https://github.com/openhwgroup/core-v-docs/pull/172).  I'll open an issue in core-v-docs to get that fixed.

OK, so the the situation is now as follows:

1. Reading `mcounteren` produces an illegal instruction exception. This **_is_** expected.
2. The value of `mepc` is off by one address.

I can close this issue and open a new one if desired.

[2020-09-19 12:54] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup I cannot reproduce this issue. Could you please upload the generated files in core-v-verif/cv32/tests/programs/custom/requested_csr_por/ and a command line to run the test case such that these generated files are not overwritten? (Using mainline gcc the mepc is okay for me; using the PULP tool chain the test does not compile for me)

[2020-09-20 10:04] Silabs-ArjanB commented on #503
Hi @strichmo Could you please run an (interrupt) regression on https://github.com/openhwgroup/cv32e40p/pull/511 before we perform the merge? It should fix issue #503 (but a timing optimization still needs to be performed before we can merge it).

[2020-09-21 07:51] davideschiavone commented on #329
Hi @GTumbush , is that issue still present in the latest version of the core?

[2020-09-21 07:51] davideschiavone commented on #484
Let me ask the guy that made that change in the RF. Coming back soon

[2020-09-21 08:30] Silabs-ArjanB commented on #484
Hi @igorloi We all seem to agree that bringing these signals to the top is not the way to go. Also we do not want ifdefs in the code, so for me the only two options are to 'leave it as is' or 'remove the wrapper all together'.

[2020-09-21 09:54] Silabs-ArjanB commented on #502
Fixed with https://github.com/openhwgroup/cv32e40p/pull/512

[2020-09-21 13:33] MikeOpenHWGroup commented on #484
@Silabs-ArjanB said:

I agree with this, and would ask if we decide on 'leave as is' that the existence of this interface be documented in the User Manual, including specific instructions on what the user should do if they do not want to use BIST ("do nothing" in this case).

We could also consider adding code coverage exclusions attributes in the RTL, but these may be tool vendor-specific.

[2020-09-21 15:42] davideschiavone commented on #484
I vote for removing it

[2020-09-21 16:58] MikeOpenHWGroup commented on #484
@davideschiavone disse:

Even better.

[2020-09-22 01:51] MikeOpenHWGroup commented on #510
Hi @Silabs-ArjanB.  I get more than a little worried when comments about toolchains pop up, so I took a seperate tack here:

- switched to the [OpenHW blessed toolchain](https://www.embecosm.com/resources/tool-chain-downloads/#corev).
- wrote a dedicated assembly testcase.
- Ensured the TB is pointed at the latest RTL and uses the proper top-level parameters, specifically PULP_XPULP=0

To reproduc

[2020-09-22 08:12] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup The above code is much too simplified, basically there seems to be no exception handler and because MTVEC keeps the illegal instruction exception address at 0 (and the test environment returns 32'bx from that address= the shown tests stays in a loop (first encountering the illegal mcounteren instruction, then encountering the illegal 32'bx forever)

[2020-09-22 12:12] Silabs-ArjanB commented on #484
Perfect, I will remove it

[2020-09-22 12:47] MikeOpenHWGroup commented on #510
Sorry @Silabs-ArjanB, maybe my last update had too many details and the following got lost in translation: when I use the COREV toolchain (the same one you pointed out above), the value of mepc is as expected.  So that is no longer the problem.

I'll investigate the exception handler issue and get back to you.

[2020-09-22 13:00] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup I am not looking for a simpler test case, just a wave showing the original problem you mentioned. So as far as I am concerned you do not need to fix the exception handler issue as you already seem to have a failing test.

[2020-09-22 14:09] MikeOpenHWGroup commented on #510
I had to cut the test down to size since the compressed vcd was larger than 10M.   Here is the log and vcd from a reduced version of the test-program that illustrates the issue.

[dsim-requested_csr_por.log](https://github.com/openhwgroup/cv32e40p/files/5261991/dsim-requested_csr_por.log)
[dsim-requested_csr-por.vcd.gz](https://github.com/openhwgroup/cv32e40p/files/5261993/dsim-requested_csr-por.v

[2020-09-22 14:17] Silabs-ArjanB commented on #510
@MikeOpenHWGroup Thanks! I will look at it right away

[2020-09-22 14:29] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup I am sorry, but I still do not see the wrong mepc as you mentioned at the start of this issue. The following is a screenshot from dsim-requested_csr-por.vcd.gz which looks fine to me.

![image](https://user-images.githubusercontent.com/40633348/93896029-bb1fde80-fcf0-11ea-8ba1-16b85f431e73.png)

[2020-09-22 14:33] klion717 commented on #308
@MikeOpenHWGroup, I have a question about the FPU compute status

[2020-09-22 14:41] klion717 commented on #308
Hi, @MikeOpenHWGroup, I have a question about FPU status.
  // Status flags
  typedef struct packed {
    logic NV; // Invalid
    logic DZ; // Divide by zero
    logic OF; // Overflow
    logic UF; // Underflow
    logic NX; // Inexact
  } status_t;
Currently, the status is only reported to the csr register. Software has to polling the csr to get the status each time there is a float point comput

[2020-09-22 15:10] davideschiavone commented on #308
Hello @klion717 , the FPU is RISC-V complian, which does not trigger any exception.

[2020-09-22 15:42] MikeOpenHWGroup commented on #308
Hi @klion717, just so you are aware, the current iteration of the CV32E40P is not verified using the FPU.  That is, all our verification is done with the top-level parameter `FPU` set to 0.  This is described in the [parameters](https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/integration.html#parameters) section of the User Manual.

[2020-09-22 15:56] Silabs-ArjanB commented on #509
Hi @tzwaenn Thank you for this detailed bug report, very cool that your assertions find this! I will dive in it tomorrow, could you please also provide the VCD

[2020-09-22 17:13] tzwaenn commented on #509
Hi Arjan,

I was not expecting that the mundane task of checking the PC increment of a memory instruction would have any fallout - but that's the beauty of formal. I had to zip the vcd as the system would not accept the .vcd extension.
[RV_chk.ops.RV32I.vcd.zip](https://github.com/openhwgroup/cv32e40p/files/5262988/RV_chk.ops.RV32I.vcd.zip)
Sven

[2020-09-22 17:29] MikeOpenHWGroup commented on #510
Interesting.  I see what you see, but when I subsequently read the `mepc`, it is off by one instructions (expecting 0x164, but read 0x168).   I've attached a log and waves for a slightly modified version of the test that reads the mepc.

[dsim-requested_csr_por_take2.log](https://github.com/openhwgroup/cv32e40p/files/5263029/dsim-requested_csr_por_take2.log)
[dsim-requested-csr-por_take2.vcd.gz](h

[2020-09-23 08:51] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup Thank you for the new waves. I now see that 0x168 is being read, but only after software first explicitly writes that value into mepc as shown with the 0x34129073 instruction at 0x2CE in below waveform:

![image](https://user-images.githubusercontent.com/40633348/93989564-5913b780-fd8a-11ea-8b16-eec23b1bc33c.png)

In above waveform the first a read of mepc happens (correctly re

[2020-09-23 10:10] Silabs-ArjanB commented on #429
Hi @silabs-PaulZ Can this be closed now (the related merge has been done)?

[2020-09-23 12:56] #429 closed

[2020-09-23 13:55] davideschiavone commented on #197
Hi @yaronbe1 , the HWLoop has been completly rewritten from scratch due to this bug :)
Is it still present , or can wel close the issue?

[2020-09-23 15:49] Silabs-ArjanB commented on #509
Hi @tzwaenn A couple of days ago the interrupt controller RTL and related states in the controller were greatly simplified (see https://github.com/openhwgroup/cv32e40p/pull/511). Specifically the 'replay after interrupt speculation' part has been removed from the RTL and I think that this caused the issue you found. So, I expect that my RTL updates of earlier this week (accidentally) already fixed

[2020-09-23 18:53] MikeOpenHWGroup commented on #510
Hi @Silabs-ArjanB.  It appears you are right - I am using C macros to create assembly code and it is injecting unexpected writes.  Having said that, I am still not completely convinced that all is well, so I will assign this issue to myself and work to write a assembly test to either prove to myself everything is fine or definitively say that it is not.

Stay tuned and thanks for your patience.

[2020-09-24 05:31] Silabs-ArjanB commented on #484
Hi @MikeOpenHWGroup Can this issue be closed now?

[2020-09-24 07:30] tzwaenn commented on #509
Hi Arjan,

I can confirm that instr_valid_irq_flush_q is now formally stuck at 0, hence this particular issue no longer exists. You might want to remove instr_valid_irq_flush_q from the RTL moving forward...

[2020-09-24 07:34] davideschiavone commented on #509
Hello and thanks @tzwaenn , in the last version of the core that signal should not be present at all indeed.

[2020-09-24 07:45] Silabs-ArjanB commented on #509
Hi @tzwaenn Perfect, thank you for your help. Could you please close this issue if you agree the issue has been solved?

[2020-09-24 07:46] #509 closed

[2020-09-24 08:06] Silabs-ArjanB commented on #503
Hi @strichmo Can you please close this issue if you agree it has been fixed?

[2020-09-24 08:09] Silabs-ArjanB commented on #490
Hi @eroom1966 Can you please close this issue if you agree it has been fixed or let us know what is still broken?

[2020-09-24 08:10] Silabs-ArjanB commented on #460
Hi @strichmo Can you please close this issue if you agree it has been fixed?

[2020-09-24 08:10] Silabs-ArjanB commented on #445
Hi @silabs-oysteink Can you please close this issue if you agree it has been fixed?

[2020-09-24 08:11] Silabs-ArjanB commented on #502
Hi @MikeOpenHWGroup Can you please close this issue if you agree it has been fixed?

[2020-09-24 08:16] Silabs-ArjanB commented on #447
Hi @islengxw We will not do daily tags. We will tag once the (currently being discussed) functional verification and RTL design criteria have been met (e.g. basic synthesis check, tests implemented as per verification plan and passing, etc.). We will document the status when we apply such a tag.

Can you please close this ticket if your question has been answered?

[2020-09-24 08:17] #445 closed

[2020-09-24 08:25] Silabs-ArjanB commented on #364
Hi @PauliusMorku The RISC-V compliance tests are now part of the 'ci check' on core-v-verif. You can follow the discussion on the tests here https://github.com/openhwgroup/core-v-verif/issues/253 instead. Could you please close this (more or less) duplicate issue and address any Compliance test questions to core-v-verif?

[2020-09-24 08:32] islengxw commented on #447
Hi ArjanB,
Thanks

[2020-09-24 08:32] #447 closed

[2020-09-24 08:46] Silabs-ArjanB commented on #112
Hi @shjdzc12 Is this issue still present? If so, can you please provide a way to reconstruct this issue (full program code, linker file, etc.)?

[2020-09-24 11:11] davideschiavone commented on #372
At the moment bit 12 is a don't care in the documentation.
Can we please first define that bit and then accordingly modifying the decoder? I agree it should be 0

[2020-09-24 11:18] mmatzev opened #526 "CV32E40P tracer shows wrong register outputs for the FPU register file"
The tracer does show xxxx instead of real register values.

### Steps to Reproduce
Please provide:
1. git hash --> 30002b445316ad25ca6423e7c9bf55d9f53202f0
2. Core is used in a pulpino like enviroment together with the FPnew FPU
3. The testFPU test from the pulp-platform/pulpino setup is executed.

![image](https://user-images.githubusercontent.com/6613334/94136764-b4ff3e80-fe65-11ea-83dd-9402e5e2

[2020-09-24 11:44] MikeOpenHWGroup commented on #502
Indeed.  Thanks!

[2020-09-24 11:44] #502 closed

[2020-09-24 12:06] eroom1966 commented on #490
yes this is fixed - closing

[2020-09-24 12:06] #490 closed

[2020-09-24 12:12] #430 closed

[2020-09-24 12:14] Silabs-ArjanB commented on #329
Hi @eroom1966 , @GTumbush Could you please let us know if this issue still present?

[2020-09-24 13:44] Silabs-ArjanB commented on #526
Hi @mmatzev Thank you for the detailed report. If you have a fix for the tracer issue please feel free to issue a pull request

[2020-09-24 14:41] #372 closed

[2020-09-24 15:34] MikeOpenHWGroup commented on #484
Why yes it can.  :wink:  Thanks for this.

[2020-09-24 15:34] #484 closed

[2020-09-27 19:52] strichmo commented on #503
Closing issue.  Regressions with random interrupts are running clean.

[2020-09-27 19:52] #503 closed

[2020-09-27 19:52] strichmo commented on #460
Closing issue.  Random interrupt tests are running clean.

[2020-09-27 19:52] #460 closed

[2020-09-29 06:26] #470 closed

[2020-09-30 08:54] silabs-oysteink opened #529 "Wrong dcsr.cause after sleep"
## Wrong dcsr.cause after sleep
Cause bits in dcsr seems to wrong if the first instruction decoded after WFI + debug_req_i is an EBREAK.

1. Core is sleeping
2. debug_req_i is asserted
3. Core wakes up, fetches an ebreak instruction
4. Core enters debug mode, sets cause to 0x1 (ebreak)
5. Ebreak instruction does not retire

<img width="605" alt="ebreak_2" src="https://user-images.githubusercontent

[2020-09-30 09:04] Silabs-ArjanB commented on #529
@silabs-PaulZ I expect that exactly the same issue will happen when we try to assert debug_req_i upon cold start while the first regular program instruction would have been an ebreak.

[2020-09-30 09:16] Silabs-ArjanB commented on #280
Part of this work has been done in https://github.com/openhwgroup/cv32e40p/pull/528

I am aware that cv32e40p_alu.sv and include/cv32e40p_pkg.sv still need to be cleaned up as well (maybe there are other places as well that I am not aware about).

[2020-09-30 09:54] Prarthi1703 opened #530 "facing Error while installing RISC-V GNu toolchain"
./configure --prefix=/opt/riscv
make linux

![gnu_toolchain_error](https://user-images.githubusercontent.com/70278960/94671074-03628080-0331-11eb-8caa-d36e7a8d7dbd.png)

[2020-09-30 11:48] davideschiavone commented on #530
Hello, I think this is the wrong repository. You should open this ISSUE in the related github repository of your RISC-V GNU toolchain

[2020-09-30 11:48] #530 closed

[2020-09-30 15:21] davideschiavone commented on #142
shall we close this issue? @Silabs-ArjanB

[2020-09-30 16:33] #142 closed

[2020-09-30 20:29] silabs-PaulZ commented on #529
Thank you @silabs-oysteink for finding this.

I submitted a fix with PR #531. This corner case occurs with WFI, reset, and also in general code execution.

Below are waveforms showing the new register ebrk_debug_entry_q that will capture if entry is due to a ebreak instruction. The top half of the waveform shows the scenario where debug_req preempts the ebreak instruction and cause is set to `halt

[2020-10-01 05:49] Silabs-ArjanB commented on #529
Hi @silabs-oysteink Thank you for finding this issue. The related PR has been merged. Can you update core-v-verif to the latest CV32E40P repos and close this issue if you agree it has been fixed?

[2020-10-01 09:07] silabs-oysteink commented on #529
The issue is fixed, but another issue came up which seems related: If we get a debug_req_i while single stepping, we should enter debug mode with cause=3 (external request) instead of cause=4 (single step), as external debug request has higher priority than a single step.  This is captured by the same method as described above, only with updated RTL for this issue.

<img width="788" alt="debug_ste

[2020-10-01 12:09] shetalani opened #533 "Illegal Instruction Retires"
### Issue Description
An illegal instruction increments the minstret counter as if it was a legal one.

### Component
**Component:RTL**

### RISC-V Specification

have 64-bit precision on all RV32 and RV64 systems.

### Steps to Reproduce

As shown below, the following sequence of instructions happen:

The first instruction sets all the bits of mcountinhibit to '0 and thus allowing for the counter

[2020-10-01 17:12] davideschiavone opened #537 "Remove apu_master_type_o, apu_master_ready_o pins and the master from the interface name"
To do after RTL freeze

[2020-10-02 02:26] silabs-PaulZ commented on #529
Hi @silabs-oysteink , I had originally made single step mask the debug_req in order to always honor the single step execution before returning back to debug mode. I see this doesn’t work well for all corner cases, such as in the case where the user keeps debug_req asserted when exiting debug mode.

I’ve made another PR #538 which will fix this problem.

In this wave, you can see that debug req occ

[2020-10-02 02:44] silabs-PaulZ commented on #533
To expand on this, according to the following discussion, all traps should not increment the instret counter. This includes ebreak and ecall along with illegal instruction.

https://lists.riscv.org/g/tech-base-isa-archive/message/78?p=,,,20,0,0,0::relevance,,instret,20,2,0,32208768
![image](https://user-images.githubusercontent.com/59703134/94882995-25dac380-042f-11eb-9952-665533a6dc8c.png)

[2020-10-02 07:08] Silabs-ArjanB commented on #533
Hi @silabs-PaulZ Agreed with that; I will fix the fix

[2020-10-02 07:51] davideschiavone commented on #363
Can this be closed @Silabs-ArjanB ?

[2020-10-02 07:53] davideschiavone commented on #280
Second part need to be merged #536 before closing this issue

[2020-10-02 08:04] Silabs-ArjanB commented on #363
Hi @davideschiavone No, I don't think anybody fixed this

[2020-10-02 08:11] davideschiavone commented on #363
Let me try to test and fix it

[2020-10-03 08:09] Silabs-ArjanB opened #540 "Performance counter retired instruction count error"
The 'retired instruction count' event is not correct. As it really is implemented as an 'issued instruction' event in the RTL wrong counts are returned when performing a CSR read of minstret while the performance counter is running.

Easy example to show that:

[code]
t0 should be 0 but is 1 as the CSR read instruction is wrongly counted as well.

[2020-10-05 06:31] Silabs-ArjanB commented on #529
Hi @silabs-oysteink https://github.com/openhwgroup/cv32e40p/pull/538 has been merged. If the above issue has been resolved can you please close this issue?

[2020-10-05 06:40] #529 closed

[2020-10-06 07:06] Silabs-ArjanB commented on #533
I will also change the 'compressed instruction count' into a 'retired compressed instruction count' (i.e. excluding the same categories as excluded for minstret

[2020-10-07 18:48] MikeOpenHWGroup opened #543 "Unexpected illegal instruction exception raised on CSR writes"
Write accesses to `mvendorid`, `marchid`, `mimpid` and `mhartid` all cause an illegal instruction exception.  This is compliant with the Privileged ISA which states "Attempts to access a CSR without appropriate privilege level or to write a read-only register also raise illegal instruction exceptions".

However, it does not agree with the User Manual with states: "Writes of a non-supported value t

[2020-10-08 05:44] Silabs-ArjanB commented on #543
We follow the RISC/V privileged spec. The user manual comment is about the write _value_ , not about the write itself. Will rephrase that.

[2020-10-12 06:06] #540 closed

[2020-10-12 06:08] Silabs-ArjanB commented on #533
Hi @shetalani This issue should have been solved now. Could you please run the OneSpin checks again on the current master branch? Note that together with illegal instructions also ecall and ebreak have been excluded from incrementing minstret

[2020-10-15 02:07] strichmo opened #548 "csr exception state with external debug request during illegal instruction entry"
## Bug Title

CSR DECP and MECP miscompare when external debug request is granted during execution of an illegal instruction.

### Component

**Component:Verif**
I suspect the cause of the miscompare is in the reference model.

The miscompares are:
UVM_ERROR @ 685665.300 ns : uvmt_cv32_step_compare.sv(96) reporter [Step-and-Compare] dpc expected=0x000056f6 and actual=0x00030900 PC=0x1a110800
UVM_E

[2020-10-15 09:11] silabs-oysteink commented on #548
I see that the riscv-dv can generate handshakes (writes to a specific memory address) to enable update of core internal state.

The full description is in the riscv-db documentation:
[https://htmlpreview.github.io/?https://github.com/google/riscv-dv/blob/master/docs/build/singlehtml/index.html#document-cmd_line_reference](url)

Maybe we need to add these handshakes to the virtual peripheral and us

[2020-10-15 18:52] strichmo opened #549 "PC miscompare in single step after debug entry on illegal instruction"
# Template for Bug Issue

ISS miscompare

## Bug Title
CSR DECP and MECP miscompare when external debug request is granted during execution of an illegal instruction.

This issue appears related to https://github.com/openhwgroup/cv32e40p/issues/548 but manifests the failure mechanism slightly differently.

### Component
**Component:Verif**

The miscompares are:
UVM_ERROR @ 4921272.300 ns : uvmt_cv

[2020-10-15 19:02] MikeOpenHWGroup commented on #549
Hi @strichmo, if I merge in [core-v-verif pr #287](https://github.com/openhwgroup/core-v-verif/pull/287) will it impact the Designer's ability to reproduce this error?

[2020-10-15 19:35] strichmo commented on #549
@MikeOpenHWGroup  The above fork for cove-v-verif points to a custom tracer and custom RTL which we will PR later.  So no, any ongoing master pushes/PRs will not affect reproducibility for this nor 548.

[2020-10-16 05:19] Silabs-ArjanB commented on #549
@strichmo @eroom1966 Hi Steve, please correct me if I am wrong here or if you have other expectations from us. The way I read above issue is that you are saying/expecting that there is an ISS issue here. For now I am therefore assigning this one to @eroom1966 . Please let me know if you think this should be handled differently.

[2020-10-16 12:56] strichmo commented on #549
@Silabs-ArjanB I agree with your statement.  This appears to be an ISS issue.

[2020-10-16 15:06] shetalani commented on #533
Hi @Silabs-ArjanB, the issue is now fixed for illegal, ecall and ebreak.

[2020-10-16 15:06] #533 closed

[2020-10-19 07:19] Silabs-ArjanB commented on #548
I looked at this simulation and this seems like an ISS (or tracer) issue to me. The RTL is simply honoring the debug request after the dret completes (but dret needs to go through DECODE, FLUSH_EX, FLUSH_WB states, which opens up the door for the debug request to come in after DRET started its execution but before it completes).

![image](https://user-images.githubusercontent.com/40633348/96413582

[2020-10-19 08:59] eroom1966 commented on #549
@strichmo @Silabs-ArjanB @silabs-oysteink

I am hoping someone can direct me.
Following the steps to reproduce I have an issue with this command

I have no command called 'makecv32', so I thought this was a typo and that should be 'make cv32'

however issuing the command

gives me the error

Can anyone see what I may be doing wrong ?

thx
Lee

[2020-10-19 09:02] silabs-oysteink commented on #549
makecv32 is  a wrapper found in core-v-verif/bin. If you include that in your $PATH it should be fine. You should also be able to substitute makecv32 with make as long as you are in the cv32/sim/uvmt_cv32 folder when you run it.

[2020-10-19 09:02] eroom1966 commented on #549
I think this was a complete typo, I removed the 'makecv32' and replaced with just 'make'
I think this was the issue.

I am now seeing the SHELL interpreter issue I have reported previously

I need to go and hack the makefile's to get this to work in a bash shell

[2020-10-19 09:03] eroom1966 commented on #549
@silabs-oysteink
aha, we overlapped - I will go back and undo what I did - thx

[2020-10-19 09:08] Silabs-ArjanB commented on #549
Hi @eroom1966 Can you just try 'make' instead of 'makecv32'?

[2020-10-19 09:44] eroom1966 commented on #549
Hi All
well this is disconcerting - for me it passes ?
This would indicate a difference in the simulator event propagation

How do I now pass options to the ISS simulator, previously I modified the file called
./cv32/tests/cfg/default.yaml

This no longer seems to work ?
is there a bespoke yaml for this test ?

I think we need to produce a full ISS trace listing from your (failing) environment, an

[2020-10-19 10:25] eroom1966 commented on #549
@silabs-oysteink @strichmo @Silabs-ArjanB
Hi All
I need a trace file from a failing simulation, as I have mentioned, mine does not fail. I am running xcelium version

Not sure how this compares to your environment.
I have also noticed the version of the ISS model is

Is this the version we fixed the race ?

[2020-10-19 11:29] darbaria opened #550 "Implementations does not raise illegal instruction exceptions on machine-mode access to debug registers"
## Bug Title

According to the ISA: Machine-mode standard read-write CSRs 0x7A0–0x7BF are reserved for use by the debug system. Of these CSRs,0x7A0–0x7AF are accessible to machine mode, whereas0x7B0–0x7BF are only visible to debug mode. [Implementations should raise illegal instruction exceptions on machine-mode access to the latter set of registers.](url
[MACHINE_MODE_ACCESS_TO_DEBUG_ADDR_DOES_NO

[2020-10-19 11:42] darbaria opened #551 "For RV32I, SLLI, SRLI, and SRAI generate an illegal instruction exception if imm[5] != 0"
## Bug Title

USer ISA page 30 states that for RV32I, SLLI, SRLI, and SRAI generate an illegal instruction exception if imm[5] != 0

APP: formalISA

parameter PULP_XPULP        =  0
parameter PULP_CLUSTER    =  0

Assertion vacuity failure. An assertion stating that on a valid decode of a SRRLI/SRAI/SRLI when imm[5] !=0 raises an exception fails the vacuity check. On further analysis, we are able

[2020-10-19 11:43] Silabs-ArjanB commented on #550
Hi @darbaria the trace does not contain CSR accesses to 7B0-7BF. I thought I mentioned before that I think the assertions are probing the wrong signal (i.e. I guess the assertions are combing ID and EX stage signals.) Just look at instr_rdata_i in ID stage and see if you can find a CSR instruction there to 7B0.

[2020-10-19 11:50] darbaria opened #552 "ADDI Doesn't deliver the expected results if current decoded ADDI is in the shadow of a prior illegal instruction"
Bug description:

ADDI Doesn't deliver the expected results if the current decoded ADDI is in the shadow of prior illegal instruction. When an extra condition to mask the detection of illegal_insn in the current cycle is added in the antecedent, we see proof that ADDI works correctly. I have seen a few other instructions behave this way (a handful) but not all instructions.
[ADDI_fails.vcd.gz](htt

[2020-10-19 11:57] eroom1966 commented on #549
This is the log I have from running the make command line (this has full tracing enabled)
[simulate.log](https://github.com/openhwgroup/cv32e40p/files/5401548/simulate.log)

This is generated by adding in the following parameters to the ISS control file
--trace --tracechange --traceshowicount --monitornets --tracemode

[2020-10-19 11:58] darbaria opened #553 "FENCE"
Bug description: In my understanding FENCE is supposed to act as a NOP for cv32e40p. If this is so, then like a NOP instruction I would expect it to increment the PC and leave everything else unchanged. I'm able to prove that current and next-PC both remain stable on an issued FENCE.

No traces to show but a proof exists showing the above.

Although I can prove other useful artefacts as well but t

[2020-10-19 12:25] Silabs-ArjanB commented on #553
Hi, can somebody just simulate that instruction. I am quite sure you will see that the pc increments; maybe the issue is that the increment comes a couple of cycles after the assertion expects it.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Dr Ashish Darbari <notifications@github.com>
Sent: Monday, October 19, 2020 1:58:51 PM
To: openhwgroup/cv32e40p <cv32e40

[2020-10-19 13:05] eroom1966 commented on #549
Update, reproduced the issue and investigating ....

[2020-10-19 13:06] darbaria opened #554 "Deadlock: ctrl_fsm_cs stuck in DECODE in presence of conditional and unconditional branches"
Bug description:

This is simply to track this issue. Details have been provided seperately.

Found by: formalISA
Assertion failure

ctrl_fsm_cs can get stuck in DECODE. An external interrupt can not get it out. This only happens when the CPU decodes a sequence of conditional and unconditional branches.  On masking the decode of these branch instructions, we see no failures in a 72-hour formal run

[2020-10-19 13:30] MikeOpenHWGroup commented on #553
@darbaria, @Silabs-ArjanB, we definitately have NOPs and FENCEs running in simulation.  If the PC did not increment then the simulation would hang.   AFAIK, the FENCE and NOP instructions should also increment mcycle and minstret counters (if enabled).  By coincidence I am looking at the functional coverage for FENCE at the moment and I see that we do not enable either mcycle or minstret counters

[2020-10-19 13:43] darbaria commented on #553
@MikeOpenHWGroup I don't see a wave.

[2020-10-19 17:21] MikeOpenHWGroup commented on #537
How big of an impact would this be @davideschiavone?  Currently, neither the core or UVM testbenches drive/sink the APU interface, so the impact to verification would be hours, not days.

[2020-10-19 20:51] MikeOpenHWGroup commented on #553
@darbaria, @Silabs-ArjanB, even compressed the waves are PDB, so I will email both the waves and the test-program that illustrates that both fence and nop advance the PC.

[2020-10-20 10:20] eroom1966 commented on #549
Hi All
having made a change to the RM in order to ensure correct handling of dret in Machine mode during single step, we see unexpected behavior earlier in the execution, here is an email I sent to @silabs-oysteink earlier which we discussed

What we cannot understand is why the behavior of executed dret in Machine mode is different in the RTL in the two cases.

[2020-10-20 11:11] davideschiavone commented on #537
Hi @MikeOpenHWGroup , yes but we did not want to change the core interface if not needed. Of course you drive the core verification effort, so if @Silabs-ArjanB agrees, I can remove these signals.

[2020-10-20 12:22] davideschiavone commented on #551
Hello @darbaria ,

I think there is a mistake somewhere in the setup.

I tried to execute

srli x0,x0,0x1F

that would be:

**01f05013**

0000000 11111 00000 101 00000 0010011

and it works. Then I executed

**03f05013**

000000**1** 11111 00000 101 00000 0010011

As you see, the bit25 is now 1, which would be your immediate[5].

The core traps in the illegal instruction. Attached the screenshot o

[2020-10-20 13:18] davideschiavone commented on #552
Hello @darbaria ,

I see the core receives from the I-memory

D3FFF117

which is

auipc	sp,0xd3fff

Then receives 00080008

which is considered compressed but illegal. So the core does not execute any ADDI.

The Compressed decoder tells the ID stage that we have fetched

00010513 (uncompressed version of the illegal instruction, it has no meaning anyway)

which looks like ADDI x10, x2, 0

but in r

[2020-10-20 14:21] darbaria commented on #551
@davideschiavone just to be clear, when we decode a legal SLLI/SRLI/SRAI by construction the opcode will ensure that imm[5] i.e., instr[25] cannot be 1. This is the reason my assert fails vacuity as both conditions cannot be met.

I read the line in the RISC-V ISA spec " For RV32I, SLLI, SRLI, and SRAI generate an illegal instruction exception if imm[5] != 0"  to mean that when we are decoding one

[2020-10-20 14:26] darbaria commented on #552
@davideschiavone thank you for your explanation. It matches with mine too, but if you recall the aysmmetry discussion here it has become apparent. So for ADDI we can see a correct failure (not an RTL bug) because the assertion's antecdent doesn't capture the condition that the decoded instruction is not illegal. However, for many other cases, I don't need this side condition and the formal tools a

[2020-10-20 20:53] darbaria commented on #553
I have a proof about FENCE incrementing the PC. Although what I noticed earlier is also valid the PC increments as well. Following properties are all invariants on the design.
[code]

[2020-10-20 20:53] #553 closed

[2020-10-21 06:54] davideschiavone commented on #551
Hello @darbaria ,

indeed I am injcting in the assembly an hexadecimal value (by passing the compiler), not the instruction per se, otherwise I could not exercise the illegal instruction.

In the example before I executed:

0x03F05013

which is

000000**1** 11111 00000 101 00000 0010011

**the bit 25 is 1**

and the OPCODE is the OP-IMM, the funct3 101 is the SRLI

page 130: https://github.com/ris

[2020-10-21 06:59] davideschiavone commented on #552
The design in this case is not treating an ADDI differently. It's an internal condition that you see but the core has not fetched an ADDI, so we cannot say it is executing it.

From outside, the core fetched

0xD3FFF117

and then

0x00080008

The fact that the IF stage gives to the ID stage

0xD3FFF117

and then

0x00010513

it's an internal behaviour that is not enough to be judged. As indeed the

[2020-10-21 07:01] davideschiavone commented on #554
Hello @darbaria , can you send me (here or by email) the VCD file?

[2020-10-21 07:03] davideschiavone commented on #364
Can we close this issue?

[2020-10-21 13:21] eroom1966 commented on #549
update
it would appear that the problem we are seeing is possibly due to the setting of the haltreq signal too early at the ISS
@silabs-oysteink and myself are still investigating.

[2020-10-21 13:51] MikeOpenHWGroup commented on #364
From my perspective, yes we can close this issue.

[2020-10-21 18:40] darbaria commented on #552
After the 1:1 with Davide, it is agreed that for ADDI to work correctly on this core, we need to guard against the shadow illegal instructions. This asymmetry is due to power-related design optimizations that affect ADDI, SRLI, SRAL and SRLI apart from CSR instructions. Other user-instructions are not impacted by this. They work correctly without needing the guard on illegals.

[2020-10-21 18:40] #552 closed

[2020-10-21 18:42] darbaria commented on #551
As per the 1:1 chat with @davideschiavone  it is agreed that this issue is an ISA bug in the RISC-V v 2.2. We cannot build a RISC-V machine that can decode these shift instructions as well as raise exception for imm[5]. Interestingly, in the ratified ISA specification this requirement has been dropped off.

[2020-10-21 18:42] #551 closed

[2020-10-22 06:26] Silabs-ArjanB commented on #550
Hi Ashish,

In the stated waveform there is no a single CSR instruction that uses an address in the 'h7B0:'h7BF range. The assertion must be combining signals from different pipeline stages resulting in a false positive. The `CORE.csr_addr signal is a signal that is valid in the EX stage and it can toggle also when there is no CSR instruction (which in itself is not nice but that is a different to

[2020-10-22 06:43] Silabs-ArjanB commented on #554
Hi @darbaria Thank you for the report. This seems to be a false positive (i.e. issue with the assertions itself). The provided case is simply a 'jump to itself without having first locally/globally enabled interrupts'. In that case you indeed need a reset or a debug request to get in a different ctrl_fsm_cs state, which is perfectly fine (the core is executing the 'while(1) loop' as it should.

[2020-10-22 07:01] davideschiavone commented on #552
Hi @darbaria , I would write like this (or at least I understood like this).
The ADDI works on this core anyway. To formally prove this, we need to guard against the shadow illegal instruction.
This is due to the fact that the compressed decoder can emit this kind of instructions (ADDI, SRLI, SRAL SRLI) together with the illegal pin, which makes them to be threated like a _don't care_

[2020-10-22 07:44] Silabs-ArjanB commented on #537
Hi @davideschiavone I am okay with it if also https://github.com/openhwgroup/core-v-docs/issues/48 and the discussion in https://github.com/openhwgroup/cv32e40p/commit/61ef7f29948959e94331aabb02591a98de4a80b5#commitcomment-42890979 get resolved.

[2020-10-22 16:30] darbaria commented on #554
@Silabs-ArjanB in the VCD I provided, both debug and interrupts are enabled. I can see that interrupt can wake up the core if it was executing OPCODE_SYSTEM. So, they're not blocked in formal. The reason the core doesn't exit the conditionals is because there is nothing in the design to pick up the gloabl interrupt to cause the loop to be broken. I would not raise this as an issue if irq_i and deb

[2020-10-22 16:34] darbaria commented on #552
@davideschiavone the only point I would like to add is that it is not formal for which we need this. In fact, you would need this in a simulation TB too. This is just what you want to control and observe. If I choose to add this guard for all instructions which I bet simulation would have done, you will never see this artefact at all. When we play with coverage in formal context, we can uncover th

[2020-10-22 18:11] GTumbush commented on #329
Hello, due to network restrictions at EM I'm still not able to clone and run core-v-verif. If test cv32-riscv-compliance-tests passes this issue can be closed.

[2020-10-22 19:32] Silabs-ArjanB commented on #554
Hi @darbaria In the provided VCD interrupts are generated at irq_i, but that does not mean that interrupts are locally/globally enabled inside the core. They are not and therefore it does not matter that irq_i is toggling. Other cores might implement non-maskable interrupt functionality which would behave differently. In the provided waveform debug_req_i is always low. If you can provide a wavefor

[2020-10-22 19:38] MikeOpenHWGroup commented on #329
I can confirm that the compliance regressions have been passing for some time.

[2020-10-22 19:40] darbaria commented on #554
Hi @Silabs-ArjanB which registers would you need to set to see the irq locally enabled? If you give me an example of what you'd expect to see from a register state point of view to see these unmasked, I can look at it.  As for debug, it is not that they're disabled, but formal tool hasn't been able to find a way to power it to 1 to get the core to come out of DECODE. I have a requirement that debu

[2020-10-23 06:06] Silabs-ArjanB commented on #329
Unfortunately the compliance test is still failing as it has been for a very long time. I again made an issue for it in core-v-verif, https://github.com/openhwgroup/core-v-verif/issues/302

I am closing this specific issue here now as it then becomes a duplicate. (For what  it is worth; the test fails after the I_FENCE.I_01 part). I agree that the 'compliance test' is not such a great test, but it

[2020-10-23 06:07] Silabs-ArjanB commented on #329
Closing this one and further tracking potential issue via https://github.com/openhwgroup/core-v-verif/issues/302

[2020-10-23 06:07] #329 closed

[2020-10-23 06:21] Silabs-ArjanB commented on #554
Hi @darbaria local enabling of interrupts is done via the 'mip' CSR. Global enabling of interrupts is done via the 'mie' bitfield in the 'mstatus' CSR. With respect to debug: It is hard to believe the core will not come out of DECODE when it is not in debug mode already (!debug_mode_q) and debug_req_i is set to 1 for at least one cycle. I can only look at that further if there is actually a trace

[2020-10-27 06:50] davideschiavone commented on #537
A PR related to the RTL is here #558
Whereas the one related to documentation is here: https://github.com/openhwgroup/core-v-docs/pull/233

[2020-10-27 14:57] Silabs-ArjanB commented on #550
Hi @darbaria I am putting this issue as resolved because the supplied waveform does not show the suspected bug you are mentioning. Also the RTL actually has code to raise an exception for machine mode  access to specific debug registers (but your waveform does not hit that RTL code). Can you please close this issue or provide a waveform that matches the title of this issue?

[2020-10-27 14:59] Silabs-ArjanB commented on #554
Putting this issue as resolved as interrupts were clearly not locally/globally enabled in the provided waveform and no waveform has been provided showing being stuck in DECODE with debug_req_i = 1.

[2020-10-28 07:11] davideschiavone commented on #537
#558 has been merged. Closing this issue

[2020-10-28 07:11] #537 closed

[2020-10-28 07:17] davideschiavone commented on #363
Hi @Silabs-ArjanB , according to the documentation, this instruction has a single operand.
pv.cplxconj rD, rs1

Indeed it performs the complex conjugate.

That's why it does not use the regb, thus the x12 register. The tracer should not show the rB.
I will fix this issue by fixing the tracer.

[2020-10-28 07:36] davideschiavone commented on #363
I fixed this and now I have:

 _1915ns             187 000001ca fffe3637 c.lui            x12, 0xfffe3000     x12=fffe3000
 1925ns             188 000001cc 5cc60657 pv.cplxconj.h    x12, x12            x12=00023000 x12:fffe3000_

Just modified the instruction to use the .h instead of .b as it become an illegal condition, and to use the x12 as regA to show that register bypass works.

Quick questio

[2020-10-28 08:38] davideschiavone commented on #280
#536  has been merged. Closing this issue

[2020-10-28 08:38] #280 closed

[2020-10-28 09:47] Silabs-ArjanB commented on #496
Re-opening and closing because somehow github is reporting this issue as still open

[2020-10-28 09:47] #496 closed

[2020-10-28 09:50] Silabs-ArjanB commented on #548
Hi @eroom1966 @strichmo Is this issue still being looked at or has it been solved?

[2020-10-28 09:50] Silabs-ArjanB commented on #549
Hi @eroom1966 @strichmo Is this issue still being looked at or has it been solved?

[2020-10-28 09:51] Silabs-ArjanB commented on #510
Hi @MikeOpenHWGroup Is there still an issue here or has this been resolved by now?

[2020-10-28 09:54] Silabs-ArjanB commented on #364
Closing due to inactivity and under the assumption that the RISC-V Compliance Tests are made to work in the core-v-verif repos (where it is being tracked by e.g. https://github.com/openhwgroup/core-v-verif/issues/302, https://github.com/openhwgroup/core-v-verif/issues/308)

[2020-10-28 09:54] #364 closed

[2020-10-28 10:01] Silabs-ArjanB commented on #308
Hi @mmatzev Of the three issues you report the first one you state is self-made, the second one relates to the fpnew repos (so not to the cv32e40p repos), and the third one should already have been fixed.

Can this issue be closed here (if needed you can file a separate issue in https://github.com/pulp-platform/fpnew of course)?

We will not clone the fpnew repos into the cv32e40p repos. In fact w

[2020-10-28 10:05] Silabs-ArjanB commented on #217
Done

[2020-10-28 10:05] #217 closed

[2020-10-28 10:09] Silabs-ArjanB commented on #112
Hi @shjdzc12 We are closing this issue as it either has been fixed with the stated (merged) pull request, because it is no longer valid, or because a follow up question for further clarification or feedback remained unanswered for at least 7 days. Please do not hesitate to re-open this issue if you do not agree that the issue has been handled satisfactorily or if you have further questions.  Thank

[2020-10-28 10:09] #112 closed

[2020-10-28 12:41] MikeOpenHWGroup commented on #510
Yes, it has been resolved - toolchain issue.  Should have closed this a week ago.  Closing now.

[2020-10-28 12:41] #510 closed

[2020-10-28 12:44] eroom1966 commented on #548
still open, I have not had time to investigate a good way to schedule the haltreq signal, I will get some time today to re-investigate

[2020-10-28 16:33] #363 closed

[2020-10-28 17:00] darbaria commented on #550
@Silabs-ArjanB your previous point was that the CSR address was not correctly read from the pipelined stages. I consulted on this with @davideschiavone  and as per his suggestion made an amendment to the assert which again failed. I had sent an email to him on 22nd but I have not heard from him. Although my assertion does not explicitly checks for exception, I expect to see the illegal_insn go hig

[2020-10-30 13:36] tzwaenn opened #562 "ebreak instruction executed during mulh in debug mode creates PC confusion"
### Component

**Component:RTL**: For issues in the RTL (e.g. for files in the rtl directory)

### Steps to Reproduce
You see the FSM acting on the ebreak while the mulh is running - and the PC after the mulh is the one of the mulh (in my earlier email, I though our check was failing because the PC gets incremented by 8 - on a closer look, it seems not be incremented at all which indeed would be a

[2020-10-30 15:03] Silabs-ArjanB commented on #562
The PC after the ebreak execution is (also) equal to the dm_halt_addr_i input, which happens to be equal to the PC of the mulh instruction. Paul, can you please judge if this is an actual RTL issue or not (for now I classified it as such, but I actually do not see an ISA violation yet)?

[2020-10-30 15:14] tzwaenn commented on #562
Hi Arjan,

Good point – I was not looking for “external” reasons when my next PC check was off by 4 – but as mulh is the first instruction in debug mode, it was fetched from the entry address, and an additional ebreak in debug mode is supposed to go back to that address. So I guess executing this instruction while the mulh is ongoing is not doing any harm after all although it seemed strange that

[2020-10-30 15:19] Silabs-ArjanB commented on #562
Hi @tzwaenn If you now think that this is actually an error or oversight in the used assertion, please let us know and I will change the issue type to 'component:verif' instead of 'component:rtl' to indicate that this is not an actual RTL bug (and we will save Paul some time from diving into this)

[2020-10-30 15:21] darbaria commented on #554
@Silabs-ArjanB I reviewed the settings for irq and debug. I also looked at local/global enabling of irqs. Interrupts seem to be firing up. The lockup is not because of them. You're right in stating that if the machine is in debug mode and there is a sequence of infinite JAL or the family of branch instructions, the ctrl_fsm_cs will be stuck in DECODE. I temporarily assumed that we cannot have a se

[2020-10-30 15:24] tzwaenn commented on #562
Right, I will exclude this special case for now until we actually model in our verification environment that an ebreak gets executed while a mulh is still running.

[2020-10-30 15:58] Silabs-ArjanB commented on #554
Hi @darbaria ecall is specifically listed as an instruction with undefined behavior when executed in debug mode (and I am not surprised if you do an infinite sequence of them that you stay in debug mode, but as said the behavior is specifically stated as 'undefined' in the official debug spec).

With respect to you other question: The core simply leaves the DECODE state to handle specific instruct

[2020-10-30 16:10] darbaria commented on #554
@Silabs-ArjanB the core is not stuck in DECODE state when executing other instructions (e.g., ADD or others).  The whole point of my questions is why?  For last many week this is what I have been saying. Checking the behaviour of core when triggering interrupts and debug is a separate verification question, but checking that it doesn't lock up is another. For this thread, I'm only looking at answe

[2020-10-30 16:12] Silabs-ArjanB commented on #554
Simple answer: If you execute certain instructions (e.g. WFI) you will exit DECODE.

[2020-10-30 16:30] darbaria commented on #554
That is now what I see. When conditionals are disabled and other instructions get injected I don't see a failure for the assertion. Anyways, as this is not an issue for you, let's leave it at that. For me, this remains an open question!

[2020-10-30 16:30] #554 closed

[2020-11-02 07:21] Silabs-ArjanB commented on #562
Hi @tzwaenn I change the type of this issue to indicate that it is an assertion issue as opposed to an RTL issue. Please let us know once it has been resolved.

[2020-11-02 10:58] Silabs-ArjanB opened #563 "CV32E40P does not signal signal 'halted', 'running', 'havereset' to the Debug Module"
The interface between the PULP Debug Module (https://github.com/pulp-platform/riscv-dbg) and the CV32E40P is not as it should be. In short the CV32E40P does not have a proper way to signal 'halted', 'running', 'havereset' to the Debug Module as is required from the Debug spec:

![image](https://user-images.githubusercontent.com/40633348/97860457-754c3200-1d02-11eb-89d7-0d15226938bb.png)

In the cu

[2020-11-02 13:29] MikeOpenHWGroup commented on #563
Excellent catch @Silabs-ArjanB.  While this will have a direct impact on the cv32e40p project, it does seem like we should address it now, rather than later.   As far as I am aware, the PULP Debug Module does not accept  'halted', 'running', or 'havereset' inputs from the core, so this may to be addressed as well.

[2020-11-02 13:55] Silabs-ArjanB commented on #563
@MikeOpenHWGroup I think we should at least add the required pins already now and then in parallel open the discussion with the PULP team. If later (after RTL freeze) the interface definition changes slightly we would at least already have the pins. The current debug module can still be used even if it does not use the pins we intend to add (it would simply have the already reported bug).

[2020-11-02 18:21] Silabs-ArjanB commented on #563
Resolved with https://github.com/openhwgroup/cv32e40p/pull/564. @silabs-PaulZ can you please review the PR?

[2020-11-02 18:50] bluewww commented on #563
The debug module interface was afaik chosen like it currently is because it mirrors what the rocket debug module does. I believe we should first try to understand what rocket does and how they don't need these signals

[2020-11-02 20:14] silabs-PaulZ commented on #563
Hi @bluewww ,

The core can get a reset independent of the ndmreset from the debug module. In this case, the PULP debug module will have an incorrect havereset status. The debug module state may also be out of sync with the core sate; The debug module may be in HALTED state while the core is UNAVAILABLE due to reset or came out of reset into RUNNING state.

These new signals allow the core to be c

[2020-11-02 20:40] Silabs-ArjanB commented on #563
Hi @bluewww , here are some parts of the RISC-V Debug spec that show that the Debug Module cannot really predict/know the core's debug status as is currently the assumed in the PULP Debug Module:

![image](https://user-images.githubusercontent.com/40633348/97916743-b1f44980-1d53-11eb-9809-01b92a769c2b.png)

![image](https://user-images.githubusercontent.com/40633348/97916832-d819e980-1d53-11eb-965

[2020-11-02 20:54] bluewww commented on #563
@Silabs-ArjanB Thanks. The second to last sentence looks quite convincing that cores need to report their state directly instead of letting the debug module infer it.

[2020-11-02 20:55] bluewww commented on #563
@silabs-PaulZ
Yeah I guess we didn't encounter the bug yet because only the debug module can reset the cores independently from the system reset.

[2020-11-02 22:22] darbaria opened #565 "CSR MRW registers raise CSR illegal on a read"
@davideschiavone Following on from my email earlier the issue reported is indeed a bug.

RTL: Slightly older from late Sep.
Found by: formalISA and JasperGold

The decoder flags csr_illegal when accessing several CSR RW registers e.g., from the family MRW (that are implemented on CVE4) . This is due to a design issue at line 2623 in the decoder module. The trace I sent was for MISA but other regis

[2020-11-02 22:36] MikeOpenHWGroup commented on #565
Thanks for this bug report @darbaria.   I hate to be a pain, but the reference to the RTL is not terribly useful:

Please provide the git hash for your clone.  To get that, set your cwd to somewhere (anywhere) in the cloned repo and type:
[code]
The seven digit number is what we need.

[2020-11-02 22:38] darbaria commented on #565
@MikeOpenHWGroup it is d0ad787

[2020-11-02 22:42] darbaria commented on #565
@MikeOpenHWGroup I didn't clone it, I downloaded the master as a zip. It is from 25 Sep. However, the latest RTL I see also has the same code at line 2356.

[2020-11-03 12:59] MikeOpenHWGroup commented on #270
The `core` testbench and `uvmt_cv32` verification environment in [core-v-verif](https://github.com/openhwgroup/core-v-verif) both use the **_cv32e40p_manifest.flist_** to compile the core, but the Makefilel in the example_tb does not.

[2020-11-03 13:20] MikeOpenHWGroup commented on #247
There hasn't been any new discussion on MM on this topic since 2020-06-16 and I think this issue can be quickly resolved by updating the Makefile in example_tb to use the cv32e40p_manifest.flist.

[2020-11-03 15:03] #563 closed

[2020-11-03 16:51] darbaria commented on #565
Just capturing the key points discussed in the meeting. The specification mentioned on Page 131 of the unprivileged spec does not talk about the case when 13:12==2'b00 so the designer has decided to flag this case by using the default branch. There is nothing in sepc to suggest we should be flagging this as illegal. If we are flagging this as illegal, then we shouldn't be setting the is_decoding_o

[2020-11-03 17:12] darbaria commented on #550
@MikeOpenHWGroup although this ticket was tagged resolved earlier, from my point it is only resolved now, I have updated today's email discussion here, as @davideschiavone believes there may be another related RTL issue. So, at this point I'm not certain what I had originally written was certainly an assertion issue, but I've found another way to model the assert that does establish what I was aft

[2020-11-03 17:24] Silabs-ArjanB commented on #550
Hi @darbaria If I understand correctly you now also consider this issue resolved (if so, can you please close it?). I understand that as a result of your and Davide's investigation a power inefficiency (but not functional error as far as I understand the above) was spotted; it would be best if you or @davideschiavone files a separate issue for that.

[2020-11-03 17:32] Silabs-ArjanB commented on #565
@davideschiavone With respect to above remark "If we are flagging this as illegal, then we shouldn't be setting the is_decoding_o and id_valid_o signals high in the cycle where a CSR read is requested, as this means that a valid csr_op is occuring " do you see a functional RTL issue here? For non-CSR instructions (I believe) we do not suppress is_decoding or id_valid when the instruction is invali

[2020-11-04 10:53] davideschiavone commented on #565
Summarizing a bit what is going on by email, meeting and GitHub issues:

** CSR machine mode debug check **

This issue is not complete. The formal check has been rewritten but not completly and it is different than the original question.

** Signaling illegal instructions if CSR operation has as funct3 field bit 13:12 = 2'b00 **

According to the designers, this is ok to be treaten like an illega

[2020-11-04 10:53] #565 closed

[2020-11-04 11:01] davideschiavone opened #566 "Power optimization on CSR operations in a shadow of a TAKEN branch"
When a branch is taken and a CSR operation is in the ID stage, the csr_access_ex_o flip flop gets updated to 1 as it is not gated by the deassert signal:

https://github.com/openhwgroup/cv32e40p/blob/master/rtl/cv32e40p_id_stage.sv#L1573

Even if this does not happen in any functional bug, it wastes dynamic power as it changes the csr_address in the CSR register file and the multiplexer in the Ex

[2020-11-04 12:37] darbaria commented on #565
@davideschiavone

As regards #565

Why has this issue been closed?

Why is the RTL tagging a valid instruction as illegal? If the condition for classifying the CSR instruction as valid is not that is_decoding_o has to be high then what is this condition? If the instruction is correctly being decoded as illegal then I need to know why is_decoding_o is high and if it is meant to be high then where i

[2020-11-04 12:40] darbaria commented on #550
As @davideschiavone believes the assertion that we have written is not testing this behaviour I would like to repoen this issue to address this. @davideschiavone please let me know what you find as incomplete about the assertion I sent in the email yesterday, and let me know what test you'd like to write. The original assertion I wrote which you provided more terms to add isn't the right one eithe

[2020-11-05 07:21] Silabs-ArjanB commented on #565
The stated instruction is not defined and as such it is allowed (but not mandated) by the RISC-V spec to be treated as an illegal isntruction:

![image](https://user-images.githubusercontent.com/40633348/98209776-d1e86080-1f3f-11eb-8d22-497b5bb385c2.png)

[2020-11-05 07:45] darbaria commented on #565
Arjan thanks for adding some insight on this.

Why is the design tagging these as valid in the same way as the rest of the decoder i.e., is_decoding_o and id_valid both high?

Honestly, I could not get much sleep last night thinking about this. Why can’t the design tag this case as invalid? If there is a good reason for this I would like to know.

BTW I can confirm that the writes in this special

[2020-11-05 07:58] Silabs-ArjanB commented on #565
The id_valid signal just means there is valid info in a stage available for the next pipe stage; it simply does not imply anything about whether an instruction is invalid or not. It is not meant to be the inverse of the invalid signal

[2020-11-05 08:23] silabs-oysteink opened #568 "Step and compare fails if debug_req_i is asserted at the same time as a trigger match"
## Bug Title
Step and compare fails if debug_req_i is asserted at the same time as a trigger match

### Component
**Component:Verif**

### Steps to Reproduce
1. Clone https://github.com/silabs-oysteink/core-v-verif
2. Check out the branch silabs-oysteink_debug-cov-update
3. make  test TEST=debug_test USE_ISS=YES

Note that my fork of core-v-verif currently points to my fork of the cv32e40p repo as

[2020-11-05 08:27] silabs-oysteink commented on #568
Filed in the wrong project, closing and re-opening in core-v-verif.

[2020-11-05 08:27] #568 closed

[2020-11-06 10:20] davideschiavone commented on #550
Dear @darbaria , in our last meeting, you replaced this condition

as_ISA_CSR_MACHINE_MODE_DBG_ACCESS_EXCEPTION:

      (is_a_csr_rsi ||

       is_a_csr_rs  ||

       is_a_csr_rc  ||

       is_a_csr_rci ||

       is_a_csr_rw  ||

       is_a_csr_rwi) && valid_instruction && !axiomise_illegal_instr && `CORE.csr_addr_int[9:8]==2'b11 && `CORE.csr_addr_int inside {['h7B0:'h7BF]}

        |->

[2020-11-06 11:00] darbaria commented on #550
Hi @davideschiavone number of points:

It is quite clear that you and @Silabs-ArjanB are not aligned on this one. I attach text from Arjan's email on 2 Oct here stating clearly that my original coding and the one you are suggesting are not correct. It is quite clear to me that the specification is pretty ambiguous on this one and that is one reason why the three of us cannot agree completely (thou

[2020-11-07 10:25] bluewww opened #571 "Single stepping through hwloop does not work"
Single stepping through hardware loops doesn't work.

### Steps to Reproduce
1. git hash 6c858bca4559da3b191007ce2f1debeadbeb635e (master)

Unfortunately, I don't have a minimized reproducible example at hand, but it was reported to me that single stepping via openocd through hwloops doesn't work.

 Also, back then when I implemented the states for riscv debug module support, I didn't invest any r

[2020-11-10 00:21] MikeOpenHWGroup opened #572 "Possible lint issue in latest RTL (6c858bc)"
With the updated update to the RTL (hash 6c858bc), Metrics **dsim 20200720.14.0** complains about the following three lint issues:
[code]
The first two have been discussed previously.  I cannot convince myself that the third is valid, but thought I should bring it to your attention in any case.

[2020-11-10 07:25] Silabs-ArjanB commented on #572
That looks like a dsim issue to me. The stated signals will not be latches.

[2020-11-10 10:28] Silabs-ArjanB commented on #296
Not documented, but too late by now.

[2020-11-10 10:28] #296 closed

[2020-11-10 12:38] MikeOpenHWGroup commented on #572
I thought so as well @Silabs-ArjanB, but felt it was worth a quick review.  Thanks.

[2020-11-10 12:38] #572 closed

[2020-11-10 16:12] davideschiavone opened #574 "Unused FPREC CSR"
The FPREC CSR mapped at 0x807 is never used

[2020-11-10 16:49] #574 closed

[2020-11-11 17:35] MikeOpenHWGroup commented on #562
Hi @tzwaenn, can you have a look at this one?

[2020-11-12 07:42] #562 closed

[2020-11-12 07:43] tzwaenn commented on #562
This is worked around in our environment. A clean verification of the ebreak here overtahing the mulh is a separate matter.

[2020-11-17 13:29] MikeOpenHWGroup commented on #270
Hi @Silabs-ArjanB, @davideschiavone, I have removed the `Type:Enhancement` label as I am unconfortable waiving this issue for RTL freeze.  There is a chance, however slight, that users of the example_tb in this repository will be compiling/simulating a different version of the cv32e40p than does the uvm testbench in core-v-verif.

The last comment on the MatterMost channel discussion topic indicat

[2020-11-17 13:41] Silabs-ArjanB commented on #270
Hi @MikeOpenHWGroup Where can I find documentation on the format used in ".flist"? The format/methodology agreed upon was FuseSoc (which does not imply .flist as far as I know, but please correct me if I am wrong) and unfortunately support for that did not materialize. Doing FuseSoc related changes is out of scope for RTL freeze as far as I am concerned.

[2020-11-17 13:51] MikeOpenHWGroup commented on #270
The "flist" format is a quasi-standard file format supported by all SV simulators (although I do not know if that includes Verilator).  So, for example, `xrun -f manifest_file` compiles all source files listed in the file.  This is essentially what we should see in the Makefile.

I am in favor of adopting FuseSoC for OpenHW projects, but that did not happen for cv32e40p (yet).  It is under conside

[2020-11-17 14:45] davideschiavone commented on #189
Dear @jm4rtin and @haugoug ,

shall we make the CSR of the HWLoop READ ONLY?

There is no meaning to me that SW writes them explicitly. It should be allowed only via hwloop instructions in my opinion.

If you guys agree I make the RTL change.

[2020-11-17 14:57] eflamand commented on #189
Loop related registers can always be manipulated by lp.xyz instructions:

lp.count level, iter_reg
                        lp.start level, start_label
                        lp.end level, end_label

On Tue, Nov 17, 2020 at 3:46 PM Pasquale Davide Schiavone <
notifications@github.com> wrote:

[2020-11-17 14:59] eflamand commented on #189
Sorry, was sent before being finished :(

Loop related registers can always be manipulated by lp.xyz instructions:
most general form

                        lp.count level, iter_reg
                        lp.start level, start_label
                        lp.end level, end_label

So it is safe to make related CSR read only, imo

Best
Eric

On Tue, Nov 17, 2020 at 3:57 PM Eric Flamand <
eric.fla

[2020-11-17 15:00] davideschiavone commented on #189
Agree with you @eflamand !

[2020-11-17 15:14] gautschimi commented on #189
I don't agree.
if an interrupt arrives during a hardware loop, you need to store those registers. and when you return to the code you need to restore them. you could argue that it is not necessary to safe and restore the registers because hardware loops are not used in interrupt routines. (which I would also not agree on)
but if you want to reschedule an interrupted thread on a different core, you

[2020-11-17 15:53] davideschiavone commented on #189
Very good point @gautschimi - here the discussion can extend further as if we have an operating system that schedule 2 threads, both using HW loops, then the HWLoop should be part of the contex switch as well.
@eflamand was not saying you cannot write to them, but that you can can write to them with lp instructions. Writing explicitly to those CSRs is not equivalent from an RTL point of view

[2020-11-17 16:11] davideschiavone commented on #189
Actually I was too quick too, there is no lp.start and lp.end instruction with the register as source.
Shall we define them?
I see funct3 has 110 and 111 free

https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html#id3

@eflamand

[2020-11-17 16:18] gautschimi commented on #189
ok if you can restore the hwloop context with lp.start/end/count instructions it is ok.
I don't remember what the arguments of those instructions are. if it is a register good, if it's an immediate, its not sufficient to restore the values.

[2020-11-17 16:20] davideschiavone commented on #189
Pinging to the discussion @jeremybennett as well as he is working on the compiler side

[2020-11-17 16:50] eflamand commented on #189
Unfortunately only loop count reg can be loaded from a register:   lp.count
L,bitrS1 lpcount[L] = rS1

Loop start and stop are loaded through pc + an imm value, no way to use it
to reload them unless you know distance from restore point to actual hw
loop which is a bit of stretch :)

Eric

On Tue, Nov 17, 2020 at 5:20 PM Pasquale Davide Schiavone <
notifications@github.com> wrote:

[2020-11-17 16:56] davideschiavone commented on #189
Hi @eflamand , yes that's why I proposed to you, @jeremybennett , and @jm4rtin to add the register version of lp.start and lp.end. funct3 has 2 places free :)

[2020-11-18 10:57] davideschiavone commented on #65
Closing this issue as it belongs to the old FPU - deprecated

[2020-11-18 10:57] #65 closed

[2020-11-18 11:02] #83 closed

[2020-11-18 11:02] OttG commented on #83
Solved

[2020-11-18 11:09] stmach commented on #48
Deprecated bug in the ALU, resolved by using new FPU.

[2020-11-18 11:09] #48 closed

[2020-11-18 16:16] davideschiavone opened #583 "HWLoop minimum size 3 illegal exception"
As the HWloop body must be at least 3 instructions, the core should raise an illegal exception when this is not respected

In addition, as the lp.starti and lp.endi instruction use the immediate by aligned implicitly (<<1) as specified here

https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/instruction_set_extensions.html#operations

we should change their definition by

[2020-11-18 16:25] davideschiavone opened #584 "ISA Change Spec for HWLoop"
There are three requests for changing the HWLoop ISA spec

1. #189 Removing the possibility to write to HWLoop CSRs with CSR instructions, and only using HWLoop instructions.
This requires to add two instructions lp.start and lp.end that use a register as source instead of an immediate.

2. #583 Forcing the word-alignment of HWLoop by shifting by 2 instead of by 1 the immediate value in the lp.sta

[2020-11-18 16:33] jeremybennett commented on #189
The compiler would only ever generate loops using CSRs directly if that led to better code (size of speed). Is there any circumstance where this is the case.

The CORE-V GCC is a work in progress (this is the rewrite for modern GCC). At present hardware loop is only used to optimize block moves. In principle you can generate hardware loop for other loops, but that is not there yet (known hard part

[2020-11-18 16:44] jeremybennett commented on #584
These have impacts on the compiler team - the current spec is already in [core-v-binutils-gdb](https://github.com/openhwgroup/corev-binutils-gdb). We need a process to manage ISA changes that break software. In this case the alignment and change of shift mean the assembler is now broken.

[2020-11-18 16:57] davideschiavone commented on #584
What do you @jeremybennett suggest to do in this case?

[2020-11-18 17:07] davideschiavone commented on #189
Hi @jeremybennett - I personally prefer only lp.start or lp.end instructions . But this does not matter too much. I would just remove redundancies.

Davide

[2020-11-18 17:11] jm4rtin commented on #189
Is there a reason the hardware loop can't be saved and restored as part of the context through a CSR read/write as long as it is not mixed with the HW loop instructions? What makes a CSR write to these registers not equivalent to using the instructions? Is the only difference the timing of the CSR write that creates this hazard?

Are you opposed to leaving it up to software developers to avoid thi

[2020-11-18 18:31] jeremybennett commented on #584
I suggest there are three things to do.

1. We need a process to make sure software TG signs off on any changes that affect the SW world - something to raise with Duncan Bees

2. ISA changes need to be formally discussed at Cores and SW TG meetings - possibly a combined meeting for efficiency.  There is a versioning mechanism for ISAs, which will need to be used by the software. So instead of `-ma

[2020-11-19 14:48] jeremybennett commented on #189
@davideschiavone @eflamand We are happy to add a register version of these instructions. I'd like @jm4rtin to confirm the encoding - IIRC HW loop uses CUSTOM-3, so can keep the existing encoding.

We should ask @jessicamills (GNU Tools Project Lead), @ASintzoff (LLVM Project Lead) to comment. It might be useful to get opinion from @flip1995, since has has just completed implementation of HW Loop i

[2020-11-19 15:26] flip1995 commented on #189
For the current state of the LLVM implementation, only a few lines (+tests) would have to be added for those two new instructions.

[2020-11-19 15:51] jessicamills commented on #189
For the GNU Tools project this is fine and easily implemented in binutils-gdb. GCC is a work in progress, however, we can incorporate these changes into the work. We are happy to add the two new instructions upon confirmation and with further encoding details.

[2020-11-19 16:06] davideschiavone commented on #189
So I would like to have a meeting with @jm4rtin and @mp-17 (he designed most of the today HWLoop HW together with me) for a technical HW discussion and then give you feedbacks on new encoding.

[2020-11-19 16:13] jm4rtin commented on #584
Yes, creating a process to change the ISA for the CORE-V extension is a good idea; however, I'm not aware of a ratified, finalized, set in stone specification for the ISA. It may be premature to start incrementing an ISA version. There is the description of the instructions in core-v-docs that doesn't agree with the RTL design and neither that documentation or the RTL agree with the proposed (but

[2020-11-19 16:13] davideschiavone commented on #189
Hi @jm4rtin

No. Indeed this can be done.

What makes a CSR write to these registers not equivalent to using the instructions? Is the only difference the timing of the CSR write that creates this hazard?

They are not equivalent from an RTL point of view. Thus, it's safer to remove such differences.

In PULP we do not usually write those registers except in save context parts. This code should be

[2020-11-19 16:43] jeremybennett commented on #584
@jm4rtin Yes my point was really about process. For now everything is in development (on the `development` branch in the `corev-binutils-gdb` repo).

We are working from the `core-v-docs` specification. We have some edits which should land as a pull-request tomorrow to clarify some details from the assembler perspective. For now we are using the existing PULP encodings, but are set up to change fo

[2020-11-19 16:43] mp-17 commented on #189
Hello everyone,

We have two problems here:

1. The redundancy of writing those registers with _hw-loop instructions_ and _csr writes_
2. These two methods write the CSR in two different pipe-stages

We can force both the instructions to write the CSR in the same pipeline stage, but we would keep the redundancy. Why can't we remove the lp. instructions and keep only the _csr_writes_ to deal with t

[2020-11-19 16:46] jm4rtin commented on #584
@jeremybennett At what point would the ISA need to be frozen to make it into binutils/GCC? From my understanding it must be merged in with the new instruction encoding.

[2020-11-19 16:49] jeremybennett commented on #584
There is no rush. We've missed Stage 3 for GCC 11, so we have a year. The delay is not due to ISA freeze, the issue of vendor specific relocations needs to be solved by RISC-V International first.

The `-march` options for GCC and LLVM have versioning, so it is possible to support multiple versions of ISAs, but it would be much cleaner to have something stable first time round.

[2020-11-19 17:39] davideschiavone commented on #189
Another point, the bug related to this issue is not present:
[code]

At the end of the simulation a4 and a5 have the same value.

So we are using this issue to discuss the realted ISA changes...

[2020-11-19 18:01] davideschiavone commented on #584
In my opinion, the XPULP ISA should be frozen ASAP as this may gate the TG SW team.
As @jm4rtin said, #452 is still an open issue, and that is the greatest of the issue to be solved. The ones related to the HWLoop are minor changes (not even necessary, just cleaner from both ISA and HW point of view), and fortunatly, we figured out that this is not a major change in the compilers.

However, in the

[2020-11-19 18:24] jeremybennett commented on #584
Stability will help the SW team - it just means we don't end up redoing work. But if the architecture needs to evolve we can handle it. The important thing is to understand the cost of such changes for the software team.

[2020-11-19 18:28] bluewww commented on #584
If I understand it correctly then the only real hard constraint is that after upstreaming to gcc the ABI is frozen.

[2020-11-19 18:58] jeremybennett commented on #584
That is in essence the issue around vendor relocations. The RISC-V PS-ABI defines relocations 192-255 for vendor use. However there is no mechanism for how we avoid clashes between different vendors. This is an engineering issue for the various tool chains, but needs to be solved to allow the PS-ABI to be used in practice.

CORE-V will use the standard RISC-V PS-ABI. We just need to clarify this a

[2020-11-20 07:45] Silabs-ArjanB commented on #462
[hwloop_assertion.vcd.gz](https://github.com/openhwgroup/cv32e40p/files/5571998/hwloop_assertion.vcd.gz)

[2020-11-20 12:38] kangoojim opened #585 "Bug in PMP register region bound checking"
Hi,
I revisited the core since I reported this issue https://github.com/openhwgroup/cv32e40p/issues/392 in the PMP and I found a new bug/incompliance, also in the PMP. I know, it is not part of the current design, but maybe a report is still valuable for future secure versions of the core.

The ISA (Privileged Spec v. 20190608) states (on pages 49 and 50) that the contents of the (32 bit) PMP addr

[2020-11-20 13:18] Silabs-ArjanB commented on #585
Hi @kangoojim , thank you for the detailed bug report. We will certainly address it in a core including PMP.

[2020-11-23 10:24] davideschiavone opened #586 "Update tracer to dump cv. instead of p. or pv. for custom extensions"
The custom extensions are now referred as to "cv." instead of "p." or "pv.".

Thus, the tracer should be aligned to that.

[2020-11-26 13:14] jackieke724 opened #588 "Hello_world simulation stuck at time 0 using Vivado Simulator"
Hello,

For some "`include" problems with Modelsim Starter, I could not get your flow working. Therefore, I decided to deploy a test project in Vivado.

I am trying to have the simple hello world simulation (equivalent to make custom-vsim-run) running with XSim, but the the simulation stucks at 0. I hope you might share some insights about my issue.

Things I have done:
1. included all the rtl and

[2020-11-26 13:51] Silabs-ArjanB commented on #588
Hi @jackieke724 Sounds a bit like a delta cycle issue (caused by somehow combinatorial blocks triggering each other and the simulator not being able to figure out that how to converge); maybe your tool has a feature to debug such issues? I don't know anything about Vivado myself, so I indeed cannot really comment on that or recreate the issue. Maybe an alternative starting point for running simula

[2020-11-26 13:56] davideschiavone commented on #588
Hello, adding to what @Silabs-ArjanB said, maybe not all the features are supported in Vivado (as for example the random interrupt generator or memory stalls etc). Try to remove those from the testbench as well.
I changed the label from BUG to QUESTION as here no BUG is reported (yet)

[2020-11-27 04:36] jackieke724 commented on #588
Hello, thank you all for the inputs. I have tried to exclude the random_interrupt_generate module and the memory_stall modules from my project, using the "`define VERILATOR"  flag. The simulator still hangs at time 0. Are there any other modules/features I can exclude to simplify the testbench?

[2020-11-29 14:02] jackieke724 commented on #588
I just want to leave my solution here in case someone else needs it. After my fix, I am able to simulate both the hello_world and interrupt tests.

The problematic line for me is line 252 `automatic string error_str;` in "mem_ram.sv". Even if I comment out the rest of the code in that begin-end block (i.e. line 254-286), and just leave those instantiations for `automatic` variables there, the simu

[2020-11-29 14:02] #588 closed

[2020-11-30 22:56] MikeOpenHWGroup opened #590 "Design checklist items for Functional RTL Freeze"
@davideschiavone, as part of the sign-off of Functional RTL Freeze for CV32E40P, please complete the following items in the [Design Checklist](https://github.com/MikeOpenHWGroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_marchid4_mimpid0/DesignChecklist.md):

- [x] Create a tag of the RTL
- [x] Sign-off all items in "coding rules"
- [x] Sign-off all items in "design rules"
- [

[2020-11-30 22:57] MikeOpenHWGroup opened #591 "Documentation checklist items for Functional RTL Freeze"
@davideschiavone, as part of the sign-off of Functional RTL Freeze for CV32E40P, please complete the following items in the [Documentation Checklist](https://github.com/MikeOpenHWGroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_marchid4_mimpid0/DocumentationChecklist.md):

- [x] Tagged version of source available in core-v-docs.
- [ ] Update released version the User Manual in

[2020-11-30 23:15] MikeOpenHWGroup opened #592 "Simulation Verification checklist items for Functional RTL Freeze"
@strichmo , as part of the sign-off of Functional RTL Freeze for CV32E40P, please complete the following items in the [Simulation Verification Checklist](https://github.com/openhwgroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/SimulationVerificationChecklist.md):

- [x] Block Code Coverage
- [x] Expression Code Coverage
- [x] Covergroup Coverage
- [x] Cover-property Cov

[2020-12-01 01:47] MikeOpenHWGroup opened #593 "Simulation Verification checklist items for Functional RTL Freeze"
@MikeOpenHWGroup  , as part of the sign-off of Functional RTL Freeze for CV32E40P, please complete the following items in the [Simulation Verification Checklist](https://github.com/MikeOpenHWGroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_marchid4_mimpid0/SimulationVerificationChecklist.md):

- [x] Verification Planning: Testbench Cross-reference
- [x] Ensure all cover-propert

[2020-12-01 01:51] MikeOpenHWGroup opened #594 "Formal Verification checklist items for Functional RTL Freeze"
@tzwaenn, as part of the sign-off of Functional RTL Freeze for CV32E40P, please update all items in the [Formal Verification Checklist](https://github.com/MikeOpenHWGroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/FormalVerificationChecklist.md).

This issue can be closed when all items in the Checklist are signed-off by you or your delegate.

[2020-12-01 02:08] MikeOpenHWGroup opened #595 "Functional RTL Freeze Sign-Off"
Hi @Silabs-ArjanB, this issue is assigned to you as the last step of the formal completion of the Functional RTL Freeze milestone for CV32E40P.   There are a number of tasks recorded as GitHub issues assigned to various team members to complete the sign-off of the documentation, design and verification criteria of Functional RTL Freeze:
- #590
- #591
- #592
- #593
- #594

The CV32E40P will have ac

[2020-12-04 13:57] Silabs-ArjanB commented on #591
Please also add the following information in the checklist:

- [ ] Number of most recent github issue in the core-v-docs repos (either open or closed, so that we will later know which issues were known at time of RTL freeze).

[2020-12-04 13:59] Silabs-ArjanB commented on #590
Please also add the following information in the checklist:

- [ ] Number of most recent github issue in the cv32e40p repos (either open or closed, so that we will later know which issues were known at time of RTL freeze).
- [ ] Complete list of github issue references/numbers of waived issues (independent of how/why the issue was waived)

[2020-12-04 14:00] Silabs-ArjanB commented on #592
Please also add the following information in the checklist:

- [ ] Number of most recent github issue in the core-v-verif repos (either open or closed, so that we will later know which issues were known at time of RTL freeze).
- [ ] Complete list of github issue references/numbers of waived issues (independent of how/why the issue was waived)

[2020-12-04 14:01] Silabs-ArjanB commented on #593
Please also add the following information in the checklist:

- [ ] Number of most recent github issue in the core-v-verif repos (either open or closed, so that we will later know which issues were known at time of RTL freeze).
- [ ] Complete list of github issue references/numbers of waived issues (independent of how/why the issue was waived)

[2020-12-04 17:02] davideschiavone opened #598 "Make CSRW operations on HWLoop registers illegal and add cv.start and cv.end with register variant instruction"
As decided during the meeting to RELOCATE the XPULP instruction and change the HWLoop ISA,

we decided to make CSRW operation illegal on HWLoop registers

Add the register variant of cv.start and cv.end instructions (@jm4rtin can you please propose an encoding?)

This TASK continues the discussion in #189

[2020-12-04 17:02] davideschiavone commented on #189
Discussion continues in #598

[2020-12-04 17:02] #189 closed

[2020-12-04 17:08] davideschiavone commented on #583
Before proceeding and updating the documentation , we want to try the RTL (by means of hexadecimal instructions) to avoid that the SW team modifies the custom HWLoop relocation before RTL gets tested as agreed with @jm4rtin and @jeremybennett

[2020-12-07 16:11] flip1995 opened #618 "Make Hardware Loop end-instructions point to the instruction after the last loop instruction"
### Background information

The current definition of CORE-V hardware loop instructions introduce several challenges to both tool writers and users, and we feel before people are relying on the current definition, we can make a small change which can help greatly.

Currently the instructions `cv.setup`, `cv.setupi` and `cv.endi` get the location of the last instruction in the HWLP:

[code]

This p

[2020-12-08 19:56] davideschiavone commented on #590
Hi @Silabs-ArjanB , I update the documentation to add those 2, maybe it would be good to have a Design, Verif and Doc separate files to report all the issues as here: https://github.com/davideschiavone/core-v-docs/blob/task261/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/Design_openissues.md

[2020-12-08 21:14] strichmo commented on #593
I have completed the interrupt vplan annotation and checked off the cross-reference as a result.

[2020-12-08 21:16] strichmo commented on #592
All items are published.  Closing the issue.

[2020-12-08 21:21] #586 closed

[2020-12-09 16:03] MikeOpenHWGroup commented on #593
To @Silabs-ArjanB's request:
The most recent github issue in the core-v-verif repo is [#425](https://github.com/openhwgroup/core-v-verif/issues/425)

The list of waivers (all captured as core-v-verif GitHub issues is:
 - [#403](https://github.com/openhwgroup/core-v-verif/issues/403)
 - [#423](https://github.com/openhwgroup/core-v-verif/issues/423)
 - [#424](https://github.com/openhwgroup/core-v-ve

[2020-12-09 16:10] Silabs-ArjanB commented on #593
Hi @MikeOpenHWGroup Can you please document that similar to how Davide did this? See https://github.com/openhwgroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/Design_openissues.md

[2020-12-09 18:21] MikeOpenHWGroup commented on #593
Table added.   See https://github.com/openhwgroup/core-v-docs/pull/306.

[2020-12-09 23:24] MikeOpenHWGroup commented on #590
@davideschiavone, After discussions with @DBees, we are recommending that the last check-box on this issue (Sign-off remaining "open source" items) be waived.  These review with Eclipse is likely to spill into the New Year, and I do not recommend gating Functional RTL Freeze on it.

[2020-12-10 11:18] Silabs-ArjanB commented on #591
Discussed this with Davide and we decided to right now tag the core-v-docs with the cv32e40p_v1.0.0 tag. Note that the tag only applies to the User Manual as the checklist documents are not complete yet (and will be updated by later git commits). If we don't do this we have a chicken-and-egg problem. In the future the User Manual should move into the cv32e40p repos so that it can become tagged tog

[2020-12-10 11:18] #591 closed

[2020-12-10 11:20] Silabs-ArjanB commented on #590
Agreed with Davide to not waiting for 'Sign-off remaining "open source" items (we will need to engage with Eclipse for this)'. Closing this issue.

[2020-12-10 11:20] #590 closed

[2020-12-10 11:24] Silabs-ArjanB commented on #593
Hi @MikeOpenHWGroup

I reviewed this and I undid the checkboxes related to 'All RISC-V Compliance tests run and passing' and 'All other tests are running and passing in regression' as they were not run on the correct cv32e40p repos. The hash to be used is 120ac3ee79ef56a57fe07dd8701cd4ee94458fd5

[2020-12-10 11:31] Silabs-ArjanB commented on #594
Hi @MikeOpenHWGroup , @tzwaenn , This item cannot be closed yet for three reasons.

- I do not have a confirmation that the formal verification was actually ran on cv32e40p version 120ac3ee79ef56a57fe07dd8701cd4ee94458fd5.
- The FormalVerificationChecklist.md checklist is not filled out completely; osmt sign off dates are missing.
- The FormalVerificationChecklist.md checklist states in the Except

[2020-12-10 12:09] Silabs-ArjanB commented on #592
Unchecked all checkboxes and reopened this issue as sign off was not done on the correct version of the cv32e40p repos. The RTL freeze cv32e40p repos has git hash 120ac3ee79ef56a57fe07dd8701cd4ee94458fd5 (and verification seems to have been performed 7 commits before that)

[2020-12-10 18:14] DBees commented on #590
Agree but note that an additional IP checklist was created to replace these rows which were removed from Design checklist. The major element of the IP checklist is the completion of IP review, which follows the Eclipse Contribution Questionnaire process.

[2020-12-11 23:01] MikeOpenHWGroup commented on #593
I've created a [core-v-verif branch](https://github.com/MikeOpenHWGroup/core-v-verif/tree/point_to_tagged_cv32e40p) that clones the RTL from the cv32e40p_1.0.0  tag.  Regression is clean so I have re-checked the checkboxes.

The last checkbox (Tag core-v-verif repos with cv32e40p_v1.0.0 tag) will be completed when the above branch is [merged](https://github.com/openhwgroup/core-v-verif/pull/435) i

[2020-12-15 17:20] tzwaenn commented on #594
* version 120ac3e is being run right now
* due to some resource conflicts with our own development, we had to cancel our runs and we got partial results so far (no fails, some hold bounded, some hold)
* excetions/waivers column adapted by Nicolae
* will add more details on results in the report when they appear for the new run

[2020-12-16 13:43] MikeOpenHWGroup commented on #594
Hi @tzwaenn, any update today?

[2020-12-16 16:24] tzwaenn commented on #594
Hi Mike,

the run I mentioned yesterday had some unexpected bounded results -
-I- Prv - Intermediate: RV_chk.ops.RV32I.Arith_a holds bounded up to 24 cycles from reset
-I- Prv - Intermediate: RV_chk.ops.RV32I.CSR_a holds bounded up to 26 cycles from reset
-I- Prv - Intermediate: RV_chk.ops.RV32I.Mem_a holds bounded up to 25 cycles from reset
-I- Prv - Intermediate: RV_chk.ops.RVC.Mem_MA_a holds bo

[2020-12-16 16:39] MikeOpenHWGroup commented on #594
Thanks for the update @tzwaenn.  I would rather do it "right" than do it "fast", so I appreciate you taking the extra time for that.

[2020-12-16 20:44] MikeOpenHWGroup commented on #592
The core-v-verif repo now has a tag named `cv32e40p_v1.0.0` to match the equivalent tag for this repo.  This tag of core-v-verif will clone the cv32e40p_v1.0.0 tag of the RTL by default.  The coverage reports and waivers are all based on runs from that tag.

[2020-12-16 20:46] MikeOpenHWGroup commented on #593
corev-v-verif has been tagged as above.

[2020-12-17 09:55] tzwaenn commented on #594
We now have all exceptions, CSRs, Arithemtic instructions, branches, memory with single access and memory with double access through (RV32I + compressed where applicable). For some reason, jump is still at hold_bounded which is very unexpected (memory instructions with 2 memory accesses were the most expensive in previous runs).
Partial tests for M extension started again.
We will investigate the

[2020-12-24 03:51] timsaxe opened #599 "tc_clk_gating"
# Template for Bug Issue

Please use this template if the issue that you are reporting is a (potential) bug in CV32E40P RTL, Documentation, Verification environment or Tool and Build system.

<br>**Note**: Please file bugs related to the CV32E40P User Manual in https://github.com/openhwgroup/core-v-docs instead.
<br>**Note**: Please file bugs related to the core-v-verif verification environment in

[2020-12-28 14:38] MikeOpenHWGroup commented on #599
Hi @timsaxe, I'm just the verification weenie, so not the right person to answer questions about synthesis and/or physical design.  However it _looks_ to me that the [synthesis guidelines](https://github.com/openhwgroup/core-v-verif/blob/master/cv32/sim/uvmt_cv32/README.md) section of the User Manual answers your questions.   If it does not, then I would recommend generating an issue against the U

[2020-12-28 21:21] davideschiavone commented on #599
Hi @timsaxe , as @MikeOpenHWGroup said, have a look at the Getting Started section of the manual.

https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/getting_started.html

You need to replace the clock gating file with a file that contains your specific technology clock gating cell. The one openHW provides is just for simulation as it's tech indipendent.

Reach me on mat

[2021-01-02 19:08] zeeshanrafique23 opened #600 "Input address variable "raddr_a_i" in register file is 5 bit but condition is implemented on raddr_a_i[5] index?"
Input address variable "raddr_a_i" in register file is 5 bit but condition is implemented on raddr_a_i[5] index, if the variable is 5 bit (4:0), how can we access 5th location of the array?
[code]

As we can see in the if statement part.

[2021-01-03 19:27] MikeOpenHWGroup commented on #258
I'm reviewing old issues and just came across this one.  I will take the liberty of closing it as [core-v-verif](https://github.com/openhwgroup/core-v-verif) has supported VCS with CV32E40P for some months now.

[2021-01-03 19:27] #258 closed

[2021-01-04 13:12] Silabs-ArjanB commented on #599
Hi @timsaxe I don't believe there is such module or instance called ''tc_clk_gating'' being referred to from anywhere in the RTL, so I am not sure what you are referring to. Maybe you are using a very old version of the github repos? On the latest RTL above documentation link should however answer clock gate related questions. Can you close this issue if your question has been answered or otherwis

[2021-01-04 13:17] Silabs-ArjanB commented on #600
Hi @zeeshanrafique23 , the input address variable "raddr_a_i" in register file is actually **6** bits, see https://github.com/openhwgroup/cv32e40p/blob/120ac3ee79ef56a57fe07dd8701cd4ee94458fd5/rtl/cv32e40p_id_stage.sv#L905

You can see here https://github.com/openhwgroup/cv32e40p/blob/120ac3ee79ef56a57fe07dd8701cd4ee94458fd5/rtl/cv32e40p_id_stage.sv#L522 how that MSB can get set.

[2021-01-04 14:35] #592 closed

[2021-01-04 14:44] zeeshanrafique23 commented on #600
Oh got it thanks

[2021-01-04 14:44] #600 closed

[2021-01-04 15:56] #593 closed

[2021-01-05 16:36] tzwaenn commented on #594
As updated in the formal regression run results for end of last year, we had full proofs for RV32I, RVC, exceptions, Zicsr, Zifencei apart from the jump instructions. The RV32I jumps got a bounded proof with 30 cycles from reset, the RVC jumps got 38 cycles from reset in that run which was performed on the requested github version of the source code. Disregarding the PC update, all jumps are fully

[2021-01-06 06:52] Silabs-ArjanB commented on #594
Hi @tzwaenn Can you explain what the possible implications are for only having a 'bounded proof'? Also, did you have full proof for jumps on an earlier git hash? If so, what update triggered the absence of the full proof?

[2021-01-07 14:48] tzwaenn commented on #594
A bounded proof means that it is proven that no violation can happen in the given amount of n cycles from reset. This means if the shortest way to provide a failure is n+1 or nore cycles, it would not be caught. With 30 and 38 cycles from reset, one can then judge how "good" the result is (what cannpt happen in that amount of cycles from reset?). Please also not that in a later run, we got to 50 c

[2021-01-08 10:53] tzwaenn commented on #594
Indeed, the jumps (be it RV32I or RVC) are back to converging fast with the full PC update, so we have no more inconclusive results. The result will be uploaded once the clean regression run is through.

[2021-01-08 10:54] tzwaenn commented on #594
Again, sorry for the delay - I guess it is Murphy's Law that when you need sign off results, there is a hickup in the flow and general holidays...

[2021-01-08 14:01] MikeOpenHWGroup commented on #594
Appreciate your perseverance Sven.  The last metre is always the longest.

[2021-01-11 11:37] tzwaenn commented on #594
With the latest report committed without bounded results, we can hopefully close this one...

[2021-01-11 16:49] MikeOpenHWGroup commented on #594
Hi @tzwaenn, do you mean the latest [OneSpin-CV32E-Results-11012021.pdf](https://github.com/openhwgroup/core-v-docs/blob/master/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/Reports/Formal/OneSpin-CV32E-Results-11012021.pdf)?  This report has "partial proofs" for all RV32M properties.

Its my understanding that "partial proofs" _are_ bounded proofs.  These are acceptable if the proof depth is repo

[2021-01-12 12:26] tzwaenn commented on #594
Hi Mike,

for heavy arithmetic, the proof depth is usually very untelling. This is because there is a huge complexity in the pure datapath, so much so that the first instruction that can have arbitrary operand values will be the boundary you will not achieve (so the first instruction after reset in case the register file is initialized will not be reached as proof depth - add just a small added ov

[2021-01-12 14:24] MikeOpenHWGroup commented on #594
Alright, I _think_ I follow.   So, are you saying we can close this item now?

[2021-01-12 14:43] tzwaenn commented on #594
An update of the verificatoin report is pending where we added the information on the operand restriction for the M extension to clarify the partial proofs.
From my point of view, this can be closed with that update.

[2021-01-14 02:04] timsaxe commented on #599
You are correct.  Was accidentally using a down-rev version

[2021-01-14 02:04] #599 closed

[2021-01-18 13:14] Silabs-ArjanB commented on #594
Hi @MikeOpenHWGroup Can this issue be closed now?

[2021-01-18 13:52] MikeOpenHWGroup commented on #594
Yes, I believe so.  As the Committer who owns the RTL Freeze decision, I believe you should have the decision on that.  My recommendation is that this issue can be closed.

[2021-01-18 14:10] MikeOpenHWGroup commented on #595
Hi @Silabs-ArjanB, all the gating issues mentioned above have been closed, so I am recommending this issue to also be closed.  Just a reminder that by doing so you are officially acknowledging that the CV32E40P has achieved Functional RTL Freeze.

[2021-01-18 14:21] Silabs-ArjanB commented on #594
@MikeOpenHWGroup , @tzwaenn core-v-docs/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/Verification_openissues.md is not complete. Please fill out the sign-off dates and if there are actual exceptions/waivers/comments please list them clearly (if not remove these 'Captured as cv32e40p GitHub issues' comments

[2021-01-18 14:37] MikeOpenHWGroup commented on #594
`Verification_openissues.md` is merely a list of open issues as of the date the tag was applied and it is complete.  The sign-off those these open issues is captured either with a `WAIVED: CV32E40P` label on the issue or in the appropriate checklist.

[2021-01-18 14:40] Silabs-ArjanB commented on #594
My bad: My above comments are meant for core-v-docs/program/milestones/CV32E40P/RTL_Freeze_v1.0.0/FormalVerificationChecklist.md

[2021-01-18 15:00] MikeOpenHWGroup commented on #594
I think it _is_ complete.  Did you want a waiver for the partial proofs?

[2021-01-18 17:37] Silabs-ArjanB commented on #594
My mistake again, sorry about that (I was looking at an older commit).

[2021-01-18 17:37] #594 closed

[2021-01-19 08:21] #595 closed

[2021-01-20 03:30] timsaxe opened #605 "Missing type declaration prefetch_buffer.sv"
Synopsys dc_compiler reports:

Compiling source file ../../ips/cv32e40p/./rtl/cv32e40p_prefetch_buffer.sv
Warning:  ../../ips/cv32e40p/./rtl/cv32e40p_prefetch_buffer.sv:120: the undeclared symbol 'fifo_empty' assumed to have the default net type, which is 'wire'. (VER-936)
Warning:  ../../ips/cv32e40p/./rtl/cv32e40p_prefetch_buffer.sv:140: the undeclared symbol 'fifo_full' assumed to have the defa

[2021-01-20 03:51] MikeOpenHWGroup commented on #605
Ouch!   Thanks for this @timsaxe.   Clearly needs to be fixed.

@Silabs-ArjanB, how did this get past RTL Freeze?

[2021-01-20 07:11] Silabs-ArjanB commented on #605
There is no style guide that is being followed for CV32E40P (that would be a future improvement as well). Of course we will fix this even though it is valid (and more importantly correct) Verilog as we agree that there should be no implicit wires. There are many more Lint warnings. We only made it error free, not warning free. We studied the warnings and due to the current structure of the RTL (wi

[2021-01-20 20:48] a7med7asan15 opened #606 "Clock Gating Issue for Sleep unit"
I tried to synthesize the design without `cv32e40p_sim_clock_gate.sv` but it gave me errors
I searched and found that I should not use it while synthesis
How could I use the technology file instead of this module?
![image](https://user-images.githubusercontent.com/8223934/105232150-a35a4900-5b70-11eb-82d6-9fb4bc398db4.png)

[2021-01-21 07:16] Silabs-ArjanB commented on #606
Hi @a7med7asan15 You should make a verilog module named cv32e40p_clock_gate that instantiates an actual clock gate cell. That new module could for example be in a file called cv32e40p_clock_gate.sv. Then you add that file to the file list used by your synthesis tool. Which cell you need depends on your technology (so we can't tell you).

[2021-01-21 07:23] Silabs-ArjanB opened #607 "Make LEC flow"
The 'Core Versions and RTL Freeze Rules' described in https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/core_versions.html rely on using LEC for commits to the CV32E40P repos after RTL freeze.

Such a LEC flow needs to be set up and should be easy to run for new commits.

[2021-01-21 09:37] Suxiaojie-iot commented on #452
Recently, when I transplanted cv32e40p on the cluster side of Pulp, I found some problems. In addition to the interface mismatch, some internal logic is also different, including the fetching and decoding stages.
In this regard, I would like to ask how to implement Pulp's cluster kernel to cv32e40p.
Thank you.

[2021-01-21 10:59] a7med7asan15 commented on #606
Your answer helps a lot. But Excuse me for my ignorance, I am still new to Synthesis.
I am using the open source skywater PDK, so it has folder: CLKGATE_X1 for example
How can I instantiate this cell inside my RTL Code?

[2021-01-21 13:42] MikeOpenHWGroup commented on #452
Hi @Suxiaojie-iot, the items you mention are deliberate changes, not problems.  Please refer to the [cv32e40p user manual](https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/index.html).

Also, in the future, please do not mix multiple topics in a single GitHub issue.   This issue is for Xpulp instruction opcodes.  To discuss integration of "Pulp's cluster kernel to cv32

[2021-01-22 01:23] Suxiaojie-iot commented on #452
Letter received. Sorry for doing so. This is the first time, I will pay attention next time, thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Mike Thompson"<notifications@github.com&gt;;
发送时间: 2021年1月21日(星期四) 晚上9:42
收件人: "openhwgroup/cv32e40p"<cv32e40p@noreply.github.com&gt;;
抄送: "小杰"<120914808@qq.com&gt;; "Mention"<mention@noreply.github.com&gt;;
主题: Re: [openhwgroup/cv32e40

[2021-01-22 01:33] Suxiaojie-iot opened #608 "How to change Pulp clusters' core to cv32e40p core"
Recently, when I transplanted cv32e40p on the cluster side of Pulp, I have some difficulties——I failed to change the core, but I could not  solved it. In addition to the interface mismatch, some internal logic is also different, including the fetching and decoding stages.
In this regard, I would like to ask how to implement Pulp's cluster kernel to cv32e40p. I have read cv32e40p user  manual，but I

[2021-01-22 09:47] davideschiavone commented on #605
Hello @timsaxe , thanks for reporting it!

Yes @Silabs-ArjanB, actually @MikeOpenHWGroup and I discussed it to include the LEC in the CI . I can take the lead on that.

Thanks

[2021-01-22 09:48] davideschiavone commented on #608
Hello,

can you please describe the problem you are facing?

[2021-01-22 10:03] Suxiaojie-iot commented on #608
thanks for attention,.When I change the core of Pulp to cv32e40p,only in FC could work and I counld get "Hello world", but in CLUSTER,I changed the core to cv32e40p and simulation, it didnot work.
In the latest version of the cv32e40p kernel, its interface is different from that in the ri5cy kernel and cannot be directly transplanted. I want to know how to configure cv32e40p to make it work proper

[2021-01-22 10:07] davideschiavone commented on #608
You need to re-do in the cluster side what you changed in the FC. This discussion specific to the PULP integration should be done in the PULP repository as this is the CORE repository.
From the core perspective, all the interfaces have been described in the User Manual, which are not very different from the former RI5CY. The memory protocol slighly changed and described too. The PULP team is worki

[2021-01-22 10:19] Suxiaojie-iot commented on #608
Thanks again. I haved re_do in the cluster side.It may be that I did not configure it correctly, but I did not find it. Can you tell me more specifically, or do you have a good configuration example for me to refer to? The instructions on the cluster side can only run a little bit, and then it is wrong. cv32e40p can be run on the cluster side. It should be modified a bit, but it is not clear wheth

[2021-01-22 10:36] davideschiavone commented on #608
I don't understand what a configuration example is.
If the problem you have is that the core is not compatible with PULP, you need to move this discussion to PULP.
They support only the old RI5CY now, and they are working to support CV32E40P

[2021-01-25 04:34] timsaxe opened #609 "Synopsys error"
# Template for Bug Issue

Please use this template if the issue that you are reporting is a (potential) bug in CV32E40P RTL, Documentation, Verification environment or Tool and Build system.

<br>**Note**: Please file bugs related to the CV32E40P User Manual in https://github.com/openhwgroup/core-v-docs instead.
<br>**Note**: Please file bugs related to the core-v-verif verification environment in

[2021-01-25 07:12] Silabs-ArjanB commented on #609
Hi @timsaxe thank you for your issue report. The CV32E40P does not contain a PMP. That file should not be synthesized as described here https://core-v-docs-verif-strat.readthedocs.io/projects/cv32e40p_um/en/latest/intro.html#synthesis-guidelines

[2021-01-25 10:45] davideschiavone commented on #609
Hi @timsaxe ,  I guess you are synthesizing the core using the src_file instead of the manifest file. And the same for simulation too. I suggest you open a new issue (and assign it to me or make directly a pull request) to aling the src_file and Bender file to the manifest.

[2021-01-25 10:47] davideschiavone commented on #608
Hello @Suxiaojie-iot, if you agree that this issue is resolved (as it is off-topic for example or the issue relies somewherelse than the core), can you please close this issue?

[2021-01-26 00:23] timsaxe commented on #609
Hi Arjan,

Davide also responded to this.  The issue is triggered by having the PMP file in the src_files.yml manifest, which means that the generate-scripts includes it.  I will create a PR removing PMP from src_files.yml.

Tim

From: Arjan Bink <notifications@github.com>
Sent: Sunday, January 24, 2021 11:13 PM
To: openhwgroup/cv32e40p <cv32e40p@noreply.github.com>
Cc: Tim Saxe <Saxe@quicklogic.c

[2021-01-26 01:17] #608 closed

[2021-01-29 09:15] yangguoming opened #612 "some question in rtl,may be it is a bug"
In source rtl code <cv32e40p_prefetch_controller.sv>
[code]
what is the mean of " if fifo is not empty,then we can push fifo",it is not obey the logic, I think it is should be "if fifo is not full,then we can push the fifo",so the code should be the following code?
[code]
Others,i can not find the fifo full signal which should connect the controller.Thanks!

[2021-02-01 10:42] shivampotdar commented on #79
I am still seeing this issue with the dm testbench in CV32E40P (tag `pulpissimo-v3.4.0`). My PULP-GCC build is based on commit #`49dea19` from pulp-riscv-gnu-toolchain.
The Makefile runs successfully with SiFive prebuilt toolchains. But that's not a good idea for XPULP  I believe.

[2021-02-08 13:17] davideschiavone opened #613 "Move Documenation to this repository"
The current documentation is located at https://github.com/openhwgroup/core-v-docs

We want to move the folder here and all the relateve issues

[2021-02-08 14:42] Silabs-ArjanB commented on #613
Hi @davideschiavone We already did this change for the 40X/40S. When you do it for the 40P can you follow the following directory structure?

cv32e40p/docs/user_manual/images
cv32e40p/docs/user_manual/make.bat
cv32e40p/docs/user_manual/Makefile
cv32e40p/docs/user_manual/source

[2021-02-08 15:29] #613 closed

[2021-02-09 03:14] gmartin102 opened #619 "Add support for stoptimer and stop counter"
The Risc-v External Debug Support Document refers to to bits in the DCSR register for stopping timers and counters during debugging.  The CV32e40P has these bits, but they are not available at the top level.  The signal debug_halted_o is available and can be used to stop timers and counters, but the bits in the dcsr give greater control.  The MTIME/MTIMECMP interrupt servicing is one area that wou

[2021-02-09 09:22] davideschiavone commented on #619
Hello @gmartin102 - it sounds as an "OK" modification to me as although it changes the core interface, it just exposes more signals, thus from a verification and logical equivalence point of view it should be ok.
I leave the Core Task Group Chair taking a decision on this @Silabs-ArjanB

[2021-02-09 09:27] davideschiavone commented on #609
Hi @timsaxe , can we close now this issue?

[2021-02-09 09:28] davideschiavone commented on #606
hello @a7med7asan15 , if this issue is solved, can we close it?

[2021-02-09 10:08] #606 closed

[2021-02-09 17:39] Silabs-ArjanB commented on #619
Hello @gmartin102 I assume that you are talking about adding support for the _stoptime_ and _stopcount_ bits, which are currently implemented as WARL bits tied to 0 (as allowed in the RISC-V Debug specification). As your proposal is not a bug fix nor completion of the PULP ISA this would be a not-LEC-equivalent addition of a new feature, which we agreed not to allow after RTL freeze (see https://c

[2021-02-09 17:42] #609 closed

[2021-02-09 17:42] timsaxe commented on #609
We can.  I think I did, but if that didn’t work you can close it.

From: Pasquale Davide Schiavone <notifications@github.com>
Sent: Tuesday, February 9, 2021 1:28 AM
To: openhwgroup/cv32e40p <cv32e40p@noreply.github.com>
Cc: Tim Saxe <Saxe@quicklogic.com>; Mention <mention@noreply.github.com>
Subject: Re: [openhwgroup/cv32e40p] Synopsys error (#609)

Hi @timsaxe<https://github.com/timsaxe> , can w

[2021-02-10 03:37] gmartin102 commented on #619
I understand this position, the functionality I wish to support can still be provided with the available signals on the cv32e40p  albeit with reduced ability to control the function as intended by the dcsr specification.

On Feb 9, 2021, at 11:39 AM, Arjan Bink <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @gmartin102<https://github.com/gmartin102> I assume that you are

[2021-02-25 14:56] davideschiavone commented on #619
Hello @gmartin102 , if the issue is solved, can we close it?

[2021-02-25 15:15] davideschiavone commented on #619
if you think this feature is valuable, open an issue in our next 3 cores as:

CVA6 https://github.com/openhwgroup/cva6

CV32E40S https://github.com/openhwgroup/cv32e40s

CV32E40X https://github.com/openhwgroup/cv32e40x

[2021-02-25 15:15] #619 closed

[2021-03-01 08:46] dawidzim opened #626 "Variable `ram_data_gnt` is driven by procedural and continuous assignment"
Hey!
Variable `ram_data_gnt` is driven by procedural and continuous assignment in file:
https://github.com/openhwgroup/cv32e40p/blob/master/example_tb/core/mm_ram.sv
line 517 and 605,617

[2021-03-01 13:41] MikeOpenHWGroup commented on #626
Hi @dawidzim, thanks for the issue.  Just FYI, the `example_tb` in cv32e40p is not considered a "production" testbench.  Its purpose is to support designer-testing without the overhead that comes from a regressionable verification environment such as [core-v-verif](https://github.com/openhwgroup/core-v-verif).   I have assigned this issue to @davideschiavone.

[2021-03-01 17:53] davideschiavone commented on #626
Hi @dawidzim ,

thanks for reporting this issue.

I made a PR here: #628

let me know if this solves your issue

[2021-03-02 06:22] dawidzim commented on #626
Hey @davideschiavone
Thanks, I think this PR will solve this problem. After merge I will close this issue

[2021-03-02 09:03] #626 closed

[2021-03-02 09:04] davideschiavone commented on #626
Thanks! Merged

[2021-03-02 16:50] davideschiavone opened #629 "Make illegal imm!=0 of Reg + Reg PULP instructions"
PULP instructions that do not use the immediate field as they are reg+reg instruction, do not often check whether the immediate is hardwired to 0 (as the documentation specifies) or not

An example: cv.addNr

[2021-03-03 09:00] davideschiavone commented on #270
PR #630  should solve this

[2021-03-10 12:19] shetalani commented on #175
Hi @stmach, thank you for the detailed response, I am closing this ticket as the bug reported here is rooted to my local wrong setup.

[2021-03-10 12:19] #175 closed

[2021-03-16 15:17] ranaya123 opened #631 "A test bench to demonstrate the register+clock network power of RI5CY Core"
Hello,

I have been doing experiments with former RI5CY core from Pulpissimo platform and since this is the replacement core for that, I'll post my question here.

I want to compare the integration of a novel flip flop to a standard single-edge triggering flop-flop using the same core. What is the best suited test bench application, in this case, to demonstrate the effective clock network/register

[2021-03-22 09:17] treforsouthwell opened #632 "cv32e40p_prefetch_buffer has undeclared verilog wires"
The prefetch buffer has two undeclared wires, while in my synthesis this is treated as a warning it's generally undesirable to miss the declarations and some tools can treat this as an error

ompiling source file /user/trs/work/trefor.southwell_SWANN/volcanic/MAIN/design/gen_PULAR_CONFIG21_DC_syn/import/cv32e40p/rtl/cv32e40p_prefetch_buffer.sv
Warning:  /user/trs/work/trefor.southwell_SWANN/volcan

[2021-03-22 09:19] treforsouthwell commented on #632
I've foudn this is a duplicate of #605

[2021-03-22 09:20] #632 closed

[2021-03-22 11:06] treforsouthwell commented on #605
It would be good to fix, our syntheiss flow flags this as an error (although it doesn't stop us getting results)

[2021-03-25 07:48] Silabs-ArjanB commented on #631
Hi @ranaya123 Power consumption is of course very application specific and as such it is difficult to recommend a good benchmark. I believe it is fair to use Coremark (as at least many people use it). You could also report your numbers for a bit more modern benchmark as for example Embench (https://www.embench.org/, https://github.com/embench/embench-iot) although they don't have standardized powe

[2021-04-07 11:23] davideschiavone commented on #605
Hello @treforsouthwell , I issues a PR #633 that should guarantee that any RTL change stays Logically Equivalent to the frozen version - would you like to have a look at it? I have zero experience with LEC and Conformal

[2021-04-12 16:08] #617 closed

[2021-04-19 10:28] #605 closed

[2021-04-19 11:12] moimfeld opened #636 "Problem removing APU signals"
Hello,

I am doing an implementation of the x-interface on cv32e40p. Before I can implement the new interface I need to remove the APU. For removing all the APU and FPU signals I use Cadence Conformal v19.10.100 to check the logical equivalence of the changed (revised) core and the cv32e40p_v1.0.0 core (golden). To automate the equivalence check I am using [Davide Schiavones script](https://github

[2021-04-19 12:35] MikeOpenHWGroup commented on #636
Hi @moimfeld.  Perhaps you would be interested in the [cv32e40x](https://github.com/openhwgroup/cv32e40x)?  The User Manual needs updating, but the [project proposal](https://github.com/openhwgroup/core-v-docs/blob/master/program/Project%20Descriptions%20and%20Plans/CV32E40X/CV32E40X-PPL.md) _should_ give you a very good idea of what this core is all about.  If you are interested in a "CV32E40P wi

[2021-04-19 14:22] davideschiavone commented on #636
Thanks a lot @moimfeld , amazing report and progress done so far.

I have no answer to your question at the moment as I have seen the problem together with you. I ping more expert people in the field that may have an answer to your questions: @Silabs-ArjanB, @clairexen, @jquevremont  and @treforsouthwell

Hi @MikeOpenHWGroup , Moritz is implementing the X interface in the CV32E40P core as agreed t

[2021-04-19 14:33] treforsouthwell commented on #636
I'm not an expert in Conformal and it's hard to tell from this log file what it thinks is non-equivilent. It maybe a good idea to open LEC in the GUI and view the differences there.
If you get stuck I could run formality on the change, removing an output shouldn't really change a DFF.

[2021-04-19 18:24] moimfeld commented on #636
@Silabs-ArjanB Thank you for your suggestion. If I understand correctly you propose to disconnect the apu_en signal from the decoder to the id stage (and assign apu_en to '0). But I have already successfully done that [here](https://github.com/moimfeld/cv32e40p/blob/x-interface/rtl/cv32e40p_id_stage.sv), and the cores stayed logically equvalent.  The problem arises when I want to delete the signal

[2021-04-20 06:04] Silabs-ArjanB commented on #636
Hi @moimfeld ,

This is the right thing to do in my opinion. The reason you cannot remove it or add a simple assignment statement to 0 is because that signal is not actually always 0. If the core is not reset immediately this signal can remain undefined for many clock cycles I expect. So, for now I would be in favor to just keep that signal assigned to 0 in the pipeline registers as you did and ad

[2021-04-20 06:06] #607 closed

[2021-04-27 13:04] embedded-programmer opened #639 "Implementation Example"
Hi,

I've implemented Ibex core in FPGA using [https://github.com/lowRISC/ibex/tree/master/examples/fpga/artya7](url) successfully. Due to my need for floating-point-unit in the project, I switched the core from Ibex to cv32e40p. However, it didn't work.
* I just simply changed the core instantiation in top_arta7.sv from Ibex to cv32e40p. Did I miss something? Do you have any suggestions or exampl

[2021-04-27 13:34] MikeOpenHWGroup commented on #639
Hi @embedded-programmer, thanks for your interest.  The current version of the CV32E40P has not been verified with the floating point unit.  The current status of the CV32E40P is captured in its [User Manual on ReadTheDocs](https://cv32e40p.readthedocs.io/en/latest/intro/).  In particular you should read the [core integration](https://cv32e40p.readthedocs.io/en/latest/integration/) and [core versi

[2021-04-27 13:34] #639 closed

[2021-05-03 13:54] davideschiavone opened #640 "Removing the PMP file from the RTL folder"
shall we remove the PMP file from the RTL folder?

if people look for it for older version of the core, we can still point to an old commit where the file is present.

The current RTL fails to be formatted by verible and it containts casex from systemverilog, which makes the life of some EDA tools hard.

In addition, as today, there is no plan to integrate the PMP into CV32E40P.

best
Davide

[2021-05-03 14:08] Silabs-ArjanB commented on #640
I would say 'yes', let's remove that file and any references to it.

[2021-05-03 14:20] MikeOpenHWGroup commented on #640
Its my understanding that the reason this question came up is that `cv32e40p_pmp.sv` contains a `casex` statement.  As far as I am aware, it is the only occurrence of a casex statement in any CORE-V RTL.

Just FYI, it is my understanding that the RTL coding style guidelines for CORE-V IP is essentially the lowRISC Ibex SystemVerilog coding style guide.  Under [wildcards-in-case-items](https://gith

[2021-05-03 15:13] davideschiavone commented on #640
Not only that. Also the verible-format tool does not pass (the casex is also present in the tracer and verible was able to pass thought it).
In addition, none is using that file anyway. It may create confusion to have a SV file in the RTL folder which is not used or instantiated anyway.

[2021-05-07 15:01] Mar486 opened #642 "Issue with the constraints file"
Hi,

I have a problem regarding the constraints file.
DC compiler gives me warnings regarding these two lines in the constraint file:

set all_other_input_ports  [remove_from_collection [all_inputs]  [get_ports [list $all_clock_ports $obi_input_ports $irq_input_ports $early_input_ports]]]
set all_other_output_ports [remove_from_collection [all_outputs] [get_ports [list $all_clock_ports $obi_output

[2021-05-09 14:18] Mar486 commented on #642
1. reading the libraries.
2. analyze the RTL files ordered according to the manifest file.
3. elaborate.
4. current_design
5. reading the constraints file (sdc file).
6. link
7. compile_ultra

[2021-05-10 12:24] vignajeth opened #644 "RI5CY Post-Synthesis Timing Simulation Fails for Pulpissimo"
Hi,
   I am trying to make the pulpissimo with RI5CY core to work with the timing. I notice that the pulpissimo breaks completely with unknown values in most of the signals, especially signals related to memories. When I debugged the issue, I find the **riscv_register_fie** is causing me Timing troubles. To make my issue clear I have attached images of my simulation in various configurations.

**B

[2021-05-13 08:19] #644 closed

[2021-05-19 00:31] zorrolee777 commented on #642
Hi,

Has this been fixed? I got similar issues.

[2021-05-19 00:37] zorrolee777 commented on #642
And I also saw there's a draft version DC script here: https://github.com/openhwgroup/cv32e40p/pull/305
Is there any complete version? Thanks!

[2021-05-19 07:35] Silabs-ArjanB commented on #642
@zorrolee777 We do not have the intention to provide synthesis scripts for specific vendors, just example constraints. (I don't know if the stated issue has been fixed; I do not have access to the stated tool.)

[2021-05-20 01:37] zorrolee777 commented on #642
Hello @Mar486. Any luck to fix this?

[2021-05-20 19:05] davideschiavone commented on #640
close by #645

[2021-05-21 13:38] Mar486 commented on #642
I replaced these two lines by the following lines:

set f [all_inputs]
set a [get_ports $all_clock_ports]
set b [get_ports $obi_input_ports]
set c [get_ports $irq_input_ports]
set d [get_ports $early_input_ports]

set a_b [add_to_coll $a $b]
set abc [add_to_coll $a_b $c]
set abcd [add_to_coll $abc $d]

set all_other_input_ports [remove_from_coll $f $abcd]

set q [all_outputs]
set m [get_ports $all

[2021-05-21 13:42] davideschiavone commented on #642
can you please provide more details about the points 1 to 6?  I would need to replicate your commands to understand the issue

[2021-05-21 14:15] MikeOpenHWGroup commented on #642
@Mar486, would it be possible for you to share your script?

[2021-05-21 14:23] Mar486 commented on #642
set design cv32e40p_core

set_app_var search_path "/home/standard_cell_libraries/NangateOpenCellLibrary_PDKv1_3_v2010_12/lib/Front_End/Liberty/NLDM"

set_app_var link_library "* NangateOpenCellLibrary_ss0p95vn40c.db"
set_app_var target_library "NangateOpenCellLibrary_ss0p95vn40c.db"

sh rm -rf work
sh mkdir -p work
define_design_lib work -path ./work
set hdlin_sverilog_std                  2009

[2021-05-25 06:31] Saqlinahamad opened #646 "CV32E40P CoreMARK/MHz?"

[2021-06-01 06:34] Silabs-ArjanB commented on #646
Please see https://github.com/openhwgroup/core-v-docs/blob/master/cores/performance/ppa_data.xlsx

[2021-06-01 06:34] #646 closed

[2021-06-03 17:33] aignacio opened #647 "Master branch not working with Verilator"
Hi everyone,
I'm using the master branch to build a SoC with CV32E40P core but I'm seeing an odd issue with Verilator, I opened a ticket on Verilator to check for support but I'm not sure they can understand the semantic error. Is there a branch with Verilator running fine?

[Link for the issue on Verilator](https://github.com/verilator/verilator/issues/2998)

[2021-06-03 19:03] MikeOpenHWGroup commented on #647
Hi @aignacio, thanks for the issue.  Can you provide me with the _exact_ command-lines you are using?   Also, what version of Verilator are you using?

[2021-06-04 02:02] MikeOpenHWGroup commented on #647
Hi again @aignacio.  If you run the CV32E40P from the CORE-V verification environment (https://github.com/openhwgroup/core-v-verif), it compiles and runs fine with Verilator v4.202:
[code]
This will clone a specific tag of CV32E40P from its repo (the latest, as of today), built and run "hello-world" using Verilator.  The READMEs will give you more information for running other tests.

[2021-06-05 10:04] aignacio commented on #647
Hi @MikeOpenHWGroup,

I just call Verilator through a makefile passing CV32 rtls as argument and observed this:
[code]
[Repository](https://github.com/aignacio/mpsoc_example)
Verilator version: Verilator 4.106 2020-12-02 rev v4.106

[2021-06-05 10:06] aignacio commented on #647
I'll try to use the same approach as you said in the core-v-verif repo, let's see how it goes..

[2021-06-05 12:20] MikeOpenHWGroup commented on #647
Your Makefile compiles everything it finds with an "sv" extension.  That will not work with Verilator as the behavioral tracer and wrapper use some SV constructs that Verilator does not support.  A better idea is to use the manifest file at the top of the cv32e40p repo.

[2021-06-23 16:30] davideschiavone opened #648 "Make and Build CV32E41P Documentation"
At the moment, the CV32E41P documentation is a fork of the CV32E40P repository - this should be aligned and modified according to the the spec - in addition, it should be built and made available

[2021-06-24 12:57] apollojason opened #649 "JALR instruction, jump error"
Dear Guys：
         These days i used the cv32e40p core, with FPU.
          When i use the Core，there is a JALR instruction,   the jump result is wrong.
          I checked the waveform, the main reason i thought is  data dependency.
          The JALR depends on the result of an immediately preceding instruction.
          plesase see my trace log.

![image](https://user-images.githubusercontent

[2021-06-24 13:39] davideschiavone commented on #649
Hello @apollojason

thanks for the detailed report - FYI, we did not verify the FPU, in addition, we are about to change the communication channel (APU) that the core uses to talk with the FPU with a new one defined here: https://github.com/openhwgroup/core-v-xif/blob/main/doc/index.md

Still, I would like to have a closer look at your problem, can you please share a VCD file, the OBJDUMP and the

[2021-06-25 02:22] apollojason commented on #649
Dear @davideschiavone:
       Thank you very much!
       I know that you have move the FPU outside the CPU core, and communicate by the APU interface.
       But i don't think this change can avoid the JALR stall.
       As i understand it, the key factor is the jr stall control strategy, especially the multicycle instruction will change the regfile ID.
       I‘m curious to know whether the  int

[2021-06-28 01:55] apollojason commented on #649
Dear @davideschiavone ：
       Have you ever checked the waveform?
       I hope you can give me some suggestions.
                                        Jason Wu

[2021-06-28 11:59] davideschiavone commented on #649
Hello,

not yet - I have been quite busy lately, I will try to have a look at it this week.

Meanwhile we are proceeding with projects to verify CV32E40P+FPU. Thus, this bug is definitively useful to address asap.

I will let you know

Davide

[2021-06-28 15:01] OmarAlsherbini opened #650 "CV32E40P Decoder Tolerating Xpulp_NN ISA"
Hello everyone,

The current decoding implementation of the CV32E40P decoder is very tolerant for OPCODE_VECOP (7'h57), allowing it to tolerate any instruction as long as its func6 (instr[31:26]) is recognized. This, in turn, recognizes Xpulp_NN ISA to be legal instructions - without correct ALU/MUL/FPU support from the core - which denies the opportunity to integrate dedicated Xpulp_NN accelerato

[2021-06-28 15:32] davideschiavone commented on #647
@aignacio - can I close this issue?

[2021-06-28 21:08] aignacio commented on #647
Hi, couldn't have time to check but if I got in the same issue I'll re-open it. Tks anyway

[2021-06-28 21:08] #647 closed

[2021-06-29 15:10] davideschiavone commented on #649
Can you please provide a normal VCD? I would like it to open it with GTKwave or Questa for example - I can't with that file

[2021-06-29 16:45] davideschiavone commented on #649
I am using the FPNEW IP that CV32E40P clones, the fmv instruction takes 1 cycle in my case (and it seems also in your case as the CYCLE number in the tracer increments only by one)

`
   3835ns             379 0000037c f0060553 fmv.s.x          f10, x12            f10=00000000 x12:00000000
   3845ns             380 00000380 00305097 auipc            x1, 0x305000         x1=00305380
   3865ns

[2021-07-04 10:13] ramees041 commented on #96
Could you please mention which is the other issue that you were mentioning, because  I am also stuck in similar kind of ssue

[2021-07-07 09:02] RTLhamster opened #651 "Recommended Compiler + Flags for Xcorev/pulp extensions"
Hi there,

I'm trying to get the cv32e40p running with the xcorev/pulp extensions,
but it seems that the CORE-V GCC is not using these extensions.

In simulation/verification setups I didn't find an example actually using the *_xcorev march flag.
The cv32e40p user manual just tells:

Can you please comment on the current compiler support and recommended compiler settings.

I've also opened a issue

[2021-07-08 11:06] RTLhamster commented on #651
As mentioned by @jeremybennett in [corev-gcc ISSUE #1](https://github.com/openhwgroup/corev-gcc/issues/1)
there is currently no support for automatic insertion of xcorev extension by the compiler.

Unlike the [user manual](https://cv32e40p.readthedocs.io/en/latest/corev_hw_loop/#hwloop-specs) is telling us:

In my opinion this should be corrected or clarified.

[2021-07-08 12:53] MikeOpenHWGroup commented on #651
Hi @jeremybennett, can you comment?

[2021-07-09 13:54] shetalani opened #652 "Wrong multiplication instructions' result stored in X when a preceding Zfinx instruction is executed"
### Issue Description
M extension `MULHU` updates the integer register file with a wrong value when `FPU` and `PULP_ZFINX` are set. Same is true for `MULHU` and `MULHSU`.

### Component
**Component:RTL**

### RISC-V Specification

instructions FLW, FSW, FMV.W.X, FMV.X.W, C.FLW[SP], and C.FSW[SP].

such an instruction would have accessed an f register, it instead accesses the x register with the
sa

[2021-07-09 14:08] davideschiavone commented on #652
Hello,

thanks a lot for the report. Just two notes:

1) The RVF and PULP_Zfinx instructions set haven't been verified yet as stated in the documentation - so thanks a lot for the test as we will verify them soon, and thus this bug should be fixed

2) The PULP_Zfinx is a custom extension - it was born before the Zfinx - but they are not exactly the same - so the SPECs (which are not written yet as

[2021-07-09 14:09] davideschiavone commented on #649
do you have any update on this @apollojason ?

[2021-07-20 14:41] davideschiavone commented on #649
@apollojason ,as I haven't received any feedback, I will close this issue - feel free to re-open it if your problem hasn't been fixed.
Thanks a lot,
Davide

[2021-07-20 14:41] #649 closed

[2021-07-22 06:19] jm4rtin opened #653 "OBI be signal not part of instruction bus"
In the OBI 1.2 specification it describes the `be` signal as being used for both reads and writes. It makes no exception for a bus that may only read (and only read 32-bit words). It does not mark the signal as optional.

That means either the CV32E40P instruction bus should include the `be` signal as `instr_be` (tied to 4'b1111) to comply with the OBI specification or the OBI specification should

[2021-07-22 06:24] Silabs-ArjanB commented on #653
Hi @jm4rtin , table 6 mentions the default 4'b1111 tie off for the 'be' signal.

[2021-07-22 06:26] jm4rtin commented on #653
Sorry, I missed that section of the OBI specification.

[2021-07-22 06:27] #653 closed

[2021-08-04 02:12] bluewww commented on #651
@RTLhamster Until the official CORE-V GCC catches up, you could try PULP GCC (v2.4.0 based on gcc 9.2.0) here https://github.com/bluewww/riscv-gnu-toolchain/. We use it at ETH to compile for the cv32e40p. It supports `*_xcorev`, but you probably need to disable hardware loops (`-mno-pulp-hwloop`). Here is an overview https://github.com/bluewww/riscv-gnu-toolchain/blob/master/pulp.md

[2021-08-11 09:42] AkhilBR98 opened #654 "Does this core support atomic instruction set"

[2021-08-11 12:20] MikeOpenHWGroup commented on #654
Hi @AkhilBR98, thanks for your interest.  The short answer to your question is "no".  The CV32E40P is an RV32IMCZ core (Z extensions are Zicount, Zicsr amd Zifencei).  The complete User Manual for this core is [here](https://cv32e40p.readthedocs.io/en/latest/intro/).   The CV32E40P can optionally support floating point and some custom instructions, but these are not yet fully verified.

The [CV32E

[2021-08-11 12:20] #654 closed

[2021-08-19 08:59] jeremybennett opened #655 "misa CSR is documented as read/write - should be read-only"
https://cv32e40p.readthedocs.io/en/latest/control_status_registers/#cs-registers lists `misa` as `MRW`, it should be `MRO`

### Type
Indicate whether the type of problem you found:
* Factually incorrect information.

### Location of Issue
Please provide:
1. URL to the document: https://cv32e40p.readthedocs.io/en/latest/control_status_registers/#cs-registers

### Additional context
None

[2021-08-19 12:29] davideschiavone commented on #655
this issue belongs to cv32e40p

[2021-08-19 12:29] #655 closed

[2021-08-20 10:03] #616 closed

[2021-08-20 10:59] davideschiavone opened #657 "cv.add.{div2,div4,div8} encoding in DOC does not match RTL"
In the documentation,

cv.add.{div2,div4,div8} func5 (bits 31-27) are: **01011**

However, the RTL is: **01110**

This is an error of the Documentation that may effect the compiler too

[2021-08-20 11:00] davideschiavone commented on #657
@nbruschi, can you comment about the compiler? what does it implement?

[2021-08-20 13:29] NBruschi commented on #657
If I'm not mistaken, SIMD instructions were not already in development at the toolchain side. Am I right @jeremybennett ?

[2021-08-20 17:13] davideschiavone opened #660 "redudant pulp instructions in documentation"
Instructions like cv.muls or cv.mulu are redudant as they are a special case (immediate field equal to 0) of the cv.mulsN and cv.muluN instructions

[2021-08-23 14:29] davideschiavone opened #662 "Replace "Don't Care" in the PULP extensions encoding with 0s"
The reason is that the compiler would never emit an instruction with an "x" anyway - plus leaving the don't care means stealing opcode space for custom instructions.
The drawback is that the decoder would become more complicated in terms of GATEs as more illegal conditions would be defined, but we think it is a negligible cons

[2021-08-23 14:31] davideschiavone opened #663 "Add more checks for illegal conditions in the PULP decoder"
following what the issue #650 and #629 report - this has to start after pull request #659 is merged

[2021-08-24 14:17] #650 closed

[2021-08-24 14:34] davideschiavone commented on #660
closed by #661

[2021-08-24 14:34] #660 closed

[2021-08-30 14:57] davideschiavone commented on #657
asking also @jessicamills

[2021-08-31 08:00] jessicamills commented on #657
@davideschiavone, @NBruschi is correct. We have not added SIMD instructions to the tool chain.

[2021-08-31 13:53] #657 closed

[2021-09-23 14:10] MikeOpenHWGroup opened #668 "Add FPU integration information to the User Manual"
The [Floating Point Unit chapter of the User Manual](https://github.com/openhwgroup/cv32e40p/blob/master/docs/source/fpu.rst) contains very little information about how the CV32E40P and FPU should be configured to ensure proper operation.  There are parameters in both the CV32E40P (see [cv32e40p_pkg.sv](https://github.com/openhwgroup/cv32e40p/blob/master/rtl/include/cv32e40p_pkg.sv#L726)) and FPU

[2021-09-24 14:15] davideschiavone commented on #668
@pascalgouedo can probably help with his specific use-case.

In the testbench, for what concerns the single-core, here are the parameters used: https://github.com/openhwgroup/cv32e40p/blob/master/example_tb/core/cv32e40p_fp_wrapper.sv#L62

[2021-09-24 15:21] MikeOpenHWGroup commented on #668
Thanks @davideschiavone.  We are aware of the parameters used in the single-core testbench.  The purpose of this issue is to have these recorded and documented in the User Manual to the same level of detail as we currently have captured for the other parameters in CV32E40P.  This is important for two reasons:
1. The verification team needs to have a single-point of reference for the proper configu

[2021-09-28 13:27] pascalgouedo commented on #668
Hi,
Compared to the single-core test-bench parameter values, I just changed:
- EnableNaNBox to 1 even if I guess it is not necessary. But it allows to have all FPnew configs to be aligned on this point.
- FP operation latencies with more values because I think keeping only 0 (and 1 for DIV/SQRT) will maybe reduce overall max frequency. We are going to make different experiments of PPA analysis wit

[2021-10-14 14:20] MikeOpenHWGroup opened #669 "Please update the User Manual to clarify "interrupt occurs during step" behavior"
As discussed in [core-v-verif issue 904](https://github.com/openhwgroup/core-v-verif/issues/904), the specified behaviour in Debug Spec 0.13.2 for a RISC-V core when an interrupt occurs while the core is stepping is somewhat ambiguous.  After the 0.13.2 spec was released, this ambiguity was discussed in:

 https://github.com/riscv/riscv-debug-spec/issues/510
 https://github.com/riscv/riscv-debug-s

[2021-10-15 15:39] tariqkurd-repo opened #670 "RTL lint warnings"
![image](https://user-images.githubusercontent.com/59061376/137514502-55ee3af7-bd89-417f-b0bd-5372d4cf2f1d.png)

The E40P generates these lint warnings. They can all be fixed either by specifying the width of the constant (e.g. 1'b1 instead of 1) or casting to a user defined type.
e.g.

`typedef logic [31:0] word_t;`
`word_t a,b,c;`
`always_comb a = (word_t)'(b+c);`

removes the warning from the l

[2021-11-07 05:00] SOUMYADIPSAHA10 opened #671 "Linux Compatible"
Hello,
Is this Core Linux compatible?

[2021-11-07 13:42] MikeOpenHWGroup commented on #671
The CV32E40P is a "embedded class" processor intended to be used in IoT devices.  If you are looking for an "application class" processor have a look at the [CVA6](https://github.com/openhwgroup/cva6).  That core has a configurable XLEN (32- and 64-bit) and runs Linux in both configurations.

[2021-11-07 13:42] #671 closed

[2021-11-25 11:24] Yym996 commented on #588
Hello, @jake-ke

I'm also trying to run the simulation of hello world, but there is something wrong with it.

I added the rtl and tb files in the project as you did. And also added the hex file only for simulation.

But it shows warning:

![image](https://user-images.githubusercontent.com/62664849/143432863-1aabbcd0-5801-4f33-873d-a42cf7dab261.png)

I started work with vivado not long ago, have no

[2021-12-03 10:29] #669 closed

[2021-12-21 12:26] mohamedElbouazzati opened #677 "How to simulate the cv32e40p_tracer with verilator ?"
Hello @openhwgroup,

i'm using the core-v-verif to simulate the cv32e40p with verilator, i found the tracer block in cv32e40p documentation which can provide us a log file of  traces which something that interests me.

As provided in documentation i added this line` CV32E40P_TRACE_EXECUTION` in the `tb_top.sv` located in `/core-verif/cv32e40p/tb/core ` i'm a beginner with SystemVerilogi,  Is this

[2021-12-21 13:59] MikeOpenHWGroup commented on #677
Hi @mohamedElbouazzati.  The best place to look is the manifests and Makefiles for the UVM environment.  The core testbench is a demonstration vehicle which does not have either a tracer or reference model.  Note that the UVM environment will not compile using Verilator, so you will require a commerical SV simulator.

Having said that, it should be possible to add the Tracer to the core testbench

[2021-12-28 21:34] mohamedElbouazzati commented on #677
Hello @MikeOpenHWGroup ,

As you said i tried to add` 'define CV32E40P_TRACE_EXECUTION` in the testbench for verilator but still have many errors, i'm trying to use another version of verilator and will post the error maybe here or in another issue.

Thanks

[2021-12-28 21:40] bluewww commented on #677
I don't think the version of verilator matters too much. Verilator doesn't support the SystemVerilog features used in the tracer code.

[2021-12-28 22:24] MikeOpenHWGroup commented on #677
(embarrassed cough)  Ah, my apologies @mohamedElbouazzati.  @bluewww is correct.  The CV32E40P tracer uses SV class data members and several UVM macros.  Verilator does not support these code constructs.   Sorry for providing you with incorrect information.  You might want to try Xilinx Vivado.  The free version of their SV simulator supports _almost_ all of IEEE1800-2017 and is known to support U

[2021-12-29 13:24] mohamedElbouazzati commented on #677
Hi,

Thank you so much @MikeOpenHWGroup and @bluewww for this clarification,for your information : i found also on github  in `antmicro/verilator-dynamic-scheduler-examples` a verilator version that support now some of UVM macros (randomize, fork, events, ..) and it is under development to support full UVM environment, i will try this also with the tracer and give you a feedback, maybe it will be

[2021-12-29 14:00] #677 closed

[2021-12-30 12:49] LatifAkcayGithub opened #678 "Illegal Instruction Error while Running a FFT application?"
Hello,

We are trying to run 2048 point FFT operation on Pulpissimo (CV32E40P).
While lower number of FFT codes run successfully ( 128, 256, 1024), 2048 points version code is stuck.
We think that it may be a memory problem. So, we extend the instruction memory(PRI_1) to 128 K and Data memory (PRI_0) to 256 K.
After the memory extension, the lower FFT points again run successfully. However, 2048 p

[2021-12-30 13:57] bluewww commented on #678
In modelsim you can check what the address of the illegal instruction is that should tell you already a lot of what is going wrong. Also this is not a cv32e40p problem as far as I can tell so this issue should be closed.

[2022-01-05 16:39] #663 closed

[2022-01-05 16:43] davideschiavone commented on #629
fixed in #665

[2022-01-05 16:43] #629 closed

[2022-01-05 16:44] davideschiavone commented on #678
Agree with @bluewww - did you only change the linker script or did you also change the HW @LatifAkcayGithub ?

[2022-01-05 16:47] davideschiavone commented on #662
fixed in #664

[2022-01-05 16:47] #662 closed

[2022-01-11 10:05] mohamedElbouazzati commented on #677
Hi @MikeOpenHWGroup,

Finally, I got good results with the Xilinx Vivado simulator.

Thank you

[2022-01-11 14:32] MikeOpenHWGroup commented on #677
That is terrific @mohamedElbouazzati!  I am impressed by your tenacity.

It would be a valuable contribution to OpenHW if you could provide the Makefile that works with Vivado.

[2022-03-08 10:14] davideschiavone commented on #452
@jm4rtin , @jeremybennett any comment on this?

[2022-03-10 12:24] abukharmeh opened #684 "reg_fp* values are wrong when PULP_Zfinx is enabled"
https://github.com/openhwgroup/cv32e40p/blob/b7c91867b2f611013dbe98150e745b1a2ff6b7c6/rtl/cv32e40p_decoder.sv#L1412-L1414

The values of reg_fp_* are assigned incorrectly when Zfinx is enabled, and then overridden in Register file, and now in #683  in the tracer.

I think PULP_ZFINX parameter value should be passed to the decoder module, and these values should be assigned to `!PULP_ZFINX`

[2022-03-14 16:09] pascalgouedo commented on #684
I agree that the FP RF use or not should be made as soon as possible in RTL logic to avoid to duplicate things later on in ID and in tracer.
In fact moving/merging fregfile_ena from ID to Decoder.

[2022-03-14 18:13] abukharmeh commented on #684
This looks really good, thank you very much.

I wonder if we could do direct assignment from parameter to logic, i.e reg_fp_a_o  =  1'(!ZFINX_EN)

I had a quick look at https://github.com/lowRISC/style-guides/blob/master/VerilogCodingStyle.md and could not find anything that discourage that ?

[2022-04-03 14:38] mattvlsi opened #689 "Building Project and Verification"
I'm a newby on Risc-v cores and its verification. I cloned core-v-verif and cv32e40p repos and run make at
**~/core-v-verif/cv32e40p/sim/core**:
I'm getting those errors:
**~/core-v-verif/mk/Common.mk:83: Must define a DPI_DASM_SPIKE_REPO to use the common makefile
~/core-v-verif/mk/Common.mk:253: *** CV_SW_TOOLCHAIN not defined in either the shell environment, test.yaml or cfg.yaml.  Stop.**

How

[2022-04-03 23:55] MikeOpenHWGroup commented on #689
Thanks for your issue @mattvlsi.  Have you had a look at the [Quick Start Guide](https://core-v-docs-verif-strat.readthedocs.io/en/latest/quick_start.html) in the Verification Strategy document on ReadTheDocs?  Following the QSG _should_ get you running (please let me know if it does not).

Defining **DPI_DASM_SPIKE_REPO** is only required if you are using the ISACOV functional coverage model, whi

[2022-04-05 08:54] mattvlsi commented on #689
Thank you @MikeOpenHWGroup for clear explanation. If I can build on Vivado and run testbenches on it, definitely I will let you know. I have one more question. I need to have Double Precision FPU on my Riscv. I saw Double Precision option in fpnew source files. Is it adaptable on cv32e40p or is there any other open source core that implements Double FP (RV32IMFD)? Thanks.

[2022-04-05 12:46] MikeOpenHWGroup commented on #689
The short answer to your question is "yes, but the F and D extensions are not yet fully verified".  If you are interested in more details please reach out to me at my email address, or better yet on OpenHW's [MatterMost](https://mattermost.openhwgroup.org/) chat service.

If this issue is resolved please mark it Closed, and I'll look forward to your pull-request to bring in the Vivado simulator.

[2022-04-05 12:50] #689 closed

[2022-04-06 15:42] pascalgouedo commented on #452
Hi,
Here is a new version [pulp_encoding_blocks-OPHW-jm-jpb-pgo-2022-04-06.xlsx](https://github.com/openhwgroup/cv32e40p/files/8428465/pulp_encoding_blocks-OPHW-jm-jpb-pgo-2022-04-06.xlsx) with X's removal and some bit manip instructions grouping in custom-3.

[2022-04-20 06:26] davideschiavone opened #693 "Document dev contribution with aws CI"
# Add both in README and Documentation on how to contribute new RTL changes that leverage our CI flow

[2022-04-22 10:54] #693 closed

[2022-04-25 09:34] davideschiavone opened #697 "Adding CI to check whether the code is formatted with Verible"
As described in the title, this repository requires the code to be formatted with Verible.
This script checks on PRs that this holds true

[2022-04-26 16:39] pascalgouedo commented on #452
Last update on pack instructions [pulp_encoding_blocks-OPHW-jm-jpb-pgo-2022-04-26.xlsx](https://github.com/openhwgroup/cv32e40p/files/8565176/pulp_encoding_blocks-OPHW-jm-jpb-pgo-2022-04-26.xlsx)

[2022-04-27 06:29] pascalgouedo commented on #452
Thanks John.
#700 will only be documentation updates.
I will submit another PR with RTL changes.

[2022-04-27 09:20] weik56100 opened #701 "Question about RTL bloc : cv32e40p_alu_div.sv file"
I try to understand which algorithm is implemented in the calculation of the division on signed integers. (cv32e40p_au_div.sv)

As the division is not constant time (3-35 cycles), I would like to modify the algorithm to make it constant time.

Two ways for me:

Worst case:

- Take the worst case and make the division always take 35 cycles under any circumstances.

Best case:

- By a much shorter c

[2022-04-28 13:46] pascalgouedo commented on #452
#700 replaced by #704.

[2022-05-04 05:10] EkanshBhatnagar commented on #170
Can I tackle this bug ?

[2022-05-04 06:41] davideschiavone commented on #170
hi @EkanshBhatnagar , of course you can, everyone can :) thanks, please synchronize with @pascalgouedo

[2022-05-04 10:59] pascalgouedo commented on #170
Hi,
After some CV32E40P RTL analysis, here is the status:
- FS (and SD) are always hardwired to 0 even when FPU = 1

After some RISC-V spec analysis, here are some remarks:
- If no S-Mode and FPU = 0 (v1 tag case), F-extension CSRs / f0–f31 registers read/write accesses and FS field write access should raise illegal exception => agreed.
- If no S-Mode and FPU = 1 (will be v2 tag case), FS should b

[2022-05-11 09:27] weik56100 commented on #701
Update:

I was able to set up the first case, everything works correctly after my various tests.

For the second case I would like to implement a non-restoring division in base 4.

From which source/algorithm was the RTL block of the division built?

I am trying to understand what is in place so I can modify it later.

Thanks

[2022-05-11 12:27] MikeOpenHWGroup commented on #701
Hi @weik56100.  I did not design the divider in CV32E40P, so I do not have a definitive answer for you, but I believe the algorithm used is "non restorative long division".  [Here](https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9340245) is a paper that summarizes the characteristics of multiple division algorithms.

[2022-05-17 07:19] pascalgouedo commented on #462
Due to following Hardware Loop constraint from User Manual, both counters can never be decremented at the same time.
So hwlp_dec_cnt_i can not be at 2'b11 but only 2'b01 or 2'b10.

- The End address of the outermost HWLoop (1) must be at least 2 instructions further than the End address innermost HWLoop (0), i.e. HWLoop[1].endaddress >= HWLoop[0].endaddress + 8. An illegal exception is raised othe

[2022-06-07 10:21] a7med7asan15 opened #709 "Counting Leading bits: Zeros or Ones or Max?"
Hello Everyone!
My question is regarding the instruction: cv.clb rD,rs1 It's an XPULP Instruction

Instruction Description: rD = count leading bits of rs1 Note: This is the number of consecutive 1’s or 0’s from MSB. Note: If rs1 is 0, rD will be 0.

It's not clear what it counts. Does it count the maximum leading bits whether zeros or ones?

[2022-06-07 13:03] pascalgouedo commented on #709
Hi Hassan,

Starting from the MSB of the operand, it counts all the bits with the same polarity until it finds a bit with the opposite polarity.
Examples:

00000100010010... = 5
11111111010010... = 8

Pascal.

From: Ahmed Hassan ***@***.***>
Sent: mardi 7 juin 2022 12:21
To: openhwgroup/cv32e40p ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [openhwgroup/cv32e40p] Counting Leading bits: Zeros o

[2022-06-07 14:29] a7med7asan15 commented on #709
It's clear now.
Thanks Pascal

[2022-06-07 14:29] #709 closed

[2022-06-07 14:40] a7med7asan15 opened #710 "Immediate scalar replication mode example"
Hi OpenHw Team,
In Immediate scalar replication mode section. It is described here:

e.g. cv.add.sci.h x3,x2,0xDA performs:
x3[31:16] = x2[31:16] + 0xFFDA
x3[15: 0] = x2[15: 0] + 0xFFDA

The immediate is only 6 bits wide, Shouldn't the maximum value for the immediate to be 0x3F (0011 1111) ? Why the example mentioned 0xDA (1101 1010) ?

Also in the decoding tables, Sometimes the immediate is Imm6[

[2022-06-10 01:53] neekoli opened #711 "How to build C standard lib to RV32I instead of RV32IMC?"
Recently, I need to build my program into **RV32I**（every instruction）. But it seems that C standard lib **(e.g stdio.h string.h stdint...)** would be built into **RV32IMC** . I feel really puzzled and find nowhere to configurate the build options.

[2022-06-12 17:49] MikeOpenHWGroup commented on #711
Hi @neekoli.  This is a toolchain issue, not an issue related to the cv32e40p.

[2022-06-12 17:49] #711 closed

[2022-08-08 02:54] Xuequan opened #718 "Maybe an error: number of inter registers is only 16"
I am a newer.  Please forgive me if i am wrong. BTW,thanks for great project.
1. file : https://github.com/pulp-platform/cv32e40p/blob/master/rtl/cv32e40p_register_file_ff.sv
2. Command line : line 66 & 68

[2022-08-08 07:27] pascalgouedo commented on #718
Hi,

CV32E40P is RV32I so its register file has 32 integer registers.
If FPU is enabled then an additional register file is present with 32 floating-point registers.

Regards.

[2022-08-08 07:44] #718 closed

[2022-08-08 07:45] davideschiavone commented on #697
778ec540ace23deb114a5827778eefa0616e1b6c

[2022-08-08 07:45] #697 closed

[2022-08-08 07:45] #701 closed

[2022-08-12 00:31] Xuequan commented on #718
Dear Davide Schiavone,

Thanks for your quick reply. But still confused.  Yes, register number is 32.

Code 31 & 66 as below:

 parameter ADDR_WIDTH = 5,

  localparam NUM_WORDS = 2 ** (ADDR_WIDTH - 1);

So, NUM_WORDS = 2^4 = 16.  Not 32 ?

This is where I don't understand.

在 2022-08-08 15:44:15，"Davide Schiavone" ***@***.***> 写道：

Closed #718 as completed.

—
Reply to this email directly, view i

[2022-08-12 07:09] pascalgouedo commented on #718
Hi,

Value 5 for parameter ADDR_WIDTH is a default value if this parameter is not set when cv32e40p_register_file block is instantiated at upper level.
But this parameter default value is overridden to 6 in cv32e40p_id_stage when instantiating cv32e40p_register_file.

Regards,
Pascal.

[2022-08-12 07:55] Xuequan commented on #718
Dear Davide Schiavone,

Got it!
Thanks for your quick reply!  It is very nice of you.
I hope all is well with you.

At 2022-08-12 15:09:13, "pascalgouedo" ***@***.***> wrote:

Hi,

Value 5 for parameter ADDR_WIDTH is a default value if this parameter is not set when cv32e40p_register_file block is instantiated at upper level.
But this parameter default value is overridden to 6 in cv32e40p_id_stage

[2022-09-07 09:18] #710 closed

[2022-09-07 11:45] MikeOpenHWGroup commented on #710
Hi @a7med7asan15, I am not clear about why you closed this issue.  Is your question answered?  If so, where?

[2022-09-27 14:50] salaheddinhetalani opened #721 "OBI R-7 and R-8 violations"
### Issue Description
OBI R-7 and R-8 rules are violated by misaligned memory instructions causing multiple memory accesses in case they are preceded by a multicycle F instruction, as they set the wrong byte enable value during the second memory access.

### Component
**Component:RTL**

### OBI Specification

At least one of the be bits shall be set to 1.
The 1’s in be shall be contiguous.

### RI

[2022-09-27 14:50] salaheddinhetalani opened #722 "Wrong instruction fetch caused by multicycle F instructions | Forwarding issue"
### Issue Description
Jump instructions set the wrong PC in case they are preceded by a multicycle F instruction and their source register is the same destination register of the floating point one.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The first instruction updates `x8` register (`Zfinx`

[2022-09-27 14:50] salaheddinhetalani opened #723 "Wrong data memory access of misaligned memory instructions caused by multicycle F instructions"
### Issue Description
Misaligned memory instructions causing multiple memory accesses set wrong second memory access in case they are preceded by a multicycle F instruction.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The load instruction sets the memory access at `t##1` correctly, setting the

[2022-09-27 14:50] salaheddinhetalani opened #724 "Unknown instructions execute with no illegal instruction exception raised"
### Issue Description
Illegal instruction exception is not raised for unknown instructions that have the opcode of an F instruction.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The unknown instruction `32'h4813f053` that has the opcode of F instructions `8'h53` is decoded at `t##0` and executed

[2022-09-27 14:50] salaheddinhetalani opened #725 "Non-Zfinx (F only) instructions execute with no illegal instruction exception raised"
### Issue Description
Illegal instruction exception is not raised for executing FMV.W.X, FMV.X.W, FLW, FSW or the compressed versions of them, as these instructions shouldn't exist if Zfinx is set.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The `flw` instruction `32'h42002007` is decoded at `t

[2022-09-27 14:51] salaheddinhetalani opened #726 "F multiply accumulate instructions set underflow flag of fflags wrongly"
### Issue Description
FMADD.S, FMSUB.S, FNMADD.S, FNMSUB.S instructions set underflow flag "UF" of fflags wrongly.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The instruction `fmadd.s` is decoded at `t##0` and executed updating the integer register file at `t##1` while setting the underflow fla

[2022-09-27 14:51] salaheddinhetalani opened #727 "FCVT.W.S instructions set invalid operation flag of fflags wrongly"
### Issue Description
FCVT.W.S instructions set invalid operation flag "NV" of fflags wrongly.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The instruction `fcvt.w.s` is decoded at `t##0` and executed updating the integer register file at `t##1` while setting the invalid flag `NV` of `fflags` CS

[2022-09-27 14:51] salaheddinhetalani opened #728 "FMUL.S instructions calculate wrong result when either of the operands is 0"
### Issue Description
FMUL.S instructions calculate wrong result when either of the operands is 0.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The instruction `fmul.s` is decoded at `t##0` and executed updating the integer register file at `t##1` while setting the wrong result of negative 0 for

[2022-09-27 14:51] salaheddinhetalani opened #729 "FMUL.S instructions set underflow flag of fflags wrongly"
### Issue Description
FMUL.S instructions set underflow flag "UF" of fflags wrongly.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The instruction `fmul.s` is decoded at `t##0` and executed updating the integer register file at `t##1` while setting the underflow flag `UF` of `fflags` CSR wrongly.

[2022-09-27 14:51] salaheddinhetalani opened #730 "Custom Xpulp instructions update register file wrongly | Forwarding issue"
### Issue Description
Custom XPULP instructions, CV.ADDxNR and CV.SUBxNR, read invalid source operand in case they are preceded by a multicycle F instruction and their source register is the same destination register of the floating point one, thus resulting wrong register file update.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following

[2022-09-27 14:51] salaheddinhetalani opened #731 "Custom memory Xpulp instructions set extra memory access"
### Issue Description
Custom load or store I or RI instructions set extra memory access in case they are preceded by a multicycle F instruction.

### Component
**Component:RTL**

### RISC-V Specification

### Steps to Reproduce

As shown below, the following sequence of instructions happens:

The instruction `cv.lw.i` is decoded at `t##0` and executed updating the integer register file at `t##1` w

[2022-09-30 11:00] pascalgouedo commented on #452
Hi
As always when starting to implement specification and verifying it, you find some problems you didn't anticipate.
Here things are that some ALU control signals are not generated in decoder file but in id one and were not analysed/taken into account in previous versions of re-encoding tables (at least by me).

Here is a new [pulp_encoding_blocks-OPHW-2022-09-26.xlsx](https://github.com/openhwgr

[2022-10-16 14:25] gullahmed1251 opened #734 "Request For contribution"
Dear Team,

We are motivated by the idea behind open source development and PULP project, so want to contribute to cv32e40p as a project.
We are adding the support for Zba, Zbb, Zbc and Zbs extensions to cv32e40p. We want to start my journey by adding support for Bit Manipulation Extension. Nevertheless, first, we want to understand whether is it really necessary and useful for cv32e40p, or is it